<template>
	<v-card>
		<v-card-title class="headline">Insert Arithmetic Expression</v-card-title>
		<v-card-text>
			<v-row>
				<v-select
						outlined
						v-model="selectedArithmetic"
						:items="arithmetics"
						item-text="operator"
						item-value="operator"
						return-object
						label="Select a arithmetic function"
						@change="onChangeArithmetic()"
					></v-select>
			</v-row>
			<v-row v-show="selectedArithmetic.operator" style="display: flex; flex-direction: column">
				<p class="headline">Description: {{selectedArithmetic.description}}</p>
				<p class="headline">Minimum Parameter: {{selectedArithmetic.minParam}}</p>
				<p class="headline">Maximum Parameter: {{selectedArithmetic.maxParam}}</p>
			</v-row>
			<v-row>
				<p class="headline">Parameter:</p>
			</v-row>
			<v-row class="d-flex">
				<v-col cols="4" v-for="(param, index) in parameters.length" :key="index">
					<v-select
						v-model="parameters[index]"
						outlined
						:items="availableHeaders"
						item-text="text"
						item-value="text"
						label="Select a field"
						:append-outer-icon="parameters.length > selectedArithmetic.minParam ? 'clear': ''"
						@click:append-outer="clearParam(index)"
						@change="onChangeParam($event, index)"
					></v-select>
				</v-col>
			</v-row>
			<v-row>
				<v-textarea
				readonly
					ref="expressionInput"
					label="Expression"
					auto-grow
					outlined
					rows="4"
					row-height="15"
					v-model="expression"
				></v-textarea>
			</v-row>
		</v-card-text>
		<v-card-actions>
			<v-spacer></v-spacer>
			<v-btn @click="$emit('closeDialog', false)" text>Cancle</v-btn>
			<v-btn color="primary" class="white--text" :disabled="!isValid" @click="insert()">Insert</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
	data() {
		return {
			selectedArithmetic: {},
			numberDataTypes: ["integer", "decimal"],
			parameters: []
		};
	},
	computed: {
		...mapGetters({
			arithmetics: "arithmetic/arithmetics",
			headers: "datasource/headers"
		}),
		availableHeaders() {
			return this.headers.filter(header => {
				return this.numberDataTypes.includes(header.datatypes[0]);
			});
		},
		availableParameters() {
			let num = this.parameters.length + 1;
			if (
				this.selectedArithmetic &&
				num > this.selectedArithmetic.maxParam
			) {
				num = this.selectedArithmetic.maxParam;
			} else if (
				this.selectedArithmetic &&
				num < this.selectedArithmetic.minParam
			) {
				num = this.selectedArithmetic.minParam;
			}
			return num;
		},
		expression: {
			get() {
				if (this.selectedArithmetic.operator) {
					let hasContent = false;
					let exp = this.selectedArithmetic.operator + "(";
					for (
						let index = 0;
						index < this.parameters.length;
						index++
					) {
						if (this.parameters[index] != "") {
							hasContent = true;
							exp += "«" + this.parameters[index] + "»" + ", ";
						}
					}
					if (hasContent) {
						//remove last space
						exp = exp.trim();
						//remove last comma
						exp = exp.slice(0, -1);
					}
					exp += ")";
					return exp;
				} else {
					return "";
				}
			},
			set(val) {}
		},
		isValid() {
			if(this.selectedArithmetic.operator) {
				let min = this.selectedArithmetic.minParam;
				let max = this.selectedArithmetic.maxParam;
				let parametersArray = this.parameters;
				let count = 0;
				for(let i = 0; i < parametersArray.length; i++) {
					if(parametersArray[i] != "") {
						count++;
					}
				}
				return min <= count && count<= max ? true : false;
			}
			return false;
		}
	},
	methods: {
		...mapActions({}),
		clearParam(index) {
			this.parameters.splice(index, 1);
		},
		onChangeParam(val, index) {
			this.parameters.splice(index, 1, val);
			if (this.parameters.length < this.selectedArithmetic.maxParam) {
				this.parameters.push("");
			}
		},
		onChangeArithmetic() {
			this.parameters = [];
			let num = this.parameters.length + 1;
			if (
				this.selectedArithmetic &&
				num > this.selectedArithmetic.maxParam
			) {
				num = this.selectedArithmetic.maxParam;
			} else if (
				this.selectedArithmetic &&
				num < this.selectedArithmetic.minParam
			) {
				num = this.selectedArithmetic.minParam;
			}
			for (let i = 0; i < num; i++) {
				this.parameters.push("");
			}
		},
		insert() {
			if(this.selectedArithmetic.operator) {
				this.$emit('onInsert', this.expression);
			}
		}
	}
};
</script>

<style>
</style> {}