<template>
  <v-card>
    <v-card-title class="headline">Create Job</v-card-title>

    <v-card-text>
      <v-text-field
        class="mt-2"
        outlined
        v-model="jobName"
        background-color="white"
        placeholder="Job Name"
      >
        <template v-slot:append-outer>
          <v-btn color="indigo" dark @click="dialogSchedule = true"
            >Set Time</v-btn
          >
          <v-btn
            class="ml-2"
            color="indigo"
            v-if="isSetTime"
            dark
            @click="clearTime()"
            >Clear Time</v-btn
          >
        </template>
      </v-text-field>
      <v-row class="headline">
        <v-col cols="6">
          <v-select
            :items="templates"
            label="Template"
            v-model="selectedTemplate"
            outlined
            item-text="name"
            item-value="id"
          ></v-select>
        </v-col>
        <v-col cols="6">
          <v-select
            :items="datasources"
            label="Datasource"
            @change="onChangeDatasource()"
            v-model="selectedDatasource"
            item-text="name"
            item-value="id"
            outlined
          ></v-select>
        </v-col>
      </v-row>
      <v-row class="headline" v-if="isSetTime">
        <p class="ml-4 mt-2 black--text">Execute Time: {{ executeTime }}</p>
      </v-row>
      <!-- <v-row class="headline" v-if="this.rows">
				<p class="ml-4 mt-2 black--text">Price: {{price}}</p>
			</v-row>-->
      <v-row class="ml-1">
        <v-checkbox
          class="mr-10"
          color="primary"
          label="Send Email"
          value="1"
          v-model="outputOptions"
        ></v-checkbox>
        <v-checkbox
          class="mr-10"
          color="primary"
          label="Download PDF"
          value="2"
          v-model="outputOptions"
        ></v-checkbox>
        <v-checkbox
          color="primary"
          label="Specific Link"
          value="3"
          v-model="outputOptions"
        ></v-checkbox>
      </v-row>
      <v-row class="ml-1 mr-2 mb-4" v-if="outputOptions.includes('1')">
        <v-card width="100%">
          <v-card-title>Sending Email</v-card-title>
          <v-card-text>
            <p class="headline mt-2 black--text">From:</p>
            <v-select
              v-model="smtp"
              :items="smtps"
              item-text="name"
              item-value="id"
            ></v-select>
            <p class="headline mt-2 black--text">To:</p>
            <v-row>
              <v-col
                cols="4"
                v-for="(header, index) in emailHeaders"
                :key="index"
              >
                <v-checkbox
                  v-model="emailHeader"
                  color="primary"
                  :label="header.columnName"
                  :value="header.columnName"
                ></v-checkbox>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
      <v-row class="ml-1 mr-2" v-if="outputOptions.includes('3')">
        <v-card width="100%">
          <v-card-title>Specific Link</v-card-title>
          <v-row>
            <p class="headline ml-7 mt-2 black--text">
              Filter Link:
              <span>{{ speacificDomain }}</span
              >/documents/<span>{{ customURL }}</span>
              <span v-for="(param, index) in speacificLink" :key="index"
                >/{{ param }}</span
              >
            </p>
          </v-row>
          <v-card-text>
            <v-text-field label="Domain" v-model="speacificDomain" />
            <v-text-field label="Root Parameter" v-model="customURL" />
            <v-row>
              <v-col
                cols="4"
                v-for="(param, index) in speacificLink.length + 1"
                :key="index"
              >
                <v-select
                  :append-outer-icon="speacificLink.length > 0 ? 'clear' : ''"
                  @click:append-outer="closeParam(index)"
                  @change="onChangeSpecificLinkParam($event, index)"
                  item-text="columnName"
                  item-value="columnName"
                  :items="headersFromServer"
                  label="Select a header"
                  outlined
                  v-model="speacificLink[index]"
                ></v-select>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
      <v-row class="ml-1">
        <v-checkbox
          v-model="isNotify"
          color="primary"
          label="Receive Email When Job Done"
        ></v-checkbox>
      </v-row>
      <v-row class="ml-1" v-if="isNotify">
        <v-text-field
          label="Email"
          :rules="emailRules"
          v-model="notifyEmail"
        ></v-text-field>
      </v-row>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        class="white--text"
        @click="$emit('closeDialog', false)"
        text
        >Cancel</v-btn
      >
      <v-btn
        v-if="isEdit"
        color="purple"
        class="white--text"
        :disabled="!validate || isLoadingSaveJob"
        @click="showConfirm()"
        text
        :loading="isLoadingSaveJob"
        >Save</v-btn
      >
      <v-btn
        v-if="!isEdit"
        color="purple"
        class="white--text"
        :disabled="!validate || isLoadingSaveJob"
        @click="showConfirm()"
        text
        :loading="isLoadingSaveJob"
        >Create</v-btn
      >
      <!-- <v-btn color="success" :disabled="!jobName" @click="createCurrentJob()" text>Create & Start</v-btn> -->
    </v-card-actions>

    <v-dialog v-model="dialogSchedule" max-width="700px">
      <Schedule
        :isEdit="isEdit"
        :cron="cron"
        @onSetTime="onSetTime($event)"
        @onCloseScheduleDialog="dialogSchedule = $event"
      ></Schedule>
    </v-dialog>
    <v-dialog v-model="dialogConfirm" max-width="500px">
      <v-card>
        <v-card-title class="display-1">{{isEdit ? 'Save' : 'Create'}} Job Confirmation</v-card-title>

        <v-card-text class="headline">
          <p>
            Your job's price is {{ jobConfirmPrice }}$. Do you want to
            continue?
          </p>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn v-if="!isEdit" color="green darken-1" text @click="saveJob()"
            >Create</v-btn
          >
		  <v-btn v-if="isEdit" color="green darken-1" text @click="updateJobRequest()"
            >Save</v-btn
          >

          <v-btn color="green darken-1" text @click="dialogConfirm = false"
            >Cancel</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Schedule from "@/components/user/Schedule";
import axios from "@/plugins/axios";
export default {
  components: {
    Schedule,
  },
  props: ["isEdit", "editJob"],
  data() {
    return {
      isLoadingSaveJob: false,
      dialogSchedule: false,
	  dialogConfirm: false,
	  jobConfirmPrice: 0,
      smtp: "",
      isSetTime: false,
      outputOptions: [],
      speacificLink: [],
      speacificDomain: "odm.com",
      customURL: "",
      emailHeader: [],
      isNotify: false,
      notifyEmail: "",
      emailRules: [
        (v) => !!v || "Please insert Email",
        (v) =>
          /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
            v
          ) || "Invalid Email",
      ],
      selectedTemplate: null,
      selectedDatasource: null,
      executeTime: "",
      cron: "",
      loading: [],
      headersFromServer: [],
    };
  },
  mounted() {
    if (!this.isEdit) {
      if (!this.datasource.name) {
        let generateName =
          "Datasource " + new Date().toISOString().substr(0, 10);
        this.datasource.name = generateName;
        this.updateDatasource(this.datasource);
      }
      if (this.template && this.datasource) {
        let generateName = this.template.name + " - " + this.datasource.name;
        this.job.name = generateName;
        this.updateJob(this.job);
      }
    } else {
      this.bindingDataFromServer();
    }
    this.getSMTPData();
    this.getTemplates();
    this.getDatasources();
  },
  computed: {
    ...mapGetters({
      template: "template/template",
      templates: "template/templates",
      datasource: "datasource/datasource",
      datasources: "datasource/datasources",
      job: "job/job",
      rows: "datasource/rows",
      headers: "datasource/headers",
      smtps: "smtp/smtps",
    }),
    emailHeaders() {
      return this.headersFromServer.filter((header) => {
        return header.dataType == "email";
      });
    },
    jobName: {
      get() {
        return this.job.name;
      },
      set(val) {
        this.job.name = val;
        this.updateJob(this.job);
      },
    },
    validate() {
      let notifyCheck = true;
      let sendEmail = true;
      let specificLinkCheck = true;
      let atLeastOneOutput = this.outputOptions.length > 0;
      let name = this.currentJobName !== "";
      let customeURLCheck = true;
      if (this.isNotify) {
        notifyCheck = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
          this.notifyEmail
        );
      }
      if (this.outputOptions.includes("1")) {
        sendEmail = this.emailHeaders !== "";
      }
      if (this.outputOptions.includes("3")) {
        specificLinkCheck = this.speacificLink.length > 0;
        customeURLCheck = this.customURL !== "";
      }
      return (
        customeURLCheck &&
        name &&
        atLeastOneOutput &&
        notifyCheck &&
        sendEmail &&
        specificLinkCheck
      );
    },
    price() {
      let rowPrice = this.rows.length / 5.0;
      let ouputPrice = this.outputOptions.length;
      let totalPrice = rowPrice + ouputPrice;
      if (totalPrice % 1 == 0) {
        return totalPrice.toFixed(0) + "$";
      }
      return totalPrice.toFixed(2) + "$";
    },
  },
  methods: {
    ...mapActions({
      getTemplates: "template/getTemplates",
      getDatasources: "datasource/getDatasources",
      updateJob: "job/updateJob",
      createJob: "job/createJob",
      getAll: "smtp/getAll",
      updateDatasource: "datasource/updateDatasource",
    }),
    onSetTime(payload) {
      console.log(payload);
      this.executeTime = payload.explain;
      this.cron = payload.cron;
      this.dialogSchedule = false;
      this.isSetTime = true;
    },
    clearTime() {
      this.executeTime = "";
      this.cron = "";
      this.isSetTime = false;
    },
    async getSMTPData() {
      try {
        const result = await this.getAll();
        if (result.status !== 200) {
          //close Loading
        }
      } catch (err) {
        console.error(err);
        if (err.response) {
          this.$toast.error("Get SMTP Failed!", "Error", {
            position: "topRight",
          });
        }
      }
    },
    showConfirm() {
		let sentData = {
			datasourceID: this.selectedDatasource,
			amount: this.rows.length,
			outputOptions: JSON.stringify(Object.assign({}, this.outputOptions)),
			emailHeader: JSON.stringify(Object.assign({}, this.emailHeader))
		}
      axios({
        method: "POST",
		url: "/api/jobs/price",
		data: sentData
      })
        .then((result) => {
          if (result.status === 200) {
			this.jobConfirmPrice = result.data;
			this.dialogConfirm = true;
          }
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    async saveJob() {
		  this.dialogConfirm = false;
      this.isLoadingSaveJob = true;
      try {
        let sentData = {
          jobName: this.job.name,
          templateID: this.selectedTemplate,
          datasourceID: this.selectedDatasource,
          outputOptions: JSON.stringify(Object.assign({}, this.outputOptions)),
          speacificLink: JSON.stringify(Object.assign({}, this.speacificLink)),
          speacificDomain: this.speacificDomain,
          customURL: this.customURL,
          emailHeader: JSON.stringify(Object.assign({}, this.emailHeader)),
          amount: this.rows.length,
          notifyEmail: this.notifyEmail,
          smtp: this.smtp,
          isSetTime: this.isSetTime,
          cronExpression: this.cron,
        };
        console.log(sentData);
        const result = await this.createJob(sentData);
        if (result.status === 200) {
          this.$emit("closeDialog");
          this.$toast.success("Successfully created job!", "OK", {
            position: "topRight",
          });
        }
      } catch (err) {
        let errorMessage = "Create job failed!";
        if (err.response) {
          errorMessage = err.response.data;
        }
        this.$toast.error(errorMessage, "Error", {
          position: "topRight",
        });
        console.log(err.response);
      }
      this.isLoadingSaveJob = false;
    },
    saveDateTime() {
      console.log(this.date);
      console.log(this.time);
    },
    onChangeSpecificLinkParam(val, index) {
      this.speacificLink.splice(index, 1, val);
    },
    closeParam(index) {
      if (this.speacificLink.length > 0) {
        this.speacificLink.splice(index, 1);
      }
    },
    onChangeDatasource() {
      this.speacificLink = [];
      this.getHeadersByDatasource();
    },
    getHeadersByDatasource() {
      axios({
        method: "GET",
        url: "/api/datasources/" + this.selectedDatasource + "/headers",
      })
        .then((result) => {
          if (result.status === 200) {
            this.headersFromServer = result.data;
          }
        })
        .catch((err) => {
          let errorMessage = "Get Header Error!";
          if (err.response) {
            errorMessage = err.response.data;
          }
          this.$toast.error(errorMessage, "Error", {
            position: "topRight",
          });
          console.log(err.response);
        });
    },
    bindingDataFromServer() {
      if (this.editJob) {
        let job = this.editJob;
        console.log(job);
        this.job.name = job.name;
        this.updateJob(this.job);
        if (job.template) {
          this.selectedTemplate = job.template.id;
        }
        if (job.datasource) {
          this.selectedDatasource = job.datasource.id;
        }

        let mailFields = job.mailHeaders;
        this.emailHeader = [];
        if (mailFields.length > 0) {
          this.outputOptions.push("1");
          mailFields.forEach((element) => {
            this.emailHeader.push(element.name);
          });
        }
        if (job.downloadPDF) {
          this.outputOptions.push("2");
        }
        this.speacificDomain = job.specificDomain;
        this.customURL = job.rootParameter;
        let parameters = job.specificLinkParameters;
        this.speacificLink = [];
        if (parameters.length > 0) {
          this.outputOptions.push("3");
          parameters.forEach((element) => {
            this.speacificLink.push(element.name);
          });
        }
        if (job.smtp) {
          this.smtp = job.smtp.id;
        }
        if (job.mailNotification) {
          this.isNotify = true;
          this.notifyEmail = job.mailNotification;
        }
        this.getHeadersByDatasource();
        if (job.cronExpression) {
          this.isSetTime = true;
          this.cron = job.cronExpression;
        }
      }
    },
    updateJobRequest() {
      this.isLoadingSaveJob = true;
      try {
        let sentData = {
          id: this.editJob.id,
          jobName: this.job.name,
          templateID: this.selectedTemplate,
          datasourceID: this.selectedDatasource,
          outputOptions: JSON.stringify(Object.assign({}, this.outputOptions)),
          speacificLink: JSON.stringify(Object.assign({}, this.speacificLink)),
          speacificDomain: this.speacificDomain,
          customURL: this.customURL,
          emailHeader: JSON.stringify(Object.assign({}, this.emailHeader)),
          amount: this.rows.length,
          notifyEmail: this.notifyEmail,
          smtp: this.smtp,
          isSetTime: this.isSetTime,
          cronExpression: this.cron,
        };
        console.log(sentData);
        axios({
          url: "/api/jobs/",
          method: "PUT",
          data: sentData,
        })
          .then((result) => {
            if (result.status === 200) {
              this.$emit("getAllJob");
              this.$emit("closeDialog");
              this.$toast.success("Successfully updated job!", "OK", {
                position: "topRight",
              });
            }
          })
          .catch((err) => {});
      } catch (err) {
        let errorMessage = "Create job failed!";
        if (err.response) {
          errorMessage = err.response.data;
        }
        this.$toast.error(errorMessage, "Error", {
          position: "topRight",
        });
        console.log(err.response);
      }
      this.isLoadingSaveJob = false;
    },
  },
};
</script>

<style></style>
