<template>
	<v-tab-item v-if="edittingRowComponent.length > 0">
		<v-form ref="rowForm">
			<v-text-field
				outlined
				v-for="(header, index) in headers.slice(0, headers.length - 1)"
				:key="index"
				v-model="edittingRowComponent[index]"
				:label="header.text"
				autofocus
			></v-text-field>
			<v-btn
				v-if="!isEdittingRow"
				color="primary"
				:disabled="!rowValid"
				class="white--text"
				@click="addRowRequest()"
			>Add</v-btn>
			<v-btn v-if="isEdittingRow" color="success" @click="saveRow()">Save</v-btn>
			<v-btn
				class="mx-2 white--text"
				color="brown lighten-3"
				@click="resetValueEdittingRowRequest()"
			>Reset</v-btn>
			<v-btn v-if="isEdittingRow" class="white--text" color="blue-grey" @click="cancelEditRow()">Cancel</v-btn>
		</v-form>
	</v-tab-item>
</template>

<script>
import moment from "moment";
import { mapGetters, mapActions } from "vuex";
export default {
	data() {
		return {
			nameRules: [v => !!v || "Name is required"]
		};
	},
	computed: {
		...mapGetters({
			headers: "datasource/headers",
			rows: "datasource/rows",
			edittingRow: "datasource/edittingRow",
			isEdittingRow: "datasource/isEdittingRow",
			originalRow: "datasource/originalRow",
			edittingIndex: "datasource/edittingIndex"
		}),
		rowValid() {
			return this.edittingRow.filter(item => item !== "").length > 0;
		},
		edittingRowComponent: {
			get() {
				return this.edittingRow;
			},
			set(val) {
				this.$store.dispatch("datasource/updateEdittingRow", {
					row: val,
					index: index
				});
			}
		}
	},
	methods: {
		...mapActions({
			updateEdittingRow: "datasource/updateEdittingRow",
			addRow: "datasource/addRow",
			updateIsEdittingRow: "datasource/updateIsEdittingRow",
			updateRow: "datasource/updateRow",
			updateHeader: "datasource/updateHeader",
			resetValueEdittingRow: "datasource/resetValueEdittingRow"
		}),
		addRowRequest() {
			let newRow = {};
			let valid = false;
			for (let index = 0; index < this.headers.length - 1; index++) {
				let tempData = this.edittingRow[index];
				if (tempData) valid = true;
				newRow[this.headers[index].value] = tempData;
			}
			if (valid) {
				newRow["action"] = {};
				this.addRow(newRow);
				this.updateDataType(newRow);
				this.resetValueEdittingRowRequest();
			}
		},
		cancelEditRow() {
			this.resetValueEdittingRowRequest();
			this.updateIsEdittingRow(false);
		},
		saveRow() {
			let valid = false;
			for (let i = 0; i < this.headers.length - 1; i++) {
				let tempData = this.edittingRow[i];
				if (tempData) valid = true;
				this.originalRow[this.headers[i].value] = tempData;
			}
			if (valid) {
				let copyOfOriginalRow = JSON.parse(JSON.stringify(this.originalRow));
				this.updateRow({
					index: this.edittingIndex,
					row: this.originalRow
				});
				this.updateDataType(copyOfOriginalRow);
				this.cancelEditRow();
			}
		},
		resetValueEdittingRowRequest() {
			let resetRows = [];
			for (let index = 0; index < this.edittingRow.length; index++) {
				resetRows[index] = "";
			}
			this.resetValueEdittingRow(resetRows);
		},
		updateDataType(row) {
			for (let index = 0; index < this.headers.length - 1; index++) {
				let headerDatatypesTmp = this.headers[index].datatypes;
				let rowDataTmp = row[this.headers[index].value];
				this.headers[index].datatypes = this.determineDataType(
					headerDatatypesTmp,
					row[this.headers[index].value]
				);
				this.updateHeader(this.headers[index], index);
			}
		},
		//["emai", "date", "integer", "decimal", "string"];
		determineDataType(datatypes, data) {
			if (data == null) {
				return datatypes;
			}
			//Data is a string
			let dataType = ["string"];
			//Data is a number
			if (!isNaN(data)) {
				let num = parseFloat(data);
				//Data is an integer
				if (this.isInt(num)) {
					dataType = ["integer", "decimal", "string"];
				}
				//Data is a decimal
				else if (this.isDecimal(num)) {
					dataType = ["decimal", "string"];
				}
			} else {
				//Data is an email
				if (this.isEmail(data)) {
					dataType = ["email", "string"];
				}
				//Data is an date
				else if (this.isDate(data)) {
					dataType = ["date", "string"];
				}
			}
			let a = this.intersect(datatypes, dataType);
			return a;
		},
		isEmail(data) {
			return /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
				data
			);
		},
		isDate(data) {
			// let milisec = Date.parse(data);
			// console.log("MiliSec: " + milisec);
			// console.log("Date: " + new Date(milisec));
			// console.log("DateNaN: " + isNaN(new Date(milisec)));
			// return (
			// 	new Date(milisec) !== "Invalid Date" &&
			// 	!isNaN(new Date(milisec))
			// );
			let d = moment(
				data,
				[
					"DD-MM-YYYY",
					"MM-DD-YYYY",
					"DD-MM-YY",
					"MM-DD-YY",
					"YYYY-MM-DD",
					"DD/MM/YYYY",
					"MM/DD/YYYY",
					"DD/MM/YY",
					"MM/DD/YY",
					"YYYY/MM/DD"
				],
				true
			);
			return d == null || !d.isValid() ? false : true;
		},
		//not check is safeInteger yet
		isInt(data) {
			return Number(data) === data && data % 1 === 0;
		},
		isDecimal(data) {
			return Number(data) === data && data % 1 !== 0;
		},
		intersect(a, b) {
			let t;
			if (b.length > a.length) (t = b), (b = a), (a = t);
			return a.filter(function(e) {
				return b.indexOf(e) > -1;
			});
		}
	}
};
</script>

<style>
</style>