<template>
	<v-tab-item>
		<v-card class="mb-4" v-for="(header, index) in headers.slice(0, headers.length - 1)" :key="index">
			<div class="header-item">
				<div class="header-text">
					<span class="title">
						{{header.text}}
						<span
							v-if="rows.length > 0 && header.datatypes.length > 0"
						>({{header.datatypes[0]}})</span>
					</span>
				</div>
				<div class="header-action">
					<v-icon small class="mr-2" @click="editHeader(header)">edit</v-icon>
					<v-icon small @click="deleteHeaderOpenDialog(header)">delete</v-icon>
				</div>
			</div>
		</v-card>
		<v-form ref="headerForm" v-model="headerValid">
			<v-text-field outlined v-model="headerName" :rules="nameRules" label="Header Name"></v-text-field>
			<v-btn
				color="primary"
				:disabled="!headerValid"
				class="white--text"
				v-if="!isEdittingHeader"
				@click="addHeaderRequest()"
			>Add</v-btn>
			<v-btn class="mr-4" v-if="isEdittingHeader" color="success" @click="saveHeader()">Save</v-btn>
			<v-btn class="mx-2 white--text" color="brown lighten-3" @click="headerName = ''">Reset</v-btn>
			<v-btn
				v-if="isEdittingHeader"
				class="white--text"
				color="blue-grey"
				@click="cancelEditHeader()"
			>Cancel</v-btn>
		</v-form>
		<v-dialog v-model="dialog" max-width="350">
			<v-card>
				<v-card-title class="headline">Do you want to delete {{selectedDeleteHeader.text}} ?</v-card-title>
				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn text @click="dialog = false; selectedDeleteHeader = {}">Camcel</v-btn>

					<v-btn color="error" text @click="deleteHeader()">Delete</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-tab-item>
</template>
<style lang="scss" scoped>
.disableBtn {
	cursor: default;
}
.header-item {
	display: flex;
	padding: 1rem;
	.header-text {
		display: flex;
	}
	.header-action {
		margin-left: auto;
	}
}
</style>
<script>
import { mapGetters, mapActions } from "vuex";
import axios from "@/plugins/axios";
export default {
	data() {
		return {
			selectedDataType: {},
			datatypes: [
				{ name: "String" },
				{ name: "Integer" },
				{ name: "Decimal", format: "###.###" },
				{ name: "Currency", format: "###,###.###" },
				{ name: "Date", format: "MM/DD/YYYY" },
				{ name: "Email" }
			],
			headerValid: false,
			headerName: "",
			originalHeader: {},
			nameRules: [v => !!v || "Name is required"],
			isEdittingHeader: false,
			dialog: false,
			dialogMessage: "",
			selectedDeleteHeader: {}
		};
	},
	computed: {
		...mapGetters({
			headers: "datasource/headers",
			rows: "datasource/rows",
			datasource: "datasource/datasource"
		})
	},
	methods: {
		...mapActions({
			addHeader: "datasource/addHeader",
			addEdittingRow: "datasource/addEdittingRow",
			updateHeader: "datasource/updateHeader",
			removeHeader: "datasource/removeHeader",
			updateRow: "datasource/updateRow"
		}),
		addHeaderRequest() {
			if (this.$refs.headerForm.validate()) {
				let value_prefix =
					this.headers.length == 0 ? 1 : this.headers.length;
				let newHeader = {
					text: this.headerName,
					value: this.headerName,
					sortable: false,
					datatypes: ["email", "date", "integer", "decimal", "string"]
				};
				this.addHeader(newHeader);
				this.addEdittingRow("");
				this.$refs.headerForm.resetValidation();
				this.headerName = "";
			}
		},
		editHeader(header) {
			this.originalHeader = header;
			this.headerName = header.text;
			this.isEdittingHeader = true;
		},
		saveHeader() {
			if (this.datasource.id) {
				axios({
					url: "api/datasources/headers",
					method: "PUT",
					params: {
						datasourceID: this.datasource.id,
						oldheader: this.originalHeader.text,
						newheader: this.headerName
					}
				})
					.then(result => {
						if (result.status == 200) {
							let index = this.headers.indexOf(
								this.originalHeader
							);
							this.headers[index].text = this.headerName;
							this.updateHeader(this.headers[index], index);
							this.cancelEditHeader();
						}
					})
					.catch(err => {
						console.log(err);
					});
			} else {
				let index = this.headers.indexOf(this.originalHeader);
				this.headers[index].text = this.headerName;
				this.updateHeader(this.headers[index], index);
				this.cancelEditHeader();
			}
		},
		cancelEditHeader() {
			this.originalHeader = {};
			this.isEdittingHeader = false;
			this.headerName = "";
			this.$refs.headerForm.resetValidation();
		},
		deleteHeaderOpenDialog(header) {
			this.dialog = true;
			this.selectedDeleteHeader = header;
		},
		deleteHeader() {
			if (this.datasource.id) {
				axios({
					url: "api/datasources/headers",
					method: "DELETE",
					params: {
						datasourceID: this.datasource.id,
						header: this.selectedDeleteHeader.text
					}
				})
					.then(result => {
						if (result.status == 200) {
							let headerIndex = this.headers.indexOf(
								this.selectedDeleteHeader
							);
							for (
								let index = 0;
								index < this.rows.length;
								index++
							) {
								let rowTmp = this.rows[index];
								delete rowTmp[this.headers[headerIndex].value];
								this.updateRow({
									index: index,
									row: rowTmp
								});
							}
							this.removeHeader(this.selectedDeleteHeader);
						}
					})
					.catch(err => {
						console.log(err);
					});
			} else {
				let headerIndex = this.headers.indexOf(this.deleteHeader);
				for (let index = 0; index < this.rows.length; index++) {
					let rowTmp = this.rows[index];
					delete rowTmp[this.headers[headerIndex].value];
					this.updateRow({
						index: index,
						row: rowTmp
					});
				}
				this.removeHeader(header);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.header-item {
	height: 6rem;
	margin-bottom: 2.4rem;
	display: flex;
	align-items: center;
}
</style>