<template>
	<v-data-table :headers="headers" :items="rows" class="elevation-1">
		<template v-slot:item.action="{ item }">
			<v-icon small class="mr-2" @click="editRowRequest(item)">edit</v-icon>
			<v-icon small @click="deleteRow(item)">delete</v-icon>
		</template>
		<template v-slot:no-data>
			<v-btn color="primary">No Data</v-btn>
		</template>
	</v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
	data() {
		return {};
	},
	computed: {
		...mapGetters({
			headers: "datasource/headers",
			rows: "datasource/rows",
			edittingRow: "datasource/edittingRow"
		})
	},
	methods: {
		...mapActions({
			editRow: "datasource/editRow",
			resetValueEdittingRow: "datasource/resetValueEdittingRow",
			removeRow: "datasource/removeRow"
		}),
		resetValueEdittingRowRequest() {
			let resetRows = [];
			for (let index = 0; index < this.edittingRow.length; index++) {
				resetRows[index] = "";
			}
			this.resetValueEdittingRow(resetRows);
		},
		editRowRequest(row) {
			let edittingRow = [];
			let edittingIndex = this.rows.indexOf(row);
			for (let index = 0; index < this.headers.length - 1; index++) {
				edittingRow[index] = row[this.headers[index].value];
			}
			this.editRow({
				edittingIndex: edittingIndex,
				edittingRow: edittingRow,
				row: row
			});
			this.$emit("changeTab", 1);
		},
		deleteRow(row) {
			let self = this;
			this.$toast.question("Delete selected row ?", "", {
				timeout: false,
				close: false,
				overlay: true,
				id: "question",
				position: "center",
				buttons: [
					[
						"<button><b>Yes</b></button>",
						function(instance, toast) {
							instance.hide(
								{ transitionOut: "fadeOut" },
								toast,
								"button"
							);
							self.resetValueEdittingRowRequest();
							self.removeRow(row);
						},
						true
					],
					[
						"<button>No</button>",
						function(instance, toast) {
							instance.hide(
								{ transitionOut: "fadeOut" },
								toast,
								"button"
							);
						}
					]
				]
			});
		}
	}
};
</script>

<style>
</style>