<template>
  <v-card max-width="344">
    <v-card-title class="display-1 mb-3">
      <div>{{ job.name }}</div>
    </v-card-title>
    <!-- <v-card-title v-else class="display-1 py-0">
			<v-text-field placeholder="Job Name" style="margin-top: -0.5rem;" />
		</v-card-title>-->
    <v-card-text class="title">
      <!-- <p>Created: {{parseDateTime(job.createdDate)}}</p> -->
      <!-- <p>Merge: {{parseDateTime(job.mergedDate)}}</p> -->
      <p>Ouput: {{ outputOptions }}</p>
      <!-- <p v-if="jobFirebase.PDFLink">Link: {{jobFirebase.PDFLink}}</p> -->
      <p>Price: {{ job.price }}$</p>
      <p v-if="job.specificDomain">
        Specific Link: {{ job.specificDomain }}/documents/{{
          job.rootParameter
        }}
      </p>
      <p>
        <span>Status: {{ status }}</span>
        <span v-if="job.mailHeaders.length > 0 || job.downloadPDF">
          ({{ jobFirebase.counting }} / {{ jobFirebase.amount }})</span
        >
      </p>
    </v-card-text>
    <v-progress-linear
      v-if="job.mailHeaders.length > 0 || job.downloadPDF"
      :active="true"
      :value="(currentTotal / jobFirebase.amount) * 100"
      :color="progressBarColor(jobFirebase)"
      :striped="currentTotal < jobFirebase.amount"
      height="25"
      reactive
      thumb-label="always"
    >
      <template v-slot="{ value }">
        <strong>{{ Math.ceil(value) }}%</strong>
      </template>
      >
    </v-progress-linear>

    <v-card-actions>
      <!-- <v-btn
				text
				color="purple"
				v-if="jobFirebase.counting > 0 && jobFirebase.status == 5 && jobFirebase.type == 2 && jobFirebase.isPausing == false"
				@click="pause(job.id)"
			>Pause</v-btn>
			<v-btn
				text
				color="purple"
				v-if="jobFirebase.counting > 0 && jobFirebase.status == 5 && jobFirebase.isPausing == true"
				@click="resume(job.id)"
			>Resume</v-btn> -->
      <v-btn
        text
        color="purple"
        v-if="
          (job.status == 1 || job.status == 5) && jobFirebase.isPausing == null
        "
        @click="edit(job)"
        >Edit</v-btn
      >
      <v-btn text color="red" @click="deleteRequest(job.id)">Delete</v-btn>
      <v-btn
        @click="show = !show"
        text
        color="red"
        v-if="
          (jobFirebase.PDFLink || PDFLinks) &&
            job.downloadPDF &&
            jobFirebase.status == 5
        "
        >Download PDF</v-btn
      >
      <v-btn
        text
        color="purple"
        v-if="job.status == 1 || job.status == 5"
        @click="confirmExecuteJob()"
        >Execute</v-btn
      >
      <v-btn
        text
        color="purple"
        v-if="jobFirebase.ErrorFile"
        @click="downloadErrorFile(jobFirebase.ErrorFile)"
        >Error List</v-btn
      >
      <v-spacer></v-spacer>

      <v-btn
        icon
        @click="show = !show"
        v-if="
          (jobFirebase.PDFLink || PDFLinks) &&
            job.downloadPDF &&
            jobFirebase.status == 5
        "
      >
        <v-icon>{{ show ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
      </v-btn>
    </v-card-actions>
    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-btn
          @click="downloadPDF(pdf)"
          text
          color="red"
          v-for="(pdf, index) in PDFLinks"
          :key="index"
          >{{ pdf }}</v-btn
        >
      </div>
    </v-expand-transition>
    <v-dialog v-model="dialog" max-width="500">
      <v-card>
        <v-card-title class="display-1">Execute Job Confirmation</v-card-title>

        <v-card-text class="headline">
          <p>
            You have to pay {{ job.price }}$ to execute this Job. Do you want to
            continue?
          </p>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="execute(job.id)"
            >Execute</v-btn
          >

          <v-btn color="green darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { db } from "@/plugins/firebase";
import { auth } from "@/plugins/firebase";
const accountsFirebase = db.collection("accounts");

export default {
  props: ["job"],
  data() {
    return {
      show: false,
      editting: false,
      tab: null,
      menu: null,
      jobFirebase: {},
      dialog: false,
    };
  },
  mounted() {
    console.log(this.job);
    this.getUID();
  },
  computed: {
    ...mapGetters({
      account: "account/account",
    }),

    currentTotal() {
      return this.jobFirebase.counting;
    },

    outputOptions() {
      let result = "";
      if (this.job.mailHeaders.length > 0) {
        result += "Email - ";
      }
      if (this.job.downloadPDF) {
        result += "Download PDF - ";
      }
      if (this.job.specificLinkParameters.length > 0) {
        result += "Specific Link - ";
      }
      return result.slice(0, -3);
    },
    PDFLinks() {
      // if (this.job.status === 5) {
      // 	if (this.jobFirebase.PDF) {
      // 		let result = [];
      // 		let PDF_links = this.jobFirebase.PDF.split("___");
      // 		for (let i = 0; i < PDF_links.length; i++) {
      // 			let start = i * 100 + 1;
      // 			let end = (i + 1) * 100;
      // 			let key = "PDF_" + start + "_" + end;
      // 			this.jobFirebase[key] = PDF_links[i];
      // 			result.push(key);
      // 		}
      // 		return result;
      // 	} else {
      // 		return [];
      // 	}
      // } else {
      // 	let keys = Object.keys(this.jobFirebase);
      // 	if (keys.length > 0) {
      // 		return keys.filter(key => {
      // 			return key.includes("PDF");
      // 		});
      // 	} else {
      // 		return [];
      // 	}
      // }
      let keys = Object.keys(this.jobFirebase);
      if (keys.length > 0) {
        return keys.filter((key) => {
          return key.includes("PDF");
        });
      } else {
        return [];
      }
    },
    status() {
      switch (this.jobFirebase.status) {
        case 1:
          return "Active";
        case 2:
          return "Pending";
        case 3:
          return "In Queue";
        case 4:
          return "Executing";
        case 5:
          return "Completed";
        case 6:
          return "Pausing";
        default:
          return "";
      }
    },
  },
  methods: {
    ...mapActions({
      executeJob: "job/executeJob",
      pauseJob: "job/pauseJob",
      resumeJob: "job/resumeJob",
      deleteJob: "job/deleteJob",
    }),
    async getUID() {
      try {
        let uid = await auth.currentUser.uid;
        console.log("UID: " + uid);
        if (uid) {
          this.$bind(
            "jobFirebase",
            accountsFirebase
              .doc(this.account.id + "")
              .collection("jobs")
              .doc(this.job.id + "")
          ).then((jobFirebase) => {
            console.log(jobFirebase);
          });
        } else {
          console.log("Wait for it");
        }
      } catch (e) {
        console.log("ERROR");
        console.log(e);
      }
    },
    parseDateTime(value) {
      return value.split("T")[0] + " " + value.split("T")[1];
    },
    progressBarColor(job) {
      if (this.currentTotal == 0) {
        return "blue-grey";
      } else if (this.currentTotal < job.amount) {
        return "light-blue";
      } else if (this.currentTotal == job.amount) {
        return "success";
      }
    },
    edit(job) {
      // this.editNavigation = !this.editNavigation;
      //this.editting = !this.editting;
      this.$emit("editJob", job);
    },

    confirmExecuteJob() {
      this.dialog = true;
    },

    async execute(jobID) {
      this.dialog = false;
      try {
        const result = await this.executeJob(jobID);
        if (result.status === 200) {
        }
      } catch (err) {
        let errorMessage = "Create job failed!";
        if (err.response) {
          errorMessage = err.response.data;
        }
        this.$toast.error(errorMessage, "Error", {
          position: "topRight",
        });
        console.log(err.response);
      }
    },
    async pause(jobID) {
      try {
        const result = await this.pauseJob(jobID);
        if (result.status === 200) {
        }
      } catch (err) {
        let errorMessage = "Pause job failed!";
        if (err.response) {
          errorMessage = err.response.data;
        }
        this.$toast.error(errorMessage, "Error", {
          position: "topRight",
        });
        console.log(err.response);
      }
    },
    async resume(jobID) {
      try {
        const result = await this.resumeJob(jobID);
        if (result.status === 200) {
        }
      } catch (err) {
        let errorMessage = "Resume job failed!";
        if (err.response) {
          errorMessage = err.response.data;
        }
        this.$toast.error(errorMessage, "Error", {
          position: "topRight",
        });
        console.log(err.response);
      }
    },
    downloadPDF(key) {
      let win = window.open(this.jobFirebase[key], "_blank");
      win.focus();
    },

    downloadErrorFile(link) {
      let win = window.open(link, "_blank");
      win.focus();
    },

    deleteRequest(id) {
      let self = this;
      this.$toast.question(
        "Do you want to delete job: " + this.job.name,
        "Confirm",
        {
          timeout: false,
          close: false,
          overlay: true,
          id: "question",
          position: "topCenter",
          buttons: [
            [
              "<button><b>Yes</b></button>",
              function(instance, toast) {
                instance.hide({ transitionOut: "fadeOut" }, toast, "button");
                self.deleteJobRequest(id);
              },
              true,
            ],
            [
              "<button>No</button>",
              function(instance, toast) {
                instance.hide({ transitionOut: "fadeOut" }, toast, "button");
              },
            ],
          ],
        }
      );
    },

    async deleteJobRequest(id) {
      try {
        const result = await this.deleteJob(id);
        if (result.status === 200) {
          this.$toast.success("Delete job success!", "OK", {
            position: "topRight",
          });
        }
      } catch (err) {
        console.error(err);
        this.$toast.error("Delete job fail!", "Error", {
          position: "topRight",
        });
      }
    },
  },
};
</script>

<style></style>
