<template>
	<v-card height="100%" style="border-radius: 0 !important;">
		<v-navigation-drawer
			v-model="drawer"
			:mini-variant.sync="mini"
			class="deep-purple accent-2"
			dark
			permanent
		>
			<v-list-item>
				<!-- <v-list-item-avatar>
					<v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
				</v-list-item-avatar>-->

				<v-list-item-title v-if="!mini" class="headline font-weight-light">Online Document Merge</v-list-item-title>
				<v-list-item-title v-if="mini" class="headline font-weight-light">ODM</v-list-item-title>

				<v-btn icon @click.stop="mini = !mini">
					<v-icon>mdi-chevron-left</v-icon>
				</v-btn>
			</v-list-item>

			<v-divider></v-divider>

			<v-list>
				<v-list-item :to="item.link" v-for="item in items" :key="item.title" link>
					<v-list-item-icon>
						<v-icon>{{ item.icon }}</v-icon>
					</v-list-item-icon>

					<v-list-item-content>
						<v-list-item-title class="headline font-weight-light">{{item.title}}</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list>

			<template v-slot:append>
				<div class="pa-2">
					<v-btn
						@click="logout()"
						color="white"
						block
						class="deep-purple--text text--accent-2 title"
					>Log out</v-btn>
				</div>
			</template>
		</v-navigation-drawer>
	</v-card>
</template>
<script>
export default {
	data() {
		return {
			drawer: true,
			items: [
				{
					title: "Template",
					icon: "mdi-file-outline",
					link: "/template"
				},
				{
					title: "Editor",
					icon: "mdi-file-document-edit-outline",
					link: "/editor"
				},
				{
					title: "Data Source",
					icon: "mdi-file-table-box-multiple-outline",
					link: "/datasource"
				},
				{
					title: "Data Table",
					icon: "mdi-file-table-box-outline",
					link: "/datatable"
				},
				{
					title: "Job",
					icon: "mdi-vector-combine",
					link: "/job"
				},
				{
					title: "SMTP",
					icon: "mdi-email",
					link: "/smtp"
				},
				{
					title: "Profile",
					icon: "mdi-account",
					link: "/profile"
				}
			],
			mini: false,
			messages: 7
		};
	},
	mounted() {
		// let localAccount = JSON.parse(localStorage.getItem("account"));
		// if (localAccount == null) {
		// 	let newAccount = {
		// 		name: null
		// 	};
		// 	localStorage.setItem("account", JSON.stringify(newAccount));
		// }
		// localAccount = JSON.parse(localStorage.getItem("account"));
		// //Account
		// this.$store.state.accountModule.account = localAccount;
	},
	methods: {
		logout() {
			localStorage.removeItem("account");
			localStorage.removeItem("token");
			this.$store.dispatch("account/logout");
			let newAccount = {
				fullName: null
			};
			localStorage.setItem("account", JSON.stringify(newAccount));
			this.$store.state.editor.content = "<p></p>";
			this.$store.state.datasource.headers = [];
			this.$store.state.datasource.rows = [];
			this.$router.push("/login");
		}
	},
	computed: {
		accountName() {
			return this.$store.state.accountModule.account == null
				? null
				: this.$store.state.accountModule.account.fullName;
		}
	}
};
</script>