<template>
	<v-card>
		<v-tabs v-model="tab" grow class="headline">
			<v-tab>Connection to your DBMS</v-tab>
			<v-tab v-show="tablesTest.length > 0">Table</v-tab>
		</v-tabs>
		<v-tabs-items v-model="tab">
			<v-tab-item>
				<v-card-text>
					<v-row>
						<v-col class="d-flex" cols="4">
							<v-select :items="DBMSTypes" v-model="DBMSValue" label="DBMS Server" outlined></v-select>
						</v-col>
						<v-col class="d-flex" cols="8">
							<v-text-field label="URL" outlined v-model="DBMSConnectionString"></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<v-col cols="4">
							<v-text-field v-model="serverAddress" label="Server Address" outlined dense></v-text-field>
						</v-col>
						<v-col cols="4">
							<v-text-field v-model="databaseName" label="Database" outlined dense></v-text-field>
						</v-col>
						<v-col cols="4">
							<v-text-field v-model="instanceName" label="Instance Name" outlined dense></v-text-field>
						</v-col>
						<v-col cols="4">
							<v-text-field v-model="port" label="Port" outlined dense></v-text-field>
						</v-col>
						<v-col cols="4">
							<v-text-field v-model="username" label="Username" outlined dense></v-text-field>
						</v-col>
						<v-col cols="4">
							<v-text-field v-model="password" label="Password" outlined dense type="password"></v-text-field>
						</v-col>
					</v-row>
					<v-row>
						<p class="red--text headline">{{errorMessage}}</p>
					</v-row>
				</v-card-text>
				<v-card-actions>
					<div class="flex-grow-1"></div>

					<v-btn color="green darken-1 display-1" text @click="connectDBMSRequest()">Connect</v-btn>

					<v-btn color="green darken-1 headline" text @click="closeModal()">Close</v-btn>
				</v-card-actions>
			</v-tab-item>
			<v-tab-item v-show="tablesTest.length > 0">
				<v-card-text>
					<!-- <v-radio-group @change="onRadioChange" row v-model="radioTable" style="width: 100%">
						<v-row style="width: 100%">
							<v-col cols="4" v-for="(table, index) in tables" :key="index">
								<v-radio color="primary" :label="table.name" :value="table"></v-radio>
							</v-col>
						</v-row>
					</v-radio-group> -->

					<v-treeview
						selection-type="independent"
						return-object
						v-model="selectedTable"
						selectable
						selected-color="red"
						:items="tablesTest"
						@input="onChange($event)"
						class="headline"
					></v-treeview>
					<v-row>
						<v-col cols="8"></v-col>
						<v-col cols="4">
							<v-checkbox color="primary" v-model="isLimitRecord" label="Limit Number Of Record"></v-checkbox>
							<p v-if="DBMSValue == 1" class="title ml-8" style="margin-top: -20px">(support from MySQL 5.6)</p>
							<p v-if="DBMSValue == 2" class="title ml-8" style="margin-top: -20px">(support from MSSQL 12)</p>
						</v-col>
					</v-row>
					<v-row>
						<v-col :cols="isLimitRecord ? '8' : '12'">
							<!-- <v-textarea outlined v-model="statement" label="Query Statement"></v-textarea> -->
							<v-textarea outlined label="Query Statement" v-model="statement" rows="11"></v-textarea>
						</v-col>
						<v-col cols="4" v-show="isLimitRecord">
							<v-text-field v-model="from" @change="onLimitFromChange($event)" type="number" label="Offset" outlined></v-text-field>
							<v-text-field v-model="to" @change="onLimitToChange($event)" type="number" label="Fetch" outlined></v-text-field>
							<v-select v-model="orderBy" @change="onLimitOrderChange($event)" outlined label="Order By" :items="selectedTable" item-text="name" item-value="name"></v-select>
						</v-col>
					</v-row>
				</v-card-text>
				<v-card-actions>
					<div class="flex-grow-1"></div>

					<v-btn color="green darken-1 display-1" text @click="getDataFromTableRequest()">Import</v-btn>

					<v-btn color="green darken-1 headline" text @click="closeModal()">Close</v-btn>
				</v-card-actions>
			</v-tab-item>
		</v-tabs-items>
	</v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
	props: ["isEdit", "datasource"],
	data() {
		return {
			DBMSTypes: [
				{ text: "My SQL", value: 1 },
				{ text: "Microsoft SQL Server", value: 2 }
			],
			DBMSValue: null,
			//DBMSConnectionString: "",
			tab: 0,
			tables: [],
			tablesTest: [],
			radioTable: "",
			serverAddress: "",
			databaseName: "",
			instanceName: "",
			port: "",
			username: "",
			password: "",
			statement: "",
			errorMessage: "",
			selectedRootName: "",
			selectedTable: [],
			isLimitRecord: false,
			from: 0,
			to: 0,
			orderBy: "",
			limitQuery: "",
			selectQuery: ""
		};
	},
	mounted() {
		this.tab = 0;
		if(this.isEdit) {
			this.bindingData();
		}
	},
	computed: {
		DBMSConnectionString() {
			switch (this.DBMSValue) {
				case 1:
					let resultMySQL = "jdbc:mysql://";
					if (this.serverAddress) {
						resultMySQL += this.serverAddress;
					} else {
						resultMySQL += "localhost";
					}
					if (this.port) {
						resultMySQL += ":" + this.port + "/";
					} else {
						resultMySQL += "/";
					}
					if (this.databaseName) {
						resultMySQL += this.databaseName;
					}
					// if(this.instanceName) {
					// 	result += "instanceName=" + this.instanceName + ";";
					// }
					// if(this.applicationName) {
					// 	result += "applicationName=" + this.applicationName + ";";
					// }
					// if(this.loginTimeout) {
					// 	result += "loginTimeout=" + this.loginTimeout + ";";
					// }
					if (this.username) {
						resultMySQL += "&user=" + this.username;
					}
					if (this.password) {
						resultMySQL += "&password=" + this.password;
					}
					resultMySQL = resultMySQL.replace("&", "?");
					return resultMySQL;
					break;
				case 2:
					let resultMSSQL = "jdbc:sqlserver://";
					if (this.serverAddress) {
						resultMSSQL += this.serverAddress;
					} else {
						resultMSSQL += "localhost";
					}
					if (this.port) {
						resultMSSQL += ":" + this.port + ";";
					} else {
						resultMSSQL += ";";
					}
					if (this.databaseName) {
						resultMSSQL +=
							"databaseName=" + this.databaseName + ";";
					}
					if (this.instanceName) {
						resultMSSQL +=
							"instanceName=" + this.instanceName + ";";
					}
					resultMSSQL +=
						"user=" +
						this.username +
						";password=" +
						this.password +
						";";
					return resultMSSQL;
					break;
				default:
					break;
			}
		}
	},
	methods: {
		...mapActions({
			connectDBMS: "datasource/connectDBMS",
			getDataFromTable: "datasource/getDataFromTable"
		}),
		closeModal() {
			this.$emit("closeModal");
		},
		async connectDBMSRequest() {
			if (this.DBMSValue != null && this.DBMSConnectionString) {
				let payload = {
					connectionString: this.DBMSConnectionString,
					typeConnection: this.DBMSValue
				};
				try {
					this.errorMessage = "";
					const result = await this.connectDBMS(payload);
					console.log(result);
					if (result.status === 200) {
						this.buildTableTree(result.data);
						//this.tables = result.data;
						this.tab = 1;
					}
				} catch (err) {
					if (err.response) {
						this.errorMessage = err.response.data;
						console.error(err.response);
					} else {
						console.log(err);
					}
				}
			}
		},
		async getDataFromTableRequest() {
			if (this.DBMSValue != null && this.DBMSConnectionString) {
				let payload = {
					connectionString: this.DBMSConnectionString,
					typeConnection: this.DBMSValue,
					tableName: this.selectedRootName,
					limit: 10,
					pageNumber: 1,
					statement: this.statement
				};
				try {
					const result = await this.getDataFromTable(payload);
					if (result.status === 200) {
						this.tablesTest = [];
						this.renderDataFromDBMS(result.data);
					}
				} catch (err) {
					console.error(err.response);
				}
			}
		},
		buildTableTree(data) {
			let id = 1;
			this.tablesTest = [];
			data.forEach(item => {
				let table = {
					id: id++,
					name: item.name,
					isRoot: true,
					children: []
				};
				let columns = item.columns;
				let childrens = [];
				columns.forEach(col => {
					childrens.push({
						id: id++,
						name: col,
						isRoot: false,
						parent: item.name
					});
				});
				table.children = childrens;
				this.tablesTest.push(table);
			});
			console.log(this.tablesTest);
		},
		renderDataFromDBMS(dataFromServer) {
			let payload = {
				data: dataFromServer,
				statement: this.statement,
				connectionString: this.DBMSConnectionString,
				sqlserverType: this.DBMSValue
			};
			this.$emit("renderDataFromDBMS", payload);
		},
		onChange(val) {
			let lastItem = this.selectedTable[this.selectedTable.length - 1];
			if (lastItem.isRoot) {
				let array = [];
				lastItem.children.forEach(item => {
					array.push(item);
				});
				this.selectedRootName = lastItem.name;
				this.selectedTable = array;
			} else {
				let parentName = lastItem.parent;
				if (!this.selectedRootName) {
					this.selectedRootName = parentName;
				} else {
					if (this.selectedRootName != parentName) {
						let newArray = this.selectedTable.filter(col => {
							return col.parent == parentName;
						});
						this.selectedTable = newArray;
						this.selectedRootName = parentName;
					}
				}
			}
			if (this.selectedTable.length > 0) {
				this.statement = "SELECT ";
				for (
					let index = 0;
					index < this.selectedTable.length;
					index++
				) {
					this.statement += this.selectedTable[index].name + ", ";
				}
				this.statement = this.statement.substr(
					0,
					this.statement.length - 2
				);
				this.statement += " FROM " + this.selectedRootName;
				this.selectQuery = this.statement;
			} else {
				this.statement = "";
			}
		},
		onLimitFromChange(val) {
			this.limitQuery = "";
			if (this.isLimitRecord) {
				if (this.DBMSValue == 2) {
					if (this.from >= 0 && this.to >= 0 && this.orderBy) {
						this.limitQuery =
							" ORDER BY " +
							this.orderBy +
							" OFFSET " +
							this.from +
							" ROWS FETCH NEXT " +
							this.to +
							" ROWS ONLY";
					}
				} else if(this.DBMSValue == 1) {
					if (this.from >= 0 && this.to >= 0) {
						this.limitQuery = " LIMIT " + this.from + ", " + this.to;
					}
				}
			}
			this.statement = this.selectQuery + this.limitQuery;
		},
		onLimitToChange(val) {
			this.limitQuery = "";
			if (this.isLimitRecord) {
				if (this.DBMSValue == 2) {
					if (this.from >= 0 && this.to >= 0 && this.orderBy) {
						this.limitQuery =
							" ORDER BY " +
							this.orderBy +
							" OFFSET " +
							this.from +
							" ROWS FETCH NEXT " +
							this.to +
							" ROWS ONLY";
					}
				} else if(this.DBMSValue == 1) {
					if (this.from >= 0 && this.to >= 0) {
						this.limitQuery = " LIMIT " + this.from + ", " + this.to;
					}
				}
			}
			this.statement = this.selectQuery + this.limitQuery;
		},
		onLimitOrderChange(val) {
			this.limitQuery = "";
			if (this.isLimitRecord) {
				if (this.DBMSValue == 2) {
					if (this.from >= 0 && this.to >= 0 && this.orderBy) {
						this.limitQuery =
							" ORDER BY " +
							this.orderBy +
							" OFFSET " +
							this.from +
							" ROWS FETCH NEXT " +
							this.to +
							" ROWS ONLY";
					}
				} else if(this.DBMSValue == 1) {
					if (this.from >= 0 && this.to >= 0) {
						this.limitQuery = " LIMIT " + this.from + ", " + this.to;
					}
				}
			}
			this.statement = this.selectQuery + this.limitQuery;
		},
		bindingData() {
			let data = this.datasource;
			this.DBMSValue = data.sqlserverType;
			this.connectionString = data.connection;
			let connectionPart = data.connection.split(";");
			connectionPart.forEach(part => {
				if(part.includes("jdbc:")) {
					let serverPart = part.split("//");
					if(serverPart[0].includes("sqlserver")) {
						this.DBMSValue = 2;
					} else {
						this.DBMSValue = 1;
					}
					if(serverPart[1].includes(":")) {
						let portPart = serverPart[1].split(":");
						this.serverAddress = portPart[0];
						this.port = portPart[1];
					} else {
						this.serverAddress = serverPart[1];
					}

				} else if(part.includes("databaseName")) {
					this.databaseName = part.split("=")[1];
				} else if(part.includes("instanceName")) {
					this.instanceName = part.split("=")[1];
				} else if(part.includes("user")) {
					this.username = part.split("=")[1];
				} else if(part.includes("password")) {
					this.password = part.split("=")[1];
				}
			});
			this.connectDBMSRequest();
			let sql = data.statement;
			// let sql = "SELECT product_id, product_name, brand_id, category_id, model_year, list_price FROM products ORDER BY product_id OFFSET 5 ROWS FETCH NEXT 30 ROWS ONLY";
			// let pattern = /SELECT\s.*FROM\s.*/i;
			// if(sql.match(pattern)) {
			// 	let fromKeyWordIndex = sql.search(/ from /i);
            //     let selectHeaders = sql.substring(6, fromKeyWordIndex);
            //     let headers = selectHeaders.split(",");
            //     console.log(fromKeyWordIndex);
            //     console.log(selectHeaders);
            //     console.log(headers);
			// }
			this.statement = sql;
		}
	}
};
</script>

<style lang="scss">
.v-treeview-node__children {
	display: flex !important;
	flex-wrap: wrap !important;
	.v-treeview-node--leaf {
		width: 25% !important;
	}
}
</style>