<template>
	<v-card>
		<v-card-title class="headline">
			<span>Schedule</span>
		</v-card-title>
		<v-card-text>
			<v-row>
				<v-col style="padding-left: 17px;">
					<v-date-picker :min="minDate" v-model="date" color="green lighten-1"></v-date-picker>
				</v-col>
				<v-col style="padding-right: 0px;">
					<v-time-picker v-model="time" format="24hr" ampm-in-title color="green lighten-1"></v-time-picker>
				</v-col>
			</v-row>
			<v-row>
				<v-btn @click="timeCheck()" color="primary">Check</v-btn>
			</v-row>
			<!-- <v-row>
				<v-checkbox v-model="isRoutine" label="Routine" color="primary"></v-checkbox>
			</v-row> -->
			<v-row>
				<v-tabs v-model="tab" v-if="isRoutine" background-color="transparent" color="purple" grow>
					<v-tab class="body-1">Mnutes</v-tab>
					<v-tab class="body-1">Weekly</v-tab>
					<v-tab class="body-1">Monthly</v-tab>
				</v-tabs>
				<v-tabs-items v-model="tab" v-if="isRoutine">
					<v-tab-item class="body-1">
						<v-col>
							<v-text-field v-model="everyMinute" label="Every minutes"></v-text-field>
						</v-col>
						<v-col>
							<v-row no-gutters>
								<v-col cols="4">
									<v-btn depressed color="primary" @click="minuteCheck()">Set</v-btn>
								</v-col>
							</v-row>
						</v-col>
					</v-tab-item>
					<v-tab-item class="body-1">
						<v-col>
							<v-select
								v-model="dayValue"
								:items="dayItems"
								attach
								chips
								label="Pick Days You Want"
								multiple
							></v-select>
						</v-col>
						<v-col>
							<v-row no-gutters>
								<v-col cols="4">
									<v-btn depressed color="primary" @click="weeklyCheck()">Set</v-btn>
								</v-col>
							</v-row>
						</v-col>
					</v-tab-item>
					<v-tab-item>
						<v-col class="d-flex" cols="12">
							<v-select v-model="daysValue" :items="daysItems" label="Day" dense></v-select>

							<v-select v-model="monthsValue" :items="monthsItems" label="For Every ... Months" dense></v-select>
						</v-col>
						<v-col>
							<v-row no-gutters>
								<v-col cols="4">
									<v-btn depressed color="primary" @click="monthlyCheck()">Set</v-btn>
								</v-col>
							</v-row>
						</v-col>
					</v-tab-item>
				</v-tabs-items>
			</v-row>
			<v-row>
				<p class="headline black--text">Execute Time: {{explainCron}}</p>
			</v-row>
		</v-card-text>
		<v-card-actions>
			<v-btn color="primary" @click="saveSchedule()">Save</v-btn>
			<v-btn color="primary" text @click="$emit('onCloseScheduleDialog', false)">Cancel</v-btn>
		</v-card-actions>
	</v-card>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import axios from "@/plugins/axios";
export default {
	props: ["isEdit", "cron"],
	data() {
		return {
			isRoutine: false,
			timeCron: "",
			weekCron: "",
			monthCron: "",
			isMinuteValid: false,
			isTimeValid: false,
			isWeekValid: false,
			isMonthValid: false,
			dialog: false,
			tab: null,
			dayItems: ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"],
			dayValue: "",
			hoursValue: 12,
			hoursValue2: 12,
			minValue: 0,
			minValue2: 0,
			daysItems: [
				1,
				2,
				3,
				4,
				5,
				6,
				7,
				8,
				9,
				10,
				11,
				12,
				13,
				14,
				15,
				16,
				17,
				18,
				19,
				20,
				21,
				22,
				23,
				24,
				25,
				26,
				27,
				28,
				29,
				30,
				31
			],
			daysValue: "",
			monthsItems: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
			monthsValue: "",
			menuDate: false,
			date: new Date().toISOString().substr(0, 10),
			minDate: new Date().toISOString().substr(0, 10),
			time: "00:00",
			menuMin: false,
			cronResult: "",
			explainCron: "",
			isValidCron: false,
			everyMinute: ""
		};
	},
	mounted() {
		this.date = this.getCurrentDate();
		this.minDate = this.getCurrentDate();
		console.log("Isedasd: " + this.isEdit);
		if(this.isEdit) {
			this.bindingDataFromServer();
		}
	},
	methods: {
		getCurrentDate() {
			let date = new Date();
			let year = date.getFullYear();
			let month = ("0" + (date.getMonth() + 1)).slice(-2);
			let day = ("0" + date.getDate()).slice(-2);
			let result = year + "-" + month + "-" + day;
			return result;
		},
		revertDate(date) {
			let d = new Date(date);
			if (!isNaN(d.getTime())) {
				// Months use 0 index.
				return (
					d.getDate() +
					"-" +
					parseInt(d.getMonth() + 1) +
					"-" +
					d.getFullYear()
				);
			}
		},
		getUTCDate() {
			let self = this;
			let dateArray = self.date.split("-");
			let timeArray = self.time.split(":");
			let day = dateArray[2];
			let month = dateArray[1];
			let year = dateArray[0];
			let hours = timeArray[0];
			let min = timeArray[1];

			let date = new Date(year, month - 1, day, hours, min, 0);
			let UTCDate = date.toISOString();
			return UTCDate;
		},
		minuteCheck() {
			this.getUTCDate();
			if (this.everyMinute) {
				let timeArray = this.time.split(":");
				let hours = timeArray[0];
				let min = timeArray[1];
				let minCron = 0;
				if (min % 2 == 1) minCron = 1;
				//Chưa hoàn thiện
				this.cronResult =
					"0 " + minCron + "/" + this.everyMinute + " " + "* ? * * *";
				this.explainCron =
					"Every " +
					this.everyMinute +
					" minutes starting at " +
					hours +
					":" +
					min;
				this.isValidCron = true;
			} else {
				this.isValidCron = false;
				this.cronResult = "";
			}
		},
		timeCheck() {
			let self = this;
			if (self.date == null || self.time == null) {
				self.isTimeValid = false;
				this.isValidCron = false;
				this.cronResult = "";
			} else {
				// let dateArray = self.date.split("-");
				// let timeArray = self.time.split(":");
				// let day = dateArray[2];
				// let month = dateArray[1];
				// let year = dateArray[0];
				// let hours = timeArray[0];
				// let min = timeArray[1];
				let dateUTC = this.getUTCDate();
				let dateString = dateUTC.split("T")[0];
				let timeString = dateUTC.split("T")[1].substr(0, 8);
				let dateArray = dateString.split("-");
				let timeArray = timeString.split(":");
				let day = dateArray[2];
				let month = dateArray[1];
				let year = dateArray[0];
				let hours = timeArray[0];
				let min = timeArray[1];

				this.cronResult =
					"0" +
					" " +
					min +
					" " +
					hours +
					" " +
					day +
					" " +
					month +
					" " +
					"?" +
					" " +
					year;
				self.isTimeValid = true;
				this.isValidCron = true;
			}

			if (self.isTimeValid) {
				self.timeCron =
					"At " +
					self.time +
					" on " +
					this.revertDate(self.date) +
					".";
			} else {
				self.timeCron = "Input is invalid, cannot be empty";
			}
			this.explainCron = this.timeCron;
		},
		weeklyCheck() {
			let self = this;
			let hour = this.time.split(":")[0];
			let minute = this.time.split(":")[1];
			let days = "";
			if (self.dayValue.length == 0) {
				self.isWeekValid = false;
				this.isValidCron = false;
				this.cronResult = "";
			} else {
				let i;

				days = self.dayValue[0];
				for (i = 1; i < self.dayValue.length; i++) {
					days = days + "," + self.dayValue[i];
				}
				this.cronResult =
					"0" +
					" " +
					hour +
					" " +
					minute +
					" " +
					"?" +
					" " +
					"*" +
					" " +
					days +
					" " +
					"*";
				self.isWeekValid = true;
				this.isValidCron = true;
			}

			if (self.isWeekValid) {
				self.weekCron =
					"At " + hour + ":" + minute + ", on every " + days + ".";
			} else {
				self.weekCron = "Input is invalid, cannot be empty";
			}
			this.explainCron = this.weekCron;
		},
		monthlyCheck() {
			let self = this;
			let hour = this.time.split(":")[0];
			let minute = this.time.split(":")[1];
			let i;
			if (self.daysValue == "" || self.monthsValue == "") {
				self.isMonthValid = false;
				this.isValidCron = false;
				this.cronResult = "";
			} else {
				this.cronResult =
					"0" +
					" " +
					minute +
					" " +
					hour +
					" " +
					self.daysValue +
					" " +
					"1/" +
					self.monthsValue +
					" " +
					"?" +
					" " +
					"*";
				self.isMonthValid = true;
				this.isValidCron = true;
			}

			if (self.isMonthValid) {
				self.monthCron =
					"At " +
					hour +
					":" +
					minute +
					", on day " +
					self.daysValue +
					", every " +
					self.monthsValue +
					" months, starting now.";
			} else {
				self.monthCron = "Input is invalid, cannot be empty";
			}
			this.explainCron = this.monthCron;
		},
		saveSchedule() {
			console.log(this.cronResult);
			if (this.isValidCron) {
				let payload = {
					cron: this.cronResult,
					explain: this.explainCron
				};
				this.$emit("onSetTime", payload);
			}
		},
		bindingDataFromServer() {
			if (this.isEdit) {
				this.cronResult = this.cron;
				// cronExpression: "0 50 14 29 03 ? 2020"
				// 0 1/3 * ? * * *

				// sec min hour day month dayofweek year
				let cronPart = this.cron.split(" ");
				let second = ("0" + cronPart[0]).slice(-2);
				let minute = cronPart[1];
				let hour = cronPart[2];
				let date = cronPart[3];
				let month = cronPart[4];
				let year = cronPart[6];

				if(!minute.includes("/")) {
					let dateString = `${month}/${date}/${year} ${hour}:${minute}:${second} UTC`;
					let localDate = new Date(dateString);
					let result = localDate.getFullYear() + "-" + ("0" + (localDate.getMonth() + 1)).slice(-2) + "-" + ("0" + localDate.getDate()).slice(-2);
					this.date = result;
					this.time = localDate.getHours() + ":" + localDate.getMinutes();
				}
			}
		}
	}
};
</script>