<template>
	<div class="container">
		<div class="content">
			<span style="font-size: 40px;">Online Document Merge</span>
			<span style="margin: 30px 0; font-size: 60px;">404</span>
			<span style="font-size: 40px;">Page Not Found</span>
		</div>
	</div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
    background-image: url("../assets/background.jpg");
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	min-height: 100vh;
}
.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
</style>