<template>
	<div class="login-container d-flex align-center justify-center">
		<v-card class="pa-8" width="500px">
			<p class="display-1">Activation</p>
			<p class="headline font-weight-light">Enter your activation code</p>
			<p class="headline font-weight-light red--text">{{message}}</p>
			<v-form ref="formLogin" v-model="valid">
				<v-container style="padding: 0">
					<v-row>
						<v-col cols="12">
							<v-text-field
								height="20px"
								label="Active Code"
								placeholder="Active Code"
								required
								outlined
								color="deep-purple accent-2"
								v-model="activeCode"
								:rules="activeCodeRules"
							></v-text-field>
						</v-col>
						<v-col cols="12" class="d-flex justify-end">
							<v-btn
								block
								@click="activition()"
								:depressed="!activeCode"
								:class="activeCode ? '' : 'disabltBtn'"
								class="px-8 title white--text font-weight-light"
								:color="activeCode ? 'deep-purple accent-2' : 'deep-purple lighten-3'"
								:loading="loading"
							>Active</v-btn>
						</v-col>
						<v-col cols="12" class="d-flex justify-space-between">
							<v-btn
								to="/login"
								text
								class="title font-weight-light"
								color="deep-purple accent-2"
							>Login</v-btn>
							<v-btn
								text
								@click="sendCode()"
								class="px-6 title font-weight-light"
								color="deep-purple accent-2"
							>Send Code Again</v-btn>
						</v-col>
					</v-row>
				</v-container>
			</v-form>
		</v-card>
		<!-- <v-card class="pa-12" width="500px" style="text-align:center">
      <v-row v-if="isDone">
        <label class="display-2">{{result}}</label>
        
      </v-row>
      <v-row v-else>
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
      </v-row>
		</v-card>-->
	</div>
</template>
<style lang="scss" scoped>
.login-container {
	width: 100%;
	min-height: 100vh;
	background-image: url("../assets/background.jpg");
	.disabltBtn {
		cursor: pointer;
	}
}
</style>
<script>
import axios from "@/plugins/axios";
export default {
	data() {
		return {
			valid: false,
			message: "",
			activeCode: "",
			activeCodeRules: [v => !!v || "Please insert Active Code"],
			result: "",
			isDone: false,
			loading: false
		};
	},
	mounted() {
		//this.activition();
	},
	methods: {
		backToLogin() {
			this.$router.push("/login");
		},
		sendCode() {
			let account = JSON.parse(localStorage.account);
			if (account != null) {
				axios({
					method: "GET",
					url: "/api/accounts/activation",
					params: {
						email: account.email
					}
				})
					.then(result => {
						if (result.status == 200) {
							this.$toast.success(
								"Send Active Code Success",
								"Success",
								{
									position: "topRight"
								}
							);
						} else {
							this.$toast.error(
								"Send Active Code Fail",
								"Error",
								{
									position: "topRight"
								}
							);
						}
					})
					.catch(err => {
						if (err.response) {
							this.message = err.response.data;
						}
						console.log(err);
					});
			} else {
				this.message = "Register to create new account.";
			}
		},
		activition() {
			if (this.activeCode) {
				this.loading = true;
				axios
					.post("/api/accounts/activation", this.activeCode)
					.then(result => {
						if (result.status == 200) {
							this.$toast.success(
								"Active Account Success",
								"Success",
								{
									position: "topRight"
								}
							);
						} else {
							this.$toast.error("Active Account Fail", "Error", {
								position: "topRight"
							});
						}
						this.message = "";
						this.loading = false;
					})
					.catch(err => {
						this.message = "";
						if (err.response) {
							this.message = err.response.data;
						}
						console.log(err);
						this.loading = false;
					});
			}
		}
	}
};
</script>