<template>
	<div class="login-container d-flex align-center justify-center">
		<v-card class="pa-8" width="500px">
			<p class="display-1">Forgot Password</p>
			<p class="headline font-weight-light">Please enter your email</p>
			<p class="headline font-weight-light red--text">{{message}}</p>
			<p class="headline font-weight-light green--text">{{successMessage}}</p>
			<v-form ref="formRegister" v-model="valid">
				<v-container style="padding: 0">
					<v-row>
						<v-col cols="12">
							<v-text-field
								label="Email"
								placeholder="Email"
								required
								outlined
								color="deep-purple accent-2"
								v-model="email"
								:rules="emailRules"
							></v-text-field>
						</v-col>

						<v-col cols="12" class="d-flex justify-space-between">
							<v-btn
								to="/login"
								class="px-6 title font-weight-light"
								outlined
								color="deep-purple accent-2"
							>Back</v-btn>
							<v-btn
								:loading="loading"
								:depressed="!valid"
								:disabled="!valid"
								:class="valid ? '' : 'disabltBtn'"
								class="px-8 title white--text font-weight-light"
								:color="valid ? 'deep-purple accent-2' : 'deep-purple lighten-3'"
								@click="forgot()"
							>Create a new Password</v-btn>
						</v-col>
					</v-row>
				</v-container>
			</v-form>
		</v-card>
	</div>
</template>
<style lang="scss" scoped>
.login-container {
	width: 100%;
	min-height: 100vh;
	background-image: url("../assets/background.jpg");
	.disabltBtn {
		cursor: pointer;
	}
}
</style>
<script>
import axios from "@/plugins/axios";
export default {
	data() {
		return {
			loading: false,
			message: "",
			successMessage: "",
			valid: false,
			email: "",
			emailRules: [
				v => !!v || "Please insert Email",
				v =>
					/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
						v
					) || "Invalid Email"
			]
		};
	},
	mounted() {},
	methods: {
		forgot() {
			let self = this;
			if (this.$refs.formRegister.validate()) {
				this.loading = true;
				axios({
					method: "GET",
					url: "/api/accounts/forgot",
					params: {
						email: this.email
					}
				})
					.then(response => {
						if (response.status === 200) {
							this.successMessage =
								"A new password has been sent to your Email!"
						} else {
							this.$toast.error("Active Account Fail", "Error", {
								position: "topRight"
							});
						}
						this.message = "";
						this.loading = false;
					})
					.catch(err => {
						this.message = "";
						this.successMessage = "";
						if (err.response) {
							this.message = err.response.data;
						}
						console.log(err);
						this.loading = false;
					});
			}
		}
	}
};
</script>