<template>
	<div class="login-container d-flex align-center justify-center">
		<v-card class="pa-8" width="500px">
			<p class="display-1">Login</p>
			<p class="headline font-weight-light">Welcome back, please login to your account.</p>
			<p class="headline font-weight-light red--text">{{message}}</p>
			<v-form ref="formLogin" v-model="valid">
				<v-container style="padding: 0">
					<v-row>
						<v-col cols="12">
							<v-text-field
								height="20px"
								label="Email"
								placeholder="Email"
								required
								outlined
								color="deep-purple accent-2"
								v-model="email"
								:rules="emailRules"
							></v-text-field>
						</v-col>
						<v-col cols="12">
							<v-text-field
								label="Password"
								placeholder="Password"
								required
								outlined
								v-model="password"
								color="deep-purple accent-2"
								hint="Password at least 8 characters"
								class="input-group--focused"
								@click:append="show = !show"
								:append-icon="show ? 'visibility' : 'visibility_off'"
								:rules="passwordRules"
								:type="show ? 'text' : 'password'"
							></v-text-field>
						</v-col>
						<v-col cols="12" class="d-flex justify-end">
							<!-- <GoogleLogin
								:params="params"
								:renderParams="renderParams"
								:onSuccess="onSuccess"
								:onFailure="onFailure"
							></GoogleLogin>-->
							<v-btn
							block=""
								@click="loginRequest()"
								:depressed="!valid"
								:class="valid ? '' : 'disabltBtn'"
								class="px-8 title white--text font-weight-light"
								:color="valid ? 'deep-purple accent-2' : 'deep-purple lighten-3'"
							>Login</v-btn>
						</v-col>
						<v-col cols="12" class="d-flex justify-space-between">
							<v-btn
								to="/register"
								text
								class="px-6 title font-weight-light"
								color="deep-purple accent-2"
							>Register</v-btn>
							<v-btn
								to="/forgot"
								text
								class="title font-weight-light"
								color="deep-purple accent-2"
							>Forgot Password</v-btn>
							<v-btn
								to="/activation"
								text
								class="title font-weight-light"
								color="deep-purple accent-2"
							>Active Account</v-btn>
						</v-col>
					</v-row>
				</v-container>
			</v-form>
		</v-card>
	</div>
</template>
<style lang="scss" scoped>
.login-container {
	width: 100%;
	min-height: 100vh;
	background-image: url("../assets/background.jpg");
	.disabltBtn {
		cursor: pointer;
	}
}
</style>
<script>
import GoogleLogin from "vue-google-login";
import iziToast from "izitoast";
import { mapActions } from "vuex";
import { auth } from "@/plugins/firebase";
export default {
	components: {
		GoogleLogin
	},
	data() {
		return {
			valid: false,
			show: false,
			email: "",
			emailRules: [
				v => !!v || "Please insert Email",
				v =>
					/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
						v
					) || "Invalid Email"
			],
			password: "",
			passwordRules: [
				v => !!v || "Please insert Password",
				v => (v && v.length >= 8) || "Password at least 8 characters"
			],
			message: "",
			// client_id is the only required property but you can add several more params, full list down bellow on the Auth api section
			params: {
				client_id:
					"803449594608-ebr948l2th3m3buk80divblm1qi35pm9.apps.googleusercontent.com"
			},
			// only needed if you want to render the button with the google ui
			renderParams: {
				width: 250,
				height: 50,
				longtitle: true
			}
		};
	},
	methods: {
		...mapActions({
			login: "account/login",
			getProfile: "account/getProfile"
		}),
		onSuccess(googleUser) {
			this.isGoogle = true;
			let profile = googleUser.getBasicProfile();
			console.log(profile.getEmail());
			// if (this.isGoogle == true) {
			// 	let account = {
			// 		email: profile.getEmail(),
			// 		password: "",
			// 		google: this.isGoogle
			// 	};
			// 	this.$axios({
			// 		method: "POST",
			// 		url: "api/old/account/login",
			// 		data: account
			// 		//    headers: {
			// 		//   Authorization: "Bearer " + localStorage.getItem("token")
			// 		// }
			// 	})
			// 		.then(response => {
			// 			if (response.status === 200) {
			// 				localStorage.setItem("token", response.data);
			// 				this.getAccountInformation();
			// 			} else if (response.status === 403) {
			// 				console.log(response);
			// 				alert("Your Account Is Disable!");
			// 			} else {
			// 				console.log(response);
			// 				alert("Login Fail!");
			// 			}
			// 		})
			// 		.catch(error => {
			// 			console.log(error);
			// 			console.log("fail");
			// 		});
			// }
		},

		onFailure() {
			console.log("google fail");
		},
		async loginRequest() {
			let self = this;
			if (this.valid && this.$refs.formLogin.validate()) {
				let account = {
					email: this.email,
					password: this.password
				};
				try {
					const result = await this.login(account);
					if (result.status === 200) {
						if (result.data.confirm == false) {
							this.message = "Your account is not active";
						} else {
							let token = result.data.firebaseToken;
							console.log(token);
							auth.signInWithCustomToken(token).catch(function(
								error
							) {
								// Handle Errors here.
								let errorCode = error.code;
								let errorMessage = error.message;
								console.log(errorCode);
								console.log(errorMessage);
							});
							if (result.data.role.id == 2) {
								this.$router.push("/arithmetic");
							} else if (result.data.role.id == 1) {
								this.$router.push("/editor");
							}
						}
					}
				} catch (err) {
					this.message = "Wrong email or password";
					if (err.response) {
						this.message = err.response.data;
					}
					console.error(err.response);
				}
			}
		}
	}
};
</script>