<template>
	<div class="login-container d-flex align-center justify-center">
		<v-card class="pa-8" width="500px">
			<p class="display-1">Create Account</p>
			<p class="headline font-weight-light">Fill the below form to create a new account.</p>
			<p class="headline font-weight-light red--text">{{message}}</p>
			<v-form ref="formRegister" v-model="valid">
				<v-container style="padding: 0">
					<v-row>
						<v-col cols="12">
							<v-text-field
								label="Email"
								placeholder="Email"
								required
								outlined
								color="deep-purple accent-2"
								v-model="email"
								:rules="emailRules"
							></v-text-field>
						</v-col>
						<v-col xs12>
							<v-text-field
								label="Fullname"
								placeholder="Fullname"
								required
								outlined
								color="deep-purple accent-2"
								v-model="name"
								:rules="nameRules"
							></v-text-field>
						</v-col>
						<v-col cols="12">
							<v-text-field
								label="Mật Khẩu"
								placeholder="Mật Khẩu"
								required
								outlined
								v-model="password"
								color="deep-purple accent-2"
								hint="Password at least 8 characters"
								class="input-group--focused"
								@click:append="show1 = !show1"
								:append-icon="show1 ? 'visibility' : 'visibility_off'"
								:rules="passwordRules"
								:type="show1 ? 'text' : 'password'"
							></v-text-field>
						</v-col>
						<v-col cols="12">
							<v-text-field
								label="Confirm Password"
								placeholder="Confirm Password"
								required
								outlined
								v-model="confirmPassword"
								color="deep-purple accent-2"
								hint="Password at least 8 characters"
								class="input-group--focused"
								@click:append="show2 = !show2"
								:append-icon="show2 ? 'visibility' : 'visibility_off'"
								:rules="confirmPasswordRules"
								:type="show2 ? 'text' : 'password'"
							></v-text-field>
						</v-col>
						<v-col cols="12" class="d-flex justify-space-between">
							<v-btn
								block
								:depressed="!valid"
								:class="valid ? '' : 'disabltBtn'"
								class="px-8 title white--text font-weight-light"
								:color="valid ? 'deep-purple accent-2' : 'deep-purple lighten-3'"
								@click="registerRequest()"
								:loading="isLoading"
							>Register</v-btn>
						</v-col>
						<v-col cols="12" class="d-flex justify-space-between">
							<v-btn
								text
								to="/login"
								class="px-6 title font-weight-light"
								color="deep-purple accent-2"
							>Login</v-btn>
							<v-btn
								text
								to="/activation"
								class="px-6 title font-weight-light"
								color="deep-purple accent-2"
							>Active Account</v-btn>
						</v-col>
					</v-row>
				</v-container>
			</v-form>
		</v-card>
	</div>
</template>
<style lang="scss" scoped>
.login-container {
	width: 100%;
	min-height: 100vh;
	background-image: url("../assets/background.jpg");
	.disabltBtn {
		cursor: pointer;
	}
}
</style>
<script>
import izitoast from "izitoast";
import { mapActions } from "vuex";
export default {
	data() {
		return {
			valid: false,
			show1: false,
			show2: false,
			name: "",
			nameRules: [v => !!v || "Please insert Fullname"],
			email: "",
			emailRules: [
				v => !!v || "Please insert Email",
				v =>
					/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
						v
					) || "Invalid Email"
			],
			password: "",
			passwordRules: [
				v => !!v || "Please insert Password",
				v => (v && v.length >= 8) || "Password at least 8 characters"
			],
			confirmPassword: "",
			confirmPasswordRules: [
				v => !!v || "Please insert Confirm Password",
				v => (v && v.length >= 8) || "Password at least 8 characters",
				v =>
					(v && v == this.password) || "Confirm Password is not match"
			],
			message: "",
			isLoading: false
		};
	},
	mounted() {},
	methods: {
		...mapActions({
			register: "account/register"
		}),
		async registerRequest() {
			if (this.valid && this.$refs.formRegister.validate()) {
				this.isLoading = true;
				this.message = "";
				let account = {
					fullName: this.name,
					email: this.email,
					password: this.password
				};
				try {
					console.log(account);
					const result = await this.register(account);
					if (result.status === 200) {
						this.message = "Register success, Active Code is sent to your email."
						this.$refs.formRegister.resetValidation();
						//this.$router.push("/login");
					}
					isLoading = false;
				} catch (err) {
					this.message = "Register Fail"
					if (err.response) {
						this.message = err.response.data;
					}
					isLoading = false;
				}
			}
		}
	}
};
</script>