<template>
	<div class="document-editor">
		<ckeditor
			:editor="editor"
			:config="editorConfig"
			@ready="onReady"
			v-model="editorData"
			@input="editorContentChanged()"
		></ckeditor>
	</div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import DecoupledEditor from "@ckeditor/ckeditor5-build-decoupled-document";
// import Text from '@ckeditor/ckeditor5-engine/src/model/text';
import UploadImage from "@/plugins/uploadImage";
function CustomUploadAdapterPlugin(editor) {
	editor.plugins.get("FileRepository").createUploadAdapter = loader => {
		return new UploadImage(loader);
	};
	editor.plugins.get("EasyImage").createUploadAdapter = loader => {
		return new UploadImage(loader);
	};
}
export default {
	name: "app",
	data() {
		return {
			editor: DecoupledEditor,
			customEditor: null,
			editorConfig: {
				extraPlugins: [CustomUploadAdapterPlugin]
			}
		};
	},
	watch: {
		editorData: function(val) {
			if (this.editorData == "") {
				this.editorData = "<p></p>";
			}
		}
	},
	computed: {
		...mapGetters({
			content: "editor/content",
			arithmetics: "arithmetic/arithmetics"
		}),
		editorData: {
			get() {
				return this.content;
			},
			set(val) {
				this.setContent(val);
			}
		}
	},
	methods: {
		...mapActions({
			setContent: "editor/setContent"
		}),
		editorContentChanged() {
			this.$emit("editorContentChanged", this.editorData);
		},
		onReady(editor) {
			//prepare Data
			this.customEditor = editor;
			//this.editorData = this.$store.state.editor.currentData;
			this.editorContentChanged();
			// Insert the toolbar before the editable area.
			editor.ui
				.getEditableElement()
				.parentElement.insertBefore(
					editor.ui.view.toolbar.element,
					editor.ui.getEditableElement()
				);

			let document_editor = document.getElementsByClassName(
				"document-editor"
			)[0];
			let wrapper1 = document.createElement("div");
			wrapper1.classList.add("document-editor__toolbar");
			let toolbar = document.getElementsByClassName(
				"ck ck-toolbar ck-reset_all ck-rounded-corners"
			)[0];
			wrapper1.appendChild(toolbar);
			document_editor.appendChild(wrapper1);

			let wrapper2 = document.createElement("div");
			wrapper2.classList.add("document-editor__editable-container");
			let content = document.getElementsByClassName(
				"ck-blurred ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline"
			)[0];
			wrapper2.appendChild(content);
			document_editor.appendChild(wrapper2);

			editor.editing.view.document.on(
				"change:isFocused",
				(evt, name, value) => {
					if (value) {
						this.$emit("onEditorFocus", true);
					} else {
						this.$emit("onEditorBlur", false);
					}
				}
			);

			// editor.editing.view.document.on(
			// 	"delete",
			// 	(eventInfo, data) => {
			// 		console.log(
			// 			eventInfo
			// 		);
			// 		console.log(
			// 			data.unit
			// 		);
			// 		console.log(
			// 			data.direction
			// 		);
			// 		console.log(
			// 			data.sequence
			// 		);
			// 	}
			// );
		},
		getArithmeticNames() {
			let result = [];
			this.arithmetics.forEach(a => {
				result.push(a.operator);
			});
			return result;
		},
		onInsert(value) {
			let self = this;
			this.customEditor.model.change(writer => {
				// const paragraph = writer.createElement("select");
				// writer.insert(paragraph, self.customEditor.model.document.selection.getFirstPosition());
				//let a = writer.createElement("paragraph");
				//writer.insert(paragraph, position);
				//writer.insertElement(a, self.customEditor.model.document.selection.getFirstPosition());
				let content = "«" + value + "»";
				// let names = this.getArithmeticNames();

				// names.forEach(name => {
				// 	if (value.includes(name)) {
				// 		content = "««" + value + "»»";
				// 	}
				// });
				//let content = "«" + value + "»";
				writer.insertText(
					content,
					self.customEditor.model.document.selection.getFirstPosition()
				);
			});
		}
	}
};
</script>
<style>
.document-editor {
	border: 1px solid var(--ck-color-base-border);
	border-radius: var(--ck-border-radius);

	/* Set vertical boundaries for the document editor. */
	height: 100%;

	/* This element is a flex container for easier rendering. */
	display: flex;
	flex-flow: column nowrap;
}
.document-editor__toolbar {
	/* Make sure the toolbar container is always above the editable. */
	z-index: 1;

	/* Create the illusion of the toolbar floating over the editable. */
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);

	/* Use the CKEditor CSS variables to keep the UI consistent. */
	border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
	border: 0;
	border-radius: 0;
}
.document-editor__editable-container {
	padding: calc(2 * var(--ck-spacing-large));
	background: var(--ck-color-base-foreground);

	/* Make it possible to scroll the "page" of the edited content. */
	overflow-y: auto;
	height: 100%;
}

.document-editor__editable-container .ck-editor__editable {
	/* Set the dimensions of the "page". */
	width: 16.8cm;
	min-height: 100%;

	/* Keep the "page" off the boundaries of the container. */
	padding: 1cm 2cm 2cm;

	border: 1px hsl(0, 0%, 82.7%) solid;
	border-radius: var(--ck-border-radius);
	background: white;

	/* The "page" should cast a slight shadow (3D illusion). */
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);

	/* Center the "page". */
	margin: 0 auto;
}

.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
	font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Adjust the headings dropdown to host some larger heading styles. */
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
	line-height: calc(
		1.7 * var(--ck-line-height-base) * var(--ck-font-size-base)
	);
	min-width: 6em;
}

/* Scale down all heading previews because they are way too big to be presented in the UI.
Preserve the relative scale, though. */
.document-editor
	.ck-heading-dropdown
	.ck-list
	.ck-button:not(.ck-heading_paragraph)
	.ck-button__label {
	transform: scale(0.8);
	transform-origin: left;
}

/* Set the styles for "Heading 1". */
.document-editor .ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
	font-size: 2.18em;
	font-weight: normal;
}

.document-editor .ck-content h2 {
	line-height: 1.37em;
	padding-top: 0.342em;
	margin-bottom: 0.142em;
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3,
.document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
	font-size: 1.75em;
	font-weight: normal;
	color: hsl(203, 100%, 50%);
}

.document-editor
	.ck-heading-dropdown
	.ck-heading_heading2.ck-on
	.ck-button__label {
	color: var(--ck-color-list-button-on-text);
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3 {
	line-height: 1.86em;
	padding-top: 0.171em;
	margin-bottom: 0.357em;
}

/* Set the styles for "Heading 3". */
.document-editor .ck-content h4,
.document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
	font-size: 1.31em;
	font-weight: bold;
}

.document-editor .ck-content h4 {
	line-height: 1.24em;
	padding-top: 0.286em;
	margin-bottom: 0.952em;
}

/* Set the styles for "Paragraph". */
.document-editor .ck-content p {
	font-size: 1em;
	line-height: 1.63em;
	padding-top: 0.5em;
	margin-bottom: 1.13em;
}

/* Make the block quoted text serif with some additional spacing. */
.document-editor .ck-content blockquote {
	font-family: Georgia, serif;
	margin-left: calc(2 * var(--ck-spacing-large));
	margin-right: calc(2 * var(--ck-spacing-large));
}
</style>