<template>
	<v-card class="d-flex justify-end align-center py-3">
        <!-- <v-btn @click="deposit()">deposit</v-btn>
        <v-btn @click="pay()">pay</v-btn> -->
		<v-badge color="green" overlap style="position: relative">
			<template v-slot:badge>
				<span v-if="notification.length > 0">{{ notification.length }}</span>
			</template>
			<!-- <v-icon style="font-size: 25px;" @click="showNotification()">mdi-bell</v-icon> -->
            <div class="notification-container" v-if="isShow">
                <div class="notification-item" v-for="(noti, index) in notification" :key="index">
                    <div class="notification-content">
                        <span class="noti-title">
                            Title
                        </span>
                        <span class="message">
                            {{noti.content}}
                        </span>
                    </div>
                    <div class="notification-time">
                        <span>15 mins ago</span>
                    </div>
                </div>
            </div>
		</v-badge>
		<!-- <span class="header-item headline current-balance">{{account.balance}}$
            <span :class="['modify-balance', (isDeposit ? 'deposit slide-bottom-fade' : ''), (isPay ? 'pay slide-bottom-fade' : '')]">{{balancePrice}}</span>
        </span> -->
		<span class="header-item headline" v-if="account">{{account.fullname}}</span>
	</v-card>
</template>

<script>
import {mapGetters} from "vuex"
import { db } from "@/plugins/firebase";
const notifications = db.collection("notifications");
export default {
    data() {
        return {
            isShow: false,
            notification: [],
            balancePrice: '+15000$',
            isDeposit: false,
            isPay: false
        }
    },
    mounted() {
		// if (this.account) {
		// 	this.$bind("notification", notifications.doc(this.account.id + "")
		// 		.collection("notification"))
		// 		.then(notification => {
		// 			//console.log(notification);
		// 		});
        // }
    },
    computed: {
        ...mapGetters({
            account: "account/account"
        }),
        notificationRead() {
            return this.notification.filter(noti => {
                return noti.isRead === true;
            })
        }
    },
    methods: {
        showNotification() {
            this.isShow = !this.isShow;
        },
        deposit() {
            this.balancePrice = '+15000$';
            this.isDeposit = true;
            let self = this;
            setTimeout(function() {
                self.isDeposit = false;
            }, 600);
        },
        pay() {
            this.balancePrice = '-15000$';
            this.isPay = true;
            let self = this;
            setTimeout(function() {
                self.isPay = false;
            }, 600);
        }
    }
};
</script>
<style lang="scss" scoped>
.header-item {
    margin-left: 2rem;
    &:last-child {
        margin-right: 2rem;
    }
}
.notification-container {
    z-index: 69;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11),0 5px 15px 0 rgba(0,0,0,.08);
    border-radius: 4px;
    position: absolute;
    background-color: white;
    right: -50%;
    top: 4rem;
    width: 26rem;
    &::before {
        position: absolute;
        top: -1rem;
        right: 1.6rem;
        content: '';
        height: 1.6rem;
        width: 1.6rem;
        background-color: rgba(0,0,0,.11);
        transform: rotate(45deg);
    }
    &::after {
        position: absolute;
        top: -0.9rem;
        right: 1.6rem;
        content: '';
        height: 1.6rem;
        width: 1.6rem;
        background-color: white;
        transform: rotate(45deg);
    }
    .notification-item {
        padding: 1rem;
        display: flex;
        border-bottom: 1px solid lightgray;
        .notification-content {
            width: 80%;
            display: flex;
            flex-direction: column;
            .noti-title {
                font-size: 1.6rem;
            }
            .message {
                font-size: 1.2rem;
                margin-top: 0.6rem;
            }
        }
        .notification-time {
            width: 20%;
            display: flex;
        }
    }
}
.current-balance {
    position: relative;
    .modify-balance {
        position: absolute;
        left: 0;
        top: 100%;
        width: fit-content;
        opacity: 0;
    }
    .slide-bottom-fade {
        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .deposit {
        color: green;
    }
    .pay {
        color: red;
    }
}
@keyframes slide-bottom {
  0% {
            transform: translateY(0);
            opacity: 1;
  }
  100% {
            transform: translateY(2rem);
            opacity: 0;
  }
}
</style>