<template>
  <v-container>
    <v-btn
      color="primary"
      class="mb-3"
      @click="accountDialog = true; newAccountEmail = ''; newAccountFullname = ''; isAdmin = false"
    >Add New Account</v-btn>
    <v-btn color="primary" class="mb-3" @click="openRefundDialog(acc)">Refund</v-btn>
    <v-card>
      <v-card-title>
        Accounts
        <div class="flex-grow-1"></div>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      </v-card-title>
      <v-data-table :search="search" :headers="headers" :items="accounts" class="elevation-1">
        <template v-slot:item.isActive="{ item }">
          <v-switch
            :disabled="item.isLoading"
            v-model="item.active"
            color="success"
            @click.native="updateActivationStatus(item)"
          ></v-switch>
        </template>
        <!-- <template v-slot:item.action="{ item }">
					<v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
					<v-icon small @click="deleteItem(item)">delete</v-icon>
        </template>-->
        <template v-slot:no-data>
          <v-btn color="primary" @click="getData()">Reset</v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="accountDialog" max-width="680">
      <v-card>
        <v-card-title class="headline">Add New Account</v-card-title>

        <v-card-text>
          <v-text-field
            class="mt-2"
            outlined
            v-model="newAccountEmail"
            background-color="white"
            label="Email"
          />
          <v-text-field
            class="mt-2"
            outlined
            v-model="newAccountFullname"
            background-color="white"
            label="Fullname"
          />
          <v-checkbox label="is Admin" v-model="isAdmin" />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="accountDialog = false">Cancel</v-btn>
          <v-btn color="primary">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-if="refundDialog" v-model="refundDialog" max-width="680">
      <v-card>
        <v-card-title class="headline">Refund</v-card-title>

        <v-card-text>
          <p class="title">Account: PDM</p>
          <p class="title">Email: pdminh@gmail.com</p>
          <v-text-field
            class="mt-2"
            outlined
            v-model="email"
            background-color="white"
            label="Amount"
          />
          <v-textarea
            class="mt-2"
            outlined
            v-model="email"
            background-color="white"
            label="Description"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="accountDialog = false">Cancel</v-btn>
          <v-btn color="primary">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from "@/plugins/axios";
export default {
  data: () => ({
    search: "",
    headers: [
      {
        text: "ID",
        align: "left",
        value: "id"
      },
      { text: "Email", value: "email" },
      { text: "Fullname", value: "fullname" },
      { text: "Role", value: "role.name" },
      { text: "Status", value: "isActive" }
      // { text: "Actions", value: "action" }
    ],
    accounts: [],
    accountDialog: false,
    newAccountEmail: "",
    newAccountFullname: "",
    isAdmin: false,
    refundDialog: false,
    refundDescription: "",
	amount: 0,
	refundAccountID: 0
  }),

  mounted() {
    //this.getData();
  },

  methods: {
    updateActivationStatus(item) {
      let self = this;
      let value = item.active == true ? 1 : 0;
      item.isLoading = true;
      axios({
        method: "PUT",
        url: "api/accounts/activation/",
        params: {
          id: item.id,
          isActive: value
        },
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token")
        }
      })
        .then(result => {
          if (result.status == 200) {
            console.log(result.data);
            item.isActive = !item.isActive;
          }
          item.isLoading = false;
        })
        .catch(err => {
          console.log(err);
          item.isLoading = false;
        });
	},
	updateAccountRole(item) {
      let self = this;
      let value = item.isAdmin == true ? 1 : 0;
      item.isLoading = true;
      axios({
        method: "PUT",
        url: "api/accounts/role/",
        params: {
          id: item.id,
          isAdmin: value
        },
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token")
        }
      })
        .then(result => {
          if (result.status == 200) {
            console.log(result.data);
            item.isAdmin = !item.isAdmin;
          }
          item.isLoading = false;
        })
        .catch(err => {
          console.log(err);
          item.isLoading = false;
        });
    },
    getData() {
      let self = this;
      axios({
        method: "GET",
        url: "api/accounts/",
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token")
        }
      })
        .then(result => {
          console.log(result);
          if (result.status == 200) {
            self.accounts = result.data.filter(acc => acc.role.id == 1);
          } else {
            console.log(result.data);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    openRefundDialog(acc) {
      this.refundDialog = true;
      this.amount = 0;
      this.refundDescription = "";
	},
	addNewAccount() {
		let sentData = {
			email: this.newAccountEmail,
			fullname: this.newAccountFullname,
			isAdmin: this.isAdmin
		}
		axios.post("api/accounts")
		.then(result => {
          console.log(result);
			if (result.status == 200) {
				this.accountDialog = false;
			}
        })
        .catch(err => {
          console.log(err);
        });
	},
	refund() {
		let sentData = {
			id: this.refundAccountID,
			amount: this.amount,
			description: this.refundDescription
		}
		axios.post("api/accounts/refund")
		.then(result => {
          console.log(result);
			if (result.status == 200) {
				this.refundDialog = false;
			}
        })
        .catch(err => {
          console.log(err);
        });
	},
	
  }
};
</script>

<style>
</style>