<template>
    <div class="admin-container">
        <div class="left">
            <Navigation></Navigation>
        </div>
        <div class="right">
            <router-view></router-view>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.admin-container {
    min-height: 100vh;
    display: flex;
    .left {
        width: fit-content;
    }
    .right {
        flex-grow: 1;
        background: #f8f8f8;
    }
}
</style>

<script>
import Navigation from "@/components/admin/Navigation";
export default {
    components: {
        Navigation
    }
};
</script>

