<template>
  <v-card class="pa-10" style="height: 100%">
    <v-row>
      <!-- <v-col cols="2">
				<v-text-field v-model="fileName" required outlined label="Arithmetic Name"></v-text-field>
			</v-col>-->
      <v-col cols="4">
        <v-file-input
          outlined
          accept=".jar"
          label="Arithmetic File"
          v-model="file"
        ></v-file-input>
      </v-col>
      <v-col cols="1">
        <v-btn :loading="isLoading" :disabled="isLoading" color="primary" block @click="submitFile()">Upload</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <table>
        <thead class="display-1">
          <td>Name</td>
          <td>Min Parameter</td>
          <td>Max Parameter</td>
          <td>Description</td>
          <td>Status</td>
          <td>Action</td>
        </thead>
        <tbody class="title">
          <tr v-for="(arith, index) in arithmetics" :key="index">
            <td>{{ arith.operator }}</td>
            <td>{{ arith.minParam }}</td>
            <td>{{ arith.maxParam }}</td>
            <td>{{ arith.description }}</td>
            <td v-if="arith.active == 1">Active</td>
            <td v-if="arith.active == 0">Inactive</td>
            <td v-if="arith.active == 0">
              <v-btn color="primary" @click="changeArithmeticStatus(arith, 1)"
                >Active</v-btn
              >
            </td>
            <td v-if="arith.active == 1">
              <v-btn color="primary" @click="changeArithmeticStatus(arith, 0)"
                >Disable</v-btn
              >
            </td>
          </tr>
        </tbody>
      </table>
    </v-row>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { db } from "@/plugins/firebase";
import axios from "@/plugins/axios";
const arithmetic = db.collection("arithmetic");
export default {
  data() {
    return {
      fileName: "",
      file: [],
      status: false,
      arithmetics: [],
      isLoading: false
    };
  },
  watch: {
    status(val) {
      console.log(val);
      if (val.status == true) {
        this.getData();
        this.isLoading = false;
        this.$toast.success("Successfully upload arithmetic!", "OK", {
          position: "topRight",
        });
        this.updateStatus();
      }
    },
  },
  mounted() {
    this.getData();
    this.bindStatus();
  },

  methods: {
    ...mapActions({
      create: "arithmetic/create",
	}),
    async submitFile() {
      let formData = new FormData();
      formData.append("file", this.file);
      try {
        this.isLoading = true;
        const result = await this.create(formData);
      } catch (err) {
        this.isLoading = false;
        console.error(err);
      }
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    bindStatus() {
      this.$bind("status", arithmetic.doc("1")).then((status) => {
        console.log(status);
      });
    },
    updateStatus() {
      arithmetic.doc("1").update({
        status: false,
      });
	},
	getData() {
      axios({
        url: "/api/arithmetics/all",
        method: "GET"
      })
        .then((result) => {
          console.log(result);
          if (result.status == 200) {
            this.arithmetics = result.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    changeArithmeticStatus(arithmetic, status) {
      axios({
        url: "/api/arithmetics",
        method: "PUT",
        params: {
          id: arithmetic.id,
          status: status,
        },
      })
        .then((result) => {
          console.log(result);
          if (result.status == 200) {
            this.getData();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
