<template>
  <v-container>
    <v-row>
      <v-col cols="8">
        <v-card>
          <v-card-title>Revenue <span style="font-weight: bold; margin-left: 10px">{{totalRevenue.toFixed(2)}} $</span></v-card-title>
          <!-- <v-card-title>
            <v-row>
              <v-col>
                <p>This month</p>
                <p>450$</p>
              </v-col>
              <v-col>
                <p>Previous month</p>
                <p>450$</p>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <apexchart height="300" type="line" :options="options" :series="series"></apexchart>
          </v-card-text> -->
          <v-card-title>
            <v-row>
              <v-col cols="5">
                <v-menu
                  v-model="menu"
                  transition="scale-transition"
                  offset-y
                  :nudge-right="40"
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      outlined
                      v-on="on"
                      slot="activator"
                      label="From"
                      v-model="picker"
                      prepend-icon="event"
                      readonly
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="picker"
                    no-title
                    scrollable
                    actions
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="5">
                <v-menu
                  v-model="menu1"
                  transition="scale-transition"
                  offset-y
                  :nudge-right="40"
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      outlined
                      v-on="on"
                      slot="activator"
                      label="To"
                      v-model="picker1"
                      prepend-icon="event"
                      readonly
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="picker1"
                    no-title
                    scrollable
                    actions
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="2">
                <v-btn color="primary" @click="getData()">Search</v-btn>
              </v-col>
            </v-row>
            <v-row>
              <p class="headline font-weight-light red--text">{{ message }}</p>
            </v-row>
          </v-card-title>
          <v-card-text>
            <apexchart
              height="300"
              type="line"
              :options="options"
              :series="series"
            ></apexchart>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="4" class="d-flex flex-column">
        <v-card class="mb-4 pb-12">
          <v-card-text>
            <div class="headline">Account</div>
            <p class="display-1 text--primary">{{ accountStatistic }}</p>
            <div class="text--primary"></div>
          </v-card-text>
          <p class="py-12"></p>
        </v-card>
        <v-card class="pb-12">
          <v-card-text>
            <div class="headline">Job</div>
            <p class="display-1 text--primary">{{ jobStatistic }}</p>
            <div class="text--primary"></div>
          </v-card-text>
          <p class="py-10"></p>
        </v-card>
      </v-col>
    </v-row>
    <!-- <v-row>
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col cols="5">
                <v-menu
                  v-model="menu"
                  transition="scale-transition"
                  offset-y
                  :nudge-right="40"
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      outlined
                      v-on="on"
                      slot="activator"
                      label="From"
                      v-model="picker"
                      prepend-icon="event"
                      readonly
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="picker"
                    no-title
                    scrollable
                    actions
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="5">
                <v-menu
                  v-model="menu1"
                  transition="scale-transition"
                  offset-y
                  :nudge-right="40"
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      outlined
                      v-on="on"
                      slot="activator"
                      label="To"
                      v-model="picker1"
                      prepend-icon="event"
                      readonly
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="picker1"
                    no-title
                    scrollable
                    actions
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="2">
                <v-btn color="primary" @click="getData()">Search</v-btn>
              </v-col>
            </v-row>
            <v-row>
              <p class="headline font-weight-light red--text">{{ message }}</p>
            </v-row>
          </v-card-title>
          <v-card-text>
            <apexchart
              height="300"
              type="line"
              :options="options"
              :series="series"
            ></apexchart>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row> -->
    <!-- <v-row>
      <v-btn color="primary" @click="a()">Test</v-btn>
      <v-btn color="primary" @click="computeStaticChart()"
        >Compute Payment</v-btn
      >
    </v-row> -->
  </v-container>
</template>

<script>
import axios from "@/plugins/axios";
import apexchart from "vue-apexcharts";
export default {
  components: {
    apexchart,
  },
  data() {
    return {
      message: "",
      menu: false,
      menu1: false,
      jobs: [],
      accounts: [],
      outputOption: [],
      currentMonthPayments: [
        {
          amount: 5,
          date: "2019-12-01",
        },
        {
          amount: 7,
          date: "2019-12-10",
        },
        {
          amount: 8,
          date: "2019-12-10",
        },
        {
          amount: 20,
          date: "2019-12-15",
        },
        {
          amount: 12,
          date: "2019-12-20",
        },
        {
          amount: 4,
          date: "2019-12-20",
        },
        {
          amount: 3,
          date: "2019-12-24",
        },
        {
          amount: 15,
          date: "2019-12-31",
        },
        {
          amount: 5,
          date: "2019-12-31",
        },
        {
          amount: 7,
          date: "2019-12-31",
        },
      ],
      previousMonthPayments: [
        {
          amount: 8,
          date: "2020-01-03",
        },
        {
          amount: 3,
          date: "2020-01-10",
        },
        {
          amount: 10,
          date: "2020-01-15",
        },
        {
          amount: 5,
          date: "2020-01-16",
        },
        {
          amount: 13,
          date: "2020-01-24",
        },
        {
          amount: 5,
          date: "2020-01-29",
        },
      ],
      isDatePickerShow: false,
      isDatePickerShow1: false,
      picker: new Date().toISOString().substr(0, 10),
      picker1: new Date().toISOString().substr(0, 10),
      jobAmountDetail: 0,
      revenueAmountDetail: 0,
      options: {
        chart: {
          id: "vuechart-example",
        },
        stroke: {
          curve: "smooth",
        },
      },
      series: [],
      totalRevenue: 0
    };
  },
  mounted() {
    let date = new Date();
    let firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
    let lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
    let tzoffset = new Date().getTimezoneOffset() * 60000;
    this.picker = new Date(firstDay - tzoffset).toISOString().substr(0, 10);
    this.picker1 = new Date(lastDay - tzoffset).toISOString().substr(0, 10);
    this.getData();
  },
  computed: {
    accountStatistic() {
      return this.accounts.length;
    },
    jobStatistic() {
      return this.jobs.length;
    },
  },
  methods: {
    computeStaticChart() {
      //Current mount vs Previous Month Revenue

      //Extract Current Month Revenue
      let currentMonthDatesAmount = this.computeAmountByDateFromPayments(
        this.currentMonthPayments
      );
      let currentMonthDates = Object.keys(currentMonthDatesAmount);
      currentMonthDates.sort();
      let currentMonthAmounts = [];
      currentMonthDates.forEach((date) => {
        currentMonthAmounts.push(currentMonthDatesAmount[date]);
      });

      //Extract Previous Month Revenue
      let previousMonthDatesAmount = this.computeAmountByDateFromPayments(
        this.previousMonthPayments
      );
      let previousMonthDates = Object.keys(previousMonthDatesAmount);
      previousMonthDates.sort();
      let previousMonthAmounts = [];
      previousMonthDates.forEach((date) => {
        previousMonthAmounts.push(previousMonthDatesAmount[date]);
      });

      //Join 2 array of dates
      let finalDates = [
        ...new Set([...currentMonthDates, ...previousMonthDates]),
      ];
      finalDates.sort();
      //Add 0 value to miss date
      finalDates.forEach(function(date, i, finalDates) {
        if (currentMonthDates[i] != date) {
          currentMonthAmounts.splice(i, 0, 0);
          currentMonthDates.splice(i, 0, "");
        }
        if (previousMonthDates[i] != date) {
          previousMonthAmounts.splice(i, 0, 0);
          previousMonthDates.splice(i, 0, "");
        }
      });
      this.options = {
        xaxis: {
          categories: finalDates,
        },
      };
      this.series = [
        {
          data: currentMonthAmounts,
        },
        {
          data: previousMonthAmounts,
        },
      ];
    },
    computeAmountByDateFromPayments(payments) {
      let datesObject = payments.reduce(function(ar, a) {
        let day = a.date.split("-")[2];
        ar[day] = ar[day] || 0;
        ar[day] = parseInt(ar[day]) + a.amount;
        return ar;
      }, Object.create(null));
      return datesObject;
    },
    getLastDayOfMonth(month, year) {
      //Get Last Day Of Previous Month
      let lastDay = new Date(year, month + 1, 0);
      return lastDay.getDate();
    },
    computePreviousDate(currentDate) {
      let day = currentDate.split("-")[2];
      let month = parseInt(currentDate.split("-")[1]);
      let year = currentDate.split("-")[0];

      let lastDayOfCurrentMonth = this.getLastDayOfMonth(month, year);
      if (lastDayOfCurrentMonth == day) {
        let day = this.getLastDayOfMonth(month, year);
      }
      if (month == "01") {
        year = year - 1;
        month = 12;
      } else {
        month = month - 1;
      }

      year = ("0000" + year).slice(-4);
      month = ("0" + month).slice(-2);

      return year + "-" + month + "-" + day;
    },
    getData() {
      let firstDate = new Date(this.picker);
      let secondDate = new Date(this.picker1);
      if (firstDate > secondDate) {
        this.message = "Invalid range of date.";
      } else {
        this.message = "";
        let self = this;
        axios({
          method: "GET",
          url: "/api/statistic",
          params: {
            startDate: self.picker,
            endDate: self.picker1,
          },
        })
          .then((result) => {
            if (result.status == 200) {
              this.totalRevenue = 0;
              this.jobs = result.data[0];
              this.accounts = result.data[1];
              let a = [];
              result.data[2].forEach((e) => {
                console.log(e.id);
                if(e.type === 1) {
                  this.totalRevenue += e.amount;
                  e.createdDay = e.createdDay.split("T")[0];
                  a.push(e);
                }
              });
              console.log(a);
              self.a(a);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    a(data) {
      // let data = [
      //   {
      //     amount: 8,
      //     date: "2020-01-03"
      //   },
      //   {
      //     amount: 3,
      //     date: "2020-01-10"
      //   },
      //   {
      //     amount: 6,
      //     date: "2020-01-10"
      //   },
      //   {
      //     amount: 10,
      //     date: "2020-01-15"
      //   },
      //   {
      //     amount: 5,
      //     date: "2020-01-16"
      //   },
      //   {
      //     amount: 13,
      //     date: "2020-01-24"
      //   },
      //   {
      //     amount: 3,
      //     date: "2020-01-24"
      //   },
      //   {
      //     amount: 5,
      //     date: "2020-01-29"
      //   }
      // ];

      let computeAmount = this.computeAmountByDateFromPayments1(data);
      let diffDays =
        this.computeDiffDays(
          data[0].createdDay,
          data[data.length - 1].createdDay
        ) + 1;
      let dates = [];
      let d = [];
      let start = new Date(data[0].createdDay);
      let currentInLoopDate = start;
      let keys = Object.keys(computeAmount);
      for (let i = 0; i < keys.length; i++) {
        let a = keys[i];
        let currentDate = new Date(a);
        if (currentInLoopDate.getTime() == currentDate.getTime()) {
          d.push(computeAmount[keys[i]]);
          dates.push(keys[i]);
        } else {
          let formatDateString = this.formatDate(currentInLoopDate);
          d.push(0);
          dates.push(formatDateString);
          i--;
        }
        currentInLoopDate.setDate(currentInLoopDate.getDate() + 1);
      }
      this.options = {
        xaxis: {
          categories: dates,
        },
      };
      this.series = [
        {
          data: d,
        },
      ];
    },

    computeDiffDays(from, to) {
      const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
      let firstDate = new Date(from);
      let secondDate = new Date(to);

      let diffDays = Math.round(Math.abs((firstDate - secondDate) / oneDay));
      return diffDays;
    },

    computeAmountByDateFromPayments1(payments) {
      let datesObject = payments.reduce(function(ar, a) {
        let day = a.createdDay.split("-")[2];
        ar[a.createdDay] = ar[a.createdDay] || 0;
        ar[a.createdDay] = parseInt(ar[a.createdDay]) + a.amount;
        return ar;
      }, Object.create(null));
      return datesObject;
    },

    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month, day].join("-");
    },
  },
};
</script>

<style></style>
