<template>
  <v-container>
    <v-card>
      <v-card-title>
        Tariff
        <div class="flex-grow-1"></div>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :search="search"
        :headers="headers"
        :items="tariffs"
        class="elevation-1"
      >
        <template v-slot:item.price="{ item }">
          <span>{{ item.price }}$</span>
        </template>
        <template v-slot:item.action="{ item }">
          <v-btn @click="edit(item)">Edit</v-btn>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="getData()">Reset</v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">{{ selectedTariff.name }}</v-card-title>

        <v-card-text>{{ selectedTariff.description }}</v-card-text>
        <v-card-text>
          <v-text-field
            type="number"
            label="Price"
            v-model="selectedTariff.price"
          ></v-text-field>
          <v-text-field
            label="Quantity"
            v-model="selectedTariff.quantity"
          ></v-text-field>
        </v-card-text>
        <p class="title" style="color: red; text-align: center">
          {{ errorMessage }}
        </p>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="editRequest()"
            >Update</v-btn
          >

          <v-btn color="green darken-1" text @click="dialog = false"
            >Cancel</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from "@/plugins/axios";
export default {
  data: () => ({
    selectedTariff: {},
    dialog: false,
    search: "",
    headers: [
      {
        text: "ID",
        align: "left",
        value: "id",
      },
      { text: "Name", value: "name" },
      { text: "Description", value: "description" },
      { text: "Price", value: "price" },
      { text: "Quantity", value: "quantity" },
      { text: "Unit", value: "unit" },
      { text: "Actions", value: "action" },
    ],
    tariffs: [],
    errorMessage: "",
  }),

  mounted() {
    this.getData();
  },

  methods: {
    getData() {
      let self = this;
      axios({
        method: "GET",
        url: "api/tariffs/",
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
        },
      })
        .then((result) => {
          if (result.status == 200) {
            console.log(result.data);
            self.tariffs = result.data;
          } else {
            console.log(result.data);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    edit(tariff) {
      this.dialog = true;
      this.selectedTariff = JSON.parse(JSON.stringify(tariff));
    },
    editRequest() {
      if (this.selectedTariff.price <= 0) {
        this.errorMessage = "Price must be larger than 0";
        return;
      }
      if (this.selectedTariff.quantity <= 0) {
        this.errorMessage = "Quantity must be larger than 0";
        return;
      }
      let sentData = {
        id: this.selectedTariff.id,
        price: this.selectedTariff.price,
        quantity: this.selectedTariff.quantity,
	  };
	   this.errorMessage = "";
      let self = this;
      axios({
		  url: '/api/tariffs',
		  method: 'PUT',
		  data: sentData
	  })
        .then((result) => {
          if (result.status === 200) {
			self.dialog = false;
            self.getData();
            self.$toast.success("Successfully updated tariff!", "OK", {
              position: "topRight",
            });
          }
        })
        .catch((err) => {
			self.$toast.success("Update tariff fail!", "OK", {
              position: "topRight",
            });
		});
    },
  },
};
</script>

<style></style>
