<template>
  <v-container>
    <v-row align="center">
      <v-col class="text-center" cols="12" sm="4">
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="date"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="startDate"
              label="Pick start date"
              prepend-icon="event"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="startDate" no-title scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
          </v-date-picker>
        </v-menu>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="text-center" cols="12" sm="4">
        <v-menu
          ref="menu2"
          v-model="menu2"
          :close-on-content-click="false"
          :return-value.sync="date"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="endDate"
              label="Pick end date"
              prepend-icon="event"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="endDate" no-title scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="menu2 = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.menu2.save(date)">OK</v-btn>
          </v-date-picker>
        </v-menu>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="text-center" cols="12" sm="4">
        <v-btn class="ma-2" outlined color="indigo" @click="getData()">Submit</v-btn>
      </v-col>
    </v-row>

 

    <div class="check-box"  v-if="showStatisticType" row>
      <v-row align="center">
        <p>{{ statisticType || 'null' }}</p>
        <p>{{ select || 'null' }}</p>
        <v-radio-group v-model="statisticType" row >
          <v-col class="text-center" cols="12" sm="4">
            <div class="my-2" @click="getStatistic(statisticType, select)">
              <v-radio label="Account" value="account"></v-radio>
            </div>
          </v-col>
          <v-col class="text-center" cols="12" sm="4">
            <div class="my-2" @click="getStatistic(statisticType, select)">
              <v-radio label="Job" value="job"></v-radio>
            </div>
          </v-col>
          <v-col class="text-center" cols="12" sm="4">
            <div class="my-2" @click="getStatistic(statisticType, select)">
              <v-radio label="Revenue" value="revenue"></v-radio>
            </div>
          </v-col>
        </v-radio-group>
      </v-row>
    </div>

<v-row v-if="showTimePeriod">
      <v-col cols="12" >
        <v-combobox v-model="select" :items="items" label="Select time period to show statistic" v-on:change="getStatistic(statisticType, select)"  readOnly >
        </v-combobox>
       
      </v-col>
    </v-row>

    <v-row>
      <div class="chart-wrapper">
        <chart v-if="dateChart" :options="chartOptionsLine"></chart>
      </div>
    </v-row>
  </v-container>
</template>

<style lang="scss" scoped>
.check-box {
  background-color: powderblue;
  border-color: black;
  border: 1ch;
}
.chart-wrapper {
  width: 100%;
  height: 700px;
}
.echarts {
  width: 100%;
  height: 100%;
}
</style>

<script>
export default {
  data() {
    return {
      statisticType: null,
      select: "Please choose one of time period",
      items: ["Day", "Week", "Month", "Quarter"],
      showTimePeriod: false,
      date: new Date().toISOString().substr(0, 10),
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      menu: false,
      menu2: false,
      accountDate: [],
      accountMonth: [],
      jobsDate: [],
      jobsMonth: [],
      jobs: [],
      accounts: [],
      dateChart: false,
      showStatisticType: false,
      chartOptionsLine: {
        xAxis: {
          data: []
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            type: "line",
            data: []
          }
        ],
        title: {
          text: "Monthly Stock Prices",
          x: "center",
          textStyle: {
            fontSize: 24
          }
        },
        color: ["#127ac2"]
      }
    };
  },
  methods: {
    getData() {
      let self = this;
      if (self.startDate < self.endDate) {
        self.showStatisticType = true;
        self.showTimePeriod = true;
        this.$axios({
          method: "GET",
          url: "/statistic",
          params: {
            startDate: self.startDate,
            endDate: self.endDate
          }
        })
          .then(result => {
            if (result.status == 200) {
              console.log(result.data);
              self.jobs = result.data[0];
              self.accounts = result.data[1];
              console.log(result.data);
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        alert("Checking your date format");
      }
    },

    foo(arr) {
      var a = [],
        b = [],
        prev;

      arr.sort();
      for (var i = 0; i < arr.length; i++) {
        if (arr[i] !== prev) {
          a.push(arr[i]);
          b.push(1);
        } else {
          b[b.length - 1]++;
        }
        prev = arr[i];
      }

      return b;
    },
    foo(arr) {
      var a = [],
        b = [],
        prev;

      arr.sort();
      for (var i = 0; i < arr.length; i++) {
        if (arr[i] !== prev) {
          a.push(arr[i]);
          b.push(1);
        } else {
          b[b.length - 1]++;
        }
        prev = arr[i];
      }

      return b;
    },

    revenueByDate(arr) {
      var a = [],
        b = [],
        prev;

      arr.sort();
      for (var i = 0; i < arr.length; i++) {
        if (arr[i] !== prev) {
          a.push(arr[i]);
          for (var j = 0; j < this.jobs.length; j++) {
            if (i == j) b.push(this.jobs[j].amount);
          }
        } else {
          b[b.length - 1]++;
        }
        prev = arr[i];
      }

      return [a, b];
    },

    getStatistic(type, time) {
      if (type == "account" && time != "Please choose one of time period") {   
        this.dateChart = true;      
        if(this.accountDate.length == 0){
        for (var i = 0; i < this.accounts.length; i++) {
          this.accountDate.push(this.accounts[i].created.slice(0, 10));
          this.accountMonth.push(this.accounts[i].created.slice(5, 7));
        }
        }
        if (time == "Day") {
          let countAccountByDate = this.foo(this.accountDate);
          let dayUnique = Array.from(new Set(this.accountDate));
          this.chartOptionsLine.xAxis.data = dayUnique.sort();
          this.chartOptionsLine.series[0].data = countAccountByDate;
        }
        else if (time == "Month") {
          let monthData = [3,5];
          let monthUnique = Array.from(new Set(this.accountMonth));
          this.chartOptionsLine.xAxis.data = monthUnique.sort();
          this.chartOptionsLine.series[0].data = monthData;
        }
      } else if (type == "job" && time != "Please choose one of time period") {
        this.dateChart = true;
        if(this.jobsDate.length == 0){
        for (var i = 0; i < this.jobs.length; i++) {
          this.jobsDate.push(this.jobs[i].created.slice(0, 10));
          this.jobsMonth.push(this.jobs[i].created.slice(5, 7));
        }
        }

        if (time == "Day") {
          let countJobByDate = this.foo(this.jobsDate);
          let dayUnique = Array.from(new Set(this.jobsDate));
          this.chartOptionsLine.xAxis.data = dayUnique.sort();
          this.chartOptionsLine.series[0].data = countJobByDate;
        } else if (time == "Month") {
          let monthUnique = Array.from(new Set(this.jobsMonth));
          this.chartOptionsLine.xAxis.data = monthUnique.sort();
          // this.chartOptionsLine.series[0].data = rs;
        }
      }
    },
    // getJobByDate() {
    //   if (this.job != null) {
    //     this.revenue = null;
    //     this.account = null;
    //     this.dateChart = true;
    //     for (var i = 0; i < this.jobs.length; i++) {
    //       this.jobsDate.push(this.jobs[i].created.slice(0, 10));
    //       this.jobsPrice.push(this.jobs[i].amount);
    //     }
    //     console.log("amount" + this.jobsPrice);
    //     let uniqueDate = Array.from(new Set(this.jobsDate));
    //     let rs = this.foo(this.jobsDate);
    //     let price = this.revenueByDate(this.jobsDate);
    //     this.chartOptionsLine.xAxis.data = uniqueDate.sort();
    //     this.chartOptionsLine.series[0].data = rs;
    //   }
    // }
  }
};
</script>