<template>
	<div class="pa-8">
		<div class="mb-4">
			<v-btn
				@click="addNew"
				outlined
				color="white"
				class="deep-purple--text text--accent-2 title"
			>Add New</v-btn>
		</div>
		<div class="d-flex justify-start">
			<v-row>
				<v-col xs="6" md="4" lg="3" v-for="(datasource, index) in datasources" :key="index">
					<v-card max-width="344">
						<!-- <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px"></v-img> -->

						<v-card-title>
							<div>{{datasource.name}}</div>
						</v-card-title>

						<v-card-actions>
							<v-btn text color="purple" @click="edit(datasource)">Edit</v-btn>

							<v-btn text color="red" @click="remove(datasource)">Delete</v-btn>

							<div class="flex-grow-1"></div>
						</v-card-actions>
					</v-card>
				</v-col>
			</v-row>
		</div>
		<v-overlay :value="overlay">
			<v-progress-circular v-if="isFetchingData" indeterminate size="64"></v-progress-circular>
			<v-progress-circular
				v-if="isRenderingData"
				:rotate="-90"
				:size="100"
				:width="15"
				:value="value"
				color="primary"
			>{{ value }}</v-progress-circular>
		</v-overlay>
	</div>
</template>

<script>
import hash from "object-hash";
import { mapActions, mapGetters } from "vuex";
export default {
	data: () => ({
		show: false,
		interval: {},
		value: 0,
		overlay: false,
		isFetchingData: false,
		isRenderingData: false
	}),
	mounted() {
		// this.interval = setInterval(() => {
		// 	if (this.value === 100) {
		// 		return (this.value = 0);
		// 	}
		// 	this.value += 10;
		// }, 1000);
		this.getData();
	},
	computed: {
		...mapGetters({
			datasources: "datasource/datasources",
			datasource: "datasource/datasource",
			rows: "datasource/rows"
		})
	},
	methods: {
		...mapActions({
			getDatasources: "datasource/getDatasources",
			getDatasource: "datasource/getDatasource",
			deleteDatasource: "datasource/deleteDatasource",
			updateDatasource: "datasource/updateDatasource",
			resetData: "datasource/resetData",
			addHeader: "datasource/addHeader",
			addEdittingRow: "datasource/addEdittingRow",
			addRow: "datasource/addRow",
			clearDeletedRows: "datasource/clearDeletedRows"
		}),
		addNew() {
			this.$store.state.datasource.headers = [];
			this.$store.state.datasource.rows = [];
			this.$store.state.datasource.datasource = {};
			this.updateDatasource({});
			this.$router.push("/datatable");
		},
		async getData() {
			let isError = false;
			let errorMessage = "Get Datasources failed!";
			try {
				this.overlay = true;
				this.isFetchingData = true;
				const result = await this.getDatasources();
				if (!result.status === 200) {
					errorMessage = result.data;
					isError = true;
				}
				console.log(result.data);
			} catch (err) {
				isError = true;
				if (err.response) {
					errorMessage = err.response.data;
				}
			} finally {
				this.overlay = false;
				this.isFetchingData = true;
				if (isError) {
					this.$toast.error(errorMessage, "Error", {
						position: "topRight"
					});
					console.error(errorMessage);
				}
			}
		},
		async edit(datasource) {
			if (datasource.dbms) {
				this.resetData();
				this.updateDatasource(datasource);
				this.clearDeletedRows();
				this.$store.state.datasource.datasource.id = datasource.id;
				this.$router.push("/datatable");
			} else {
				let isError = false;
				let errorMessage = "Get DataSource Fail";
				try {
					const result = await this.getDatasource(datasource.id);
					if (result.status === 200) {
						this.resetData();
						this.parseDataFromServer(this.datasource);
						this.updateDatasource(datasource);
						this.clearDeletedRows();
						this.$store.state.datasource.datasource.id =
							datasource.id;
						this.$router.push("/datatable");
					} else {
						errorMessage = result.data;
						isError = true;
					}
				} catch (err) {
					isError = true;
					if (err.response) {
						errorMessage = err.response.data;
					}
				} finally {
					if (isError) {
						this.$toast.error(errorMessage, "Error", {
							position: "topRight"
						});
						console.error(errorMessage);
					}
				}
			}
		},

		remove(datasource) {
			let self = this;
			this.$toast.question("Do you want to delete datasoure: " + datasource.name, "Confirm", {
				timeout: false,
				close: false,
				overlay: true,
				id: "question",
				position: "topCenter",
				buttons: [
					[
						"<button><b>Yes</b></button>",
						function(instance, toast) {
							instance.hide(
								{ transitionOut: "fadeOut" },
								toast,
								"button"
							);
							self.deleteDatasourceRequest(datasource);
						},
						true
					],
					[
						"<button>No</button>",
						function(instance, toast) {
							instance.hide(
								{ transitionOut: "fadeOut" },
								toast,
								"button"
							);
						}
					]
				]
			});
		},

		async deleteDatasourceRequest(datasource) {
			try {
				console.log(datasource);
					const result = await this.deleteDatasource(datasource.id);
					if (result.status === 200) {
						this.$toast.success(
							"Successfully deleted datasource!",
							"OK",
							{
								position: "topRight"
							}
						);
					}
				} catch (err) {
					this.$toast.error("Delete datasource failed!", "Error", {
						position: "topRight"
					});
					console.log(err.response);
				}
		},

		parseDataFromServer(data) {
			// let jsonObject = JSON.parse(data);
			// console.log(jsonObject);
			let tableData = data[0];
			//console.log(tableData);
			let datatype = data[1];
			//console.log(datatype);

			if (tableData.length > 0) {
				for (let index = 0; index < tableData.length; index++) {
					const tmp = tableData[index];
					let tmpObject = JSON.parse(tmp);
					let keys = Object.keys(tmpObject);
					if (index == 0) {
						for (let i = 0; i < keys.length; i++) {
							let headerName = keys[i];
							if (headerName != "ODM") {
								let newHeader = {
									text: headerName,
									value: headerName,
									sortable: false,
									datatypes: []
								};
								let datatypeTmp = datatype.filter(
									dt => dt.columnName == headerName
								);
								newHeader.datatypes = this.determineDatatype(
									datatypeTmp[0].dataType
								);
								if (!datatypeTmp.includes("string")) {
									newHeader.datatypes.push("string");
								}
								let dataItem = "";
								this.addHeader(newHeader);
								this.addEdittingRow("");
							}
						}
					}
					let newRow = {};
					for (let i = 0; i < keys.length; i++) {
						let value = tmpObject[keys[i]];
						if (value == "null") newRow[keys[i]] = "";
						else newRow[keys[i]] = tmpObject[keys[i]];
					}
					if (
						!(
							Object.entries(newRow).length === 0 &&
							newRow.constructor === Object
						)
					) {
						newRow["hashValue"] = hash(newRow);
						newRow["action"] = {};
						this.addRow(newRow);
					}
				}
			}
		},

		determineDatatype(datatype) {
			let result = [];
			if (datatype == "string") {
				result = ["string"];
			} else if (datatype == "integer") {
				result = ["integer", "decimal", "string"];
			} else if (datatype == "decimal") {
				result = ["decimal", "string"];
			} else if (datatype == "email") {
				result = ["email", "string"];
			} else if (datatype == "date") {
				result = ["date", "string"];
			}
			return result;
		}
	}
};
</script>

<style>
</style>