<template>
  <v-container fluid>
    <v-row>
      <v-col cols="4">
        <v-text-field
          label="Data Source Name"
          v-model="datasourceName"
          single-line
          outlined
          background-color="white"
        ></v-text-field>
      </v-col>
      <v-col cols="1">
        <v-btn block @click="saveData()" color="primary">Create</v-btn>
      </v-col>
      <v-col v-if="datasource.id" cols="1">
        <v-btn block @click="updateData()" color="primary">Update</v-btn>
      </v-col>

      <v-col cols="2">
        <input
          style="display: none"
          type="file"
          ref="fileInput"
          @change="importCSV($event)"
          accept=".csv"
          id="csvInput"
        />
        <input
          style="display: none"
          type="file"
          ref="fileInputExcel"
          @change="importXLSX($event)"
          accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          id="excelInput"
        />
        <v-dialog v-model="dialogDBMS" max-width="50%">
          <v-card>
            <RemoteDBMS
              v-if="dialogDBMS"
              @closeModal="dialogDBMS = false"
              @renderDataFromDBMS="renderDataFromDBMS"
              :datasource="datasource"
              :isEdit="isEditDBMS"
            ></RemoteDBMS>
          </v-card>
        </v-dialog>
        <v-dialog v-if="dialogGGSheet" v-model="dialogGGSheet" max-width="50%">
          <v-card>
            <v-card-title>Import By Google Sheet</v-card-title>
            <v-card-text>
              <v-text-field
                label="URL"
                outlined
                dense
                v-model="ggsheetURL"
              ></v-text-field>
              <p v-if="GGSheetError" class="title red--text">
                {{ GGSheetError }}
              </p>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn
                color="green darken-1 display-1"
                :loading="isLoadingGGSheet"
                :disabled="isLoadingGGSheet"
                text
                @click="renderDataFromGGSheet()"
                >Import</v-btn
              >
              <v-btn
                color="green darken-1 headline"
                text
                @click="dialogGGSheet = false"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogJSON" max-width="50%">
          <v-card>
            <v-card-title>Import By JSON Data</v-card-title>
            <v-card-text>
              <v-text-field
                label="URL"
                outlined
                dense
                v-model="jsonURL"
                append-outer-icon="mdi-send"
                @click:append-outer="validateJSON"
              ></v-text-field>
              <v-treeview
                class="headline"
                :items="treeData"
                activatable
                @update:active="test"
                return-object
              >
                <template slot="label" slot-scope="{ item }">
                  <span @click="test(item)">{{ item.name }}</span>
                </template>
              </v-treeview>
              <v-text-field v-model="jsonPath" label="JSON Path"></v-text-field>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn
                color="green darken-1 display-1"
                text
                @click="renderJSONData()"
                >Import</v-btn
              >
              <v-btn
                color="green darken-1 headline"
                text
                @click="dialogJSON = false"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="1">
        <v-btn block @click="clearDataRequest()">Clear Data</v-btn>
      </v-col>
      <v-col cols="2">
        <v-menu bottom offset-y close-on-click>
          <template v-slot:activator="{ on }">
            <v-btn color="success" block dark v-on="on">Import</v-btn>
          </template>
          <v-list>
            <v-list-item @click="importOnChange(1)">
              <v-list-item-title class="title">File CSV</v-list-item-title>
            </v-list-item>
            <v-list-item @click="importOnChange(2)">
              <v-list-item-title class="title">File Excel</v-list-item-title>
            </v-list-item>
            <v-list-item @click="importOnChange(3)">
              <v-list-item-title class="title">Remote DBMS</v-list-item-title>
            </v-list-item>
            <v-list-item @click="importOnChange(4)">
              <v-list-item-title class="title">Google Sheet</v-list-item-title>
            </v-list-item>
            <v-list-item @click="importOnChange(5)">
              <v-list-item-title class="title">JSON Data</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>

      <!-- <v-col cols="4">
				<v-text-field v-model="testData" label="data" outlined></v-text-field>
				<v-btn @click="determineDataType()">Test</v-btn>
				{{resultData}}
			</v-col>-->
    </v-row>
    <v-row>
      <v-col cols="9">
        <v-card>
          <DatasourceTable @changeTab="tab = $event"></DatasourceTable>
        </v-card>
      </v-col>
      <v-col cols="3">
        <v-card>
          <v-tabs
            v-model="tab"
            background-color="transparent"
            color="basil"
            grow
          >
            <v-tab>
              <h1>Header</h1>
            </v-tab>
            <v-tab v-if="edittingRow.length > 0">
              <h1>Data</h1>
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <div>
              <v-container>
                <DatasourceHeader></DatasourceHeader>
                <DatasourceRow></DatasourceRow>
              </v-container>
            </div>
          </v-tabs-items>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialogError" max-width="300">
      <v-card>
        <v-card-title class="display-1">Error</v-card-title>

        <v-card-text class="headline">
          {{ errorMessage }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogError = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import axios from "@/plugins/axios";
import jp from "jsonpath";
import { mapGetters, mapActions } from "vuex";

//library
import hash from "object-hash";
import Papa from "papaparse";
import XLSX from "xlsx";
import Tabletop from "tabletop";
import moment from "moment";
import toJsonSchema from "to-json-schema";
import RemoteDBMS from "@/components/user/RemoteDBMS.vue";
import DatasourceHeader from "@/components/user/DatasourceHeader.vue";
import DatasourceRow from "@/components/user/DatasourceRow.vue";
import DatasourceTable from "@/components/user/DatasourceTable.vue";

export default {
  components: {
    RemoteDBMS,
    DatasourceHeader,
    DatasourceRow,
    DatasourceTable,
  },
  data: () => ({
    tab: null,
    dialogDBMS: false,
    dialogGGSheet: false,
    isLoadingGGSheet: false,
    ggsheetURL: "",
    GGSheetError: "",
    dialogJSON: false,
    jsonURL: "",
    testData: "",
    resultData: "",
    resultJSONSchema: [],
    treeData: [],
    isDBMS: false,
    statment: "",
    connectionString: "",
    sqlserverType: "",
    selectedJSON: [],
    jsonPath: "",
    treeModel: [],
    jsonData: null,
	isEditDBMS: false,
	dialogError: false,
	errorMessage: ""
  }),
  mounted() {
    this.isEditDBMS = false;
    if (this.datasource.dbms) {
      this.dialogDBMS = true;
      this.isEditDBMS = true;
    }
  },
  computed: {
    ...mapGetters({
      datasource: "datasource/datasource",
      headers: "datasource/headers",
      rows: "datasource/rows",
      edittingRow: "datasource/edittingRow",
      deletedRows: "datasource/deletedRows",
    }),
    datasourceName: {
      get() {
        if (this.datasource.name) {
          return this.datasource.name;
        } else {
          let generateName =
            "Datasource " + new Date().toISOString().substr(0, 10);
          this.datasource.name = generateName;
          this.updateDatasource(this.datasource);
          return generateName;
        }
      },
      set(val) {
        this.datasource.name = val;
        this.updateDatasource(this.datasource);
      },
    },
  },
  methods: {
    ...mapActions({
      updateDatasource: "datasource/updateDatasource",
      create: "datasource/create",
      resetData: "datasource/resetData",
      update: "datasource/update",
      clearDeletedRows: "datasource/clearDeletedRows",
    }),
    clearDataRequest() {
      this.resetData();
      this.isDBMS = false;
      this.statment = "";
      this.connectionString = "";
      this.sqlserverType = "";
    },
    importOnChange(value) {
      if (this.headers.length > 0 || this.rows.length > 0) {
        if (
          confirm(
            "Your data is not save yet? Are you sure you want to import another file?"
          )
        ) {
          this.$store.dispatch("datasource/resetEdittingRow");
          this.$store.dispatch("datasource/resetData");
          if (value == 1) this.$refs.fileInput.click();
          else if (value == 2) this.$refs.fileInputExcel.click();
          else if (value == 3) this.dialogDBMS = true;
          else if (value == 4) this.dialogGGSheet = true;
          else if (value == 5) this.dialogJSON = true;
        }
      } else {
        if (value == 1) this.$refs.fileInput.click();
        else if (value == 2) this.$refs.fileInputExcel.click();
        else if (value == 3) this.dialogDBMS = true;
        else if (value == 4) this.dialogGGSheet = true;
        else if (value == 5) this.dialogJSON = true;
      }
    },
    importCSV(event) {
      let self = this;
      let file = event.target.files[0];
      let fileName = event.target.value;
      let lastIndexOfExtension = fileName.lastIndexOf(".");
      let isValid = false;
      if (lastIndexOfExtension > 0) {
        let extension = fileName.substr(lastIndexOfExtension);
        if (extension == ".csv") {
          isValid = true;
        }
      }
      //Reset file input value
      event.target.value = null;

      if (!isValid) {
        this.$toast.error("File is not supported", "Error", {
          position: "topRight",
        });
      } else {
        Papa.parse(file, {
          header: true,
          dynamicTyping: true,
          skipEmptyLines: true,
          step: function(results, parser) {
            results.meta.fields.forEach(f => {
              let isHeaderExisted = -1;
                self.headers.some((item, index) => {
                  if (item.text == f) {
                    isHeaderExisted = index;
                    return true;
                  }
                });
                if (isHeaderExisted > -1) {
                } else {
                  //Add Header
                  let value_prefix =
                    self.headers.length == 0 ? 1 : self.headers.length;
                  let newHeader = {
                    text: f,
                    value: f,
                    sortable: false,
                    datatypes: ["email", "integer", "decimal", "string"],
                  };
                  let dataItem = "";
                  self.$store.dispatch("datasource/addEdittingRow", "");
                  self.$store.dispatch("datasource/addHeader", newHeader);
                }
            })
            if (results.errors.length == 0) {
              let row = results.data;
              let keys = Object.keys(row);
              let newRow = {};
              keys.forEach((key) => {
                let a = -1;
                self.headers.some((item, index) => {
                  if (item.text == key) {
                    a = index;
                    return true;
                  }
                });
                if (a > -1) {
                  //Get Data Datatype From Each Cell Of Each Row By Key
                  // "First Name": "ABC"
                  let c = typeof row[key];
                  //console.log(row[key] + " - " + c);
                  self.headers[a].datatypes = self.determineDataType(
                    self.headers[a].datatypes,
                    row[key]
                  );
                  //Add Cell To Row
                  newRow[self.headers[a].value] = row[key];
                } else {
                  //Add Header
                  let value_prefix =
                    self.headers.length == 0 ? 1 : self.headers.length;
                  let newHeader = {
                    text: key,
                    value: key,
                    sortable: false,
                    datatypes: ["email", "integer", "decimal", "string"],
                  };
                  let dataItem = "";
                  self.$store.dispatch("datasource/addEdittingRow", "");
                  self.$store.dispatch("datasource/addHeader", newHeader);
                }
              });
              // console.log("Row data:", results.data);
              // console.log("Row errors:", results.errors);
              //Add Row
              if (
                !(
                  Object.entries(newRow).length === 0 &&
                  newRow.constructor === Object
                )
              ) {
                newRow["action"] = {};
                self.$store.dispatch("datasource/addRow", newRow);
              }
            } else {
              console.log("Row errors:", results.errors);
            }
          },
          complete: function(results, file) {
            // console.log("Parsing complete:", self.headers);
            // console.log("Parsing complete:", results);
          },
        });
      }
    },
    importXLSX(e) {
      let f = e.target.files[0];
      let fileName = e.target.value;
      let lastIndexOfExtension = fileName.lastIndexOf(".");
      let isValid = false;
      if (lastIndexOfExtension > 0) {
        let extension = fileName.substr(lastIndexOfExtension);
        if (extension == ".xlsx" || extension == ".xls") {
          isValid = true;
        }
      }
      //Reset file input value
      e.target.value = null;

      if (!isValid) {
        this.$toast.error("File is not supported", "Error", {
          position: "topRight",
        });
      } else {
        var reader = new FileReader();
        let self = this;
        reader.onload = function(e) {
          var data = new Uint8Array(e.target.result);
          var workbook = XLSX.read(data, {
            type: "array",
            cellDates: true,
          });

          var first_sheet_name = workbook.SheetNames[0];
          var worksheet = workbook.Sheets[first_sheet_name];
          var range = XLSX.utils.decode_range(worksheet["!ref"], {
            skipUndefined: true,
          });
          for (var R = range.s.r; R <= range.e.r; ++R) {
            let newRow = {};
            for (var C = range.s.c; C <= range.e.c; ++C) {
              var cell_address = { c: C, r: R };
              var cell_ref = worksheet[XLSX.utils.encode_cell(cell_address)];
              //Headers Row
              if (R == 0) {
                if (typeof cell_ref !== "undefined") {
                  //Add Header
                  let value_prefix =
                    self.headers.length == 0 ? 1 : self.headers.length;
                  let newHeader = {
                    text: cell_ref.v,
                    value: cell_ref.v,
                    sortable: false,
                    datatypes: ["email", "integer", "decimal", "string"],
                  };
                  let dataItem = "";
                  self.$store.dispatch("datasource/addEdittingRow", "");
                  self.$store.dispatch("datasource/addHeader", newHeader);
                }
              } else {
                let typeIndex = -1;
                //Add Cell To New Row
                if (typeof cell_ref !== "undefined") {
                  self.headers[C].datatypes = self.determineDataType(
                    self.headers[C].datatypes,
                    cell_ref.v
                  );
                  newRow[self.headers[C].value] = cell_ref.v;
                }
                // else {
                // 	newRow[self.headers[C].value] = null;
                // }
              }
            }
            //Add Row
            if (
              !(
                Object.entries(newRow).length === 0 &&
                newRow.constructor === Object
              )
            ) {
              newRow["action"] = {};
              self.$store.dispatch("datasource/addRow", newRow);
            }
          }
          document.getElementById("excelInput").value = "";
        };
        reader.readAsArrayBuffer(f);
      }
    },
    prepairRowJSON(isUpdate) {
      let rowArray = [];
      //let currentDataSource = this.$store.state.job.currentDataSource;
      let row = {};
      for (let index = 0; index < this.headers.length - 1; index++) {
        let tmp = this.headers[index];
        row[tmp.text] = tmp.datatypes[0];
      }
      rowArray.push(row);
      if (isUpdate) {
        for (let index = 0; index < this.rows.length; index++) {
          let tmp = JSON.parse(JSON.stringify(this.rows[index]));
          delete tmp.action;
          delete tmp.hashValue;
          //Update
          if (tmp.ODM != null) {
            //Check oldHashValue != newHashValue
            if (hash(tmp) != this.rows[index].hashValue) {
              rowArray.push(tmp);
            }
          }
          //Add new row
          else {
            rowArray.push(tmp);
          }
        }
      } else {
        for (let index = 0; index < this.rows.length; index++) {
          let tmp = Object.assign({}, this.rows[index]);
          delete tmp.action;
          rowArray.push(tmp);
        }
      }
      return rowArray;
    },
    async saveData() {
		if(this.rows.length > 0) {
      try {
        let a = JSON.stringify(this.prepairRowJSON(false));
        let sentData = {
          name: this.datasource.name,
          data: a,
          amount: this.rows.length,
          connectionString: this.connectionString,
          sqlserverType: this.sqlserverType,
          isDBMS: this.isDBMS,
          statement: this.statment,
        };
        let result = await this.create(sentData);
        if (result.status === 200) {
          this.$toast.success("Successfully inserted datasource!", "OK", {
            position: "topRight",
          });
        }
      } catch (err) {
        this.$toast.error("Inserted datasource failed!", "Error", {
          position: "topRight",
        });
	  }
		} else {
			this.dialogError = true;
			this.errorMessage = "Data is empty"
		}
    },
    async updateData() {
      if (this.datasource.dbms) {
        try {
          let headersDBMS = [];
          for (let i = 0; i < this.headers.length - 1; i++) {
            let tmp = this.headers[i];
            headersDBMS.push({
              name: tmp.value,
              datatype: tmp.datatypes[0],
            });
          }

          let sentData = {
            id: this.datasource.id,
            name: this.datasource.name,
            headers: JSON.stringify(headersDBMS),
            connectionString: this.connectionString,
            sqlserverType: this.sqlserverType,
            statement: this.statment,
          };

          let result = await this.update(sentData);
          if (result.status === 200) {
            this.$toast.success("Successfully updated datasource!", "OK", {
              position: "topRight",
            });
          }
        } catch (err) {
          this.$toast.error("Updated datasource failed!", "Error", {
            position: "topRight",
          });
          console.error(err.response);
        }
      } else {
        try {
          let createOrEditRows = JSON.stringify(this.prepairRowJSON(true));
          let sentData = {
            id: this.datasource.id,
            createOrEdit: createOrEditRows,
            //list ID deleted rows
            delete: this.deletedRows,
          };

          let result = await this.update(sentData);
          if (result.status === 200) {
            this.$toast.success("Successfully updated datasource!", "OK", {
              position: "topRight",
            });
          }
        } catch (err) {
          this.$toast.error("Updated datasource failed!", "Error", {
            position: "topRight",
          });
          console.error(err.response);
        }
      }
    },
    renderDataFromDBMS(payload) {
      this.resetData();
      this.clearDeletedRows();
      for (let index = 0; index < payload.data.length; index++) {
        const tmp = payload.data[index];
        let tmpObject = JSON.parse(tmp);
        let keys = Object.keys(tmpObject);
        if (index == 0) {
          for (let i = 0; i < keys.length; i++) {
            let newHeader = {
              text: keys[i],
              value: keys[i],
              sortable: false,
              datatypes: ["email", "integer", "decimal", "string"],
            };
            this.$store.dispatch("datasource/addEdittingRow", "");
            this.$store.dispatch("datasource/addHeader", newHeader);
          }
        }
        let newRow = {};
        for (let i = 0; i < keys.length; i++) {
          let value = tmpObject[keys[i]];
          if (value == "null") {
            newRow[keys[i]] = "";
          } else {
            newRow[keys[i]] = tmpObject[keys[i]];
          }
          this.headers[i].datatypes = this.determineDataType(
            this.headers[i].datatypes,
            tmpObject[keys[i]]
          );
        }
        if (
          !(
            Object.entries(newRow).length === 0 && newRow.constructor === Object
          )
        ) {
          newRow["action"] = {};
          this.$store.dispatch("datasource/addRow", newRow);
        }
      }
      this.dialogDBMS = false;
      this.isDBMS = true;
      this.statment = payload.statement;
      this.connectionString = payload.connectionString;
      this.sqlserverType = payload.sqlserverType;
    },
    renderDataFromGGSheet() {
      let self = this;
      if (!this.ggsheetURL.startsWith("https://docs.google.com/spreadsheets")) {
        this.GGSheetError = "Invalid URL";
      } else {
        this.GGSheetError = "";
        this.isLoadingGGSheet = true;
        try {
          Tabletop.init({
            key: self.ggsheetURL,
            simpleSheet: true,
          })
            .then(function(data, tabletop) {
                for (let index = 0; index < data.length; index++) {
                  const tmp = data[index];
                  if (index == 0) {
                    let keys = Object.keys(tmp);
                    for (let i = 0; i < keys.length; i++) {
                      let newHeader = {
                        text: keys[i],
                        value: keys[i],
                        sortable: false,
                        datatypes: ["email", "integer", "decimal", "string"],
                      };
                      self.$store.dispatch("datasource/addEdittingRow", "");
                      self.$store.dispatch("datasource/addHeader", newHeader);
                    }
                  }
                  let newRow = {};
                  let keys = Object.keys(tmp);
                  for (let i = 0; i < keys.length; i++) {
                    let value = tmp[keys[i]];
                    if (value == "null") newRow[keys[i]] = "";
                    else newRow[keys[i]] = tmp[keys[i]];
                    self.headers[i].datatypes = self.determineDataType(
                      self.headers[i].datatypes,
                      value
                    );
                  }
                  if (
                    !(
                      Object.entries(newRow).length === 0 &&
                      newRow.constructor === Object
                    )
                  ) {
                    newRow["action"] = {};
                    self.$store.dispatch("datasource/addRow", newRow);
                  }
                }
                self.isLoadingGGSheet = false;
                self.dialogGGSheet = false;
            })
            .error(function(e) {
              console.log(e);
              self.isLoadingGGSheet = false;
              self.GGSheetError =
                "Import fail! Google Sheet URL may be not published";
            });
        } catch (e) {
          console.log(e);
        }
      }
    },
    determineDataType(datatypes, data) {
      if (data == null) {
        return datatypes;
      }
      //Data is a string
      let dataType = ["string"];
      //Data is a number
      if (!isNaN(data)) {
        let num = parseFloat(data);
        //Data is an integer
        if (this.isInt(num)) {
          dataType = ["integer", "decimal", "string"];
        }
        //Data is a decimal
        else if (this.isDecimal(num)) {
          dataType = ["decimal", "string"];
        }
      } else {
        //Data is an email
        if (this.isEmail(data)) {
          dataType = ["email", "string"];
        }
        //Data is an date
        else if (this.isDate(data)) {
          dataType = ["date", "string"];
        }
      }
      let a = this.intersect(datatypes, dataType);
      return a;
    },
    isEmail(data) {
      return /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
        data
      );
    },
    isDate(data) {
      // let milisec = Date.parse(data);
      // console.log("MiliSec: " + milisec);
      // console.log("Date: " + new Date(milisec));
      // console.log("DateNaN: " + isNaN(new Date(milisec)));
      // return (
      // 	new Date(milisec) !== "Invalid Date" &&
      // 	!isNaN(new Date(milisec))
      // );
      let d = moment(
        data,
        [
          "DD-MM-YYYY",
          "MM-DD-YYYY",
          "DD-MM-YY",
          "MM-DD-YY",
          "YYYY-MM-DD",
          "DD/MM/YYYY",
          "MM/DD/YYYY",
          "DD/MM/YY",
          "MM/DD/YY",
          "YYYY/MM/DD",
        ],
        true
      );
      return d == null || !d.isValid() ? false : true;
    },
    //not check is safeInteger yet
    isInt(data) {
      return Number(data) === data && data % 1 === 0;
    },
    isDecimal(data) {
      return Number(data) === data && data % 1 !== 0;
    },
    intersect(a, b) {
      let t;
      if (b.length > a.length) (t = b), (b = a), (a = t);
      return a.filter(function(e) {
        return b.indexOf(e) > -1;
      });
    },
    validateJSON() {
      try {
        axios
          .post("api/datasources/json", this.jsonURL)
          .then((result) => {
            this.jsonData = result.data;
            const schema = toJsonSchema(result.data, {
              arrays: { mode: "all" },
            });
            this.treeData = [];
            this.testIterateJSONData("$", this.treeData, schema, "", 1);
            this.clearObjectItem(this.treeData);
          })
          .catch((err) => {
            console.log(err);
          });
      } catch (err) {
        alert("JSON Error");
        console.log(err);
      }
    },
    clearObjectItem(tree) {
      let i = 0;
      for (i = 0; i < tree.length; i++) {
        let leaf = tree[i];
        if (leaf.children != null) {
          this.clearObjectItem(leaf.children);
        }
        if (leaf.type !== "array") {
          tree.splice(tree.indexOf(leaf), 1);
          i--;
        }
      }
    },
    test(item) {
      console.log(item);
      if (item.length > 0) {
        this.jsonPath = item[0].path.slice(0, -2);
      } else {
        this.jsonPath = "";
      }
    },
    renderJSONData() {
      console.log(this.jsonData);
      let data = jp.query(this.jsonData, this.jsonPath)[0];
      console.log(data);
      for (let index = 0; index < data.length; index++) {
        const tmp = data[index];
        let keys = Object.keys(tmp);
        if (index == 0) {
          for (let i = 0; i < keys.length; i++) {
            let newHeader = {
              text: keys[i],
              value: keys[i],
              sortable: false,
              datatypes: ["email", "integer", "decimal", "string"],
            };
            this.$store.dispatch("datasource/addEdittingRow", "");
            this.$store.dispatch("datasource/addHeader", newHeader);
          }
        }
        let newRow = {};
        for (let i = 0; i < keys.length; i++) {
          let value = tmp[keys[i]];
          if (value == "null") {
            newRow[keys[i]] = "";
          } else {
            newRow[keys[i]] = tmp[keys[i]];
          }
          this.headers[i].datatypes = this.determineDataType(
            this.headers[i].datatypes,
            tmp[keys[i]]
          );
        }
        if (
          !(
            Object.entries(newRow).length === 0 && newRow.constructor === Object
          )
        ) {
          newRow["action"] = {};
          this.$store.dispatch("datasource/addRow", newRow);
        }
      }
      this.dialogJSON = false;
    },
    testIterateJSONData(path, tree, obj, keyName, index) {
      Object.keys(obj).forEach((key) => {
        // console.log(
        // 	"key: " +
        // 		key +
        // 		", value: " +
        // 		obj[key] +
        // 		", type of: " +
        // 		typeof obj[key] +
        // 		", name: " +
        // 		keyName
        // );
        let childTree = tree;
        let childPath = path;
        if (keyName === "properties") {
          let item = {
            id: index,
            name: key,
            children: [],
            path: childPath + "." + key + "[]",
          };
          if (tree.children != null) {
            tree.children.push(item);
            childTree = tree.children[tree.children.indexOf(item)];
          } else {
            tree.push(item);
            childTree = tree[tree.indexOf(item)];
          }
          childPath = childTree.path;
          index++;
        }
        if (keyName === childTree.name && key === "type") {
          // if(obj[key] == "array") {
          // 	childPath += "." + childTree.name + "[]";
          // } else {
          // 	childPath += "." + childTree.name;
          // }
          childTree.type = obj[key];
          //childTree.path = childPath;
        }

        if (typeof obj[key] === "object") {
          this.testIterateJSONData(childPath, childTree, obj[key], key, index);
        }
      });
    },
  },
};
</script>

<style></style>
