<template>
	<div class="pa-8">
		<div class="d-flex justify-start">
			<v-row>
				<v-col xs="6" md="4" lg="3" v-for="(doc, index) in documents" :key="index">
					<v-card max-width="344">
                        <v-card-text class="headline black--text" v-html="doc.content">{{doc.content}}</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</div>
	</div>
</template>

<script>
export default {
	data: () => ({
		
    }),
    computed: {
        documents() {
            return this.$store.state.editor.documents;
        }
    }
};
</script>

<style>
</style>