<template>
  <div class="editor-container">
    <v-row style="height: 100%;">
      <v-col class="col-md-8">
        <v-card class="editor-boudary">
          <EditorComponent
            ref="editor"
            @onEditorFocus="onEditorFocus($event)"
            @editorContentChanged="onEditorContentChange($event)"
          ></EditorComponent>
        </v-card>
      </v-col>
      <v-col class="col-md-4 editor-boudary">
        <v-row>
          <v-btn
            block
            color="success"
            @click="importFile()"
            class="headline mb-4"
            >Import</v-btn
          >
          <input
            type="file"
            style="display: none;"
            ref="fileInputDoc"
            accept=".docx"
            @change="importFileDoc($event)"
          />
        </v-row>
        <v-row class="d-flex justify-space-between mb-4">
          <v-btn
            class="headline"
            :width="template.id ? '49%' : '100%'"
            color="primary"
            :loading="isLoadingCreateTemplate"
            :disabled="isLoadingCreateTemplate"
            @click="createTemplateRequest()"
            >Create</v-btn
          >
          <v-btn
            class="headline"
            width="49%"
            v-show="template.id"
            color="primary"
            :loading="isLoadingSaveTemplate"
            :disabled="isLoadingSaveTemplate"
            @click="saveTemplateRequest()"
            >Save</v-btn
          >
        </v-row>
        <v-row>
          <v-text-field
            class="mt-2"
            outlined
            v-model="templateName"
            background-color="white"
            placeholder="Template Name"
          >
          </v-text-field>
        </v-row>
        <v-row class="d-flex justify-space-between mb-4">
          <!-- <v-select
						:items="datasources"
						label="Datasource"
						@change="onChangeDatasource()"
						v-model="selectedDatasource"
						item-text="name"
						item-value="id"
						outlined
					></v-select> -->
          <!-- <v-btn
            class="headline"
            :width="template.id ? '49%' : '100%'"
            block
            color="primary"
            :loading="isLoadingCreateTemplate"
            :disabled="isLoadingCreateTemplate"
            @click="createTemplateRequest()"
            >Create</v-btn
          >
          <v-btn
            class="headline"
            width="49%"
            v-show="template.id"
            block
            color="primary"
            :loading="isLoadingSaveTemplate"
            :disabled="isLoadingSaveTemplate"
            @click="saveTemplateRequest()"
            >Save</v-btn
          > -->
        </v-row>
        <v-row style="height: calc(100vh - 360px);">
          <v-card
            class="px-4 py-2 d-flex flex-column"
            style="width: 100%; height: 100%;"
          >
            <h1 class="text-center">Data</h1>
            <div class="header-title">
              <v-row>
                <v-col class="col-md-8">
                  <span class="header-key">Header</span>
                </v-col>
                <v-col class="col-md-3">
                  <span class="header-value">Action</span>
                </v-col>
              </v-row>
            </div>
            <perfect-scrollbar>
              <v-card
                style="width: 97%;"
                class="mb-2"
                v-for="(item, index) in headers.slice(0, headers.length - 1)"
                :key="index"
              >
                <v-row style="overflow-x: hidden;">
                  <v-col class="col-md-8 d-flex align-center">
                    <span class="headline">{{ item.text }}</span>
                  </v-col>
                  <v-col class="col-md-3 d-flex align-center justify-center">
                    <v-btn
                      :disabled="
                        !numberDataTypes.includes(item.datatypes[0]) &&
                          isExpressionFocus
                      "
                      @click="insert(item.text)"
                      primary
                      block
                      class="title"
                      >Insert</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card>
            </perfect-scrollbar>
          </v-card>
        </v-row>
        <v-row style="display: none;" class="mt-4">
          <v-card class="px-4 py-2" style="width: 100%;">
            <h1 class="text-center">
              Arithmetic Expression
              <!-- <span v-if="arithmetics.length > 0">
								(
								<span>{{arithmeticList}}</span>)
							</span>-->
            </h1>
            <v-row v-if="arithmetics.length > 0" class="pa-3">
              <v-select
                class="headline"
                outlined
                :items="arithmetics"
                item-text="operator"
                item-value="operator"
                return-object
                label="Select a arithmetic function"
                @change="onChangeArithmetic($event)"
              ></v-select>
            </v-row>
            <v-textarea
              id="expressionInput"
              ref="expressionInput"
              @focus="onExpressionFocus()"
              label="Expression"
              v-model="expression"
              auto-grow
              outlined
              rows="4"
              row-height="15"
            >
              <template v-slot:append-outer>
                <v-btn color="indigo" @click="insertCustomField()" dark
                  >Insert</v-btn
                >
              </template>
            </v-textarea>
          </v-card>
        </v-row>
        <v-row class="d-flex justify-space-between">
          <v-btn
            width="32%"
            color="cyan"
            class="headline mt-4 white--text"
            @click="dialogExpression = true"
            >Use Arithmetic</v-btn
          >
          <v-btn
            width="32%"
            color="purple"
            class="headline mt-4 white--text"
            @click="dialog = true"
            >Create Job</v-btn
          >
          <v-btn
            width="32%"
            color="primary"
            class="headline mt-4 white--text"
            @click="preview()"
            >Preview</v-btn
          >
        </v-row>
        <!-- <v-card class="pa-4">
					<code class="title">{{content}}</code>
				</v-card>-->
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="680">
      <CreateJobModal @closeDialog="dialog = false"></CreateJobModal>
    </v-dialog>
    <v-dialog v-model="dialogExpression" max-width="680">
      <CreateExpressionModal
        v-if="dialogExpression"
        @closeDialog="dialogExpression = false"
        @onInsert="insertExpression($event)"
      ></CreateExpressionModal>
    </v-dialog>
    <v-dialog v-model="dialogError" max-width="300">
      <v-card>
        <v-card-title class="display-1">Error</v-card-title>

        <v-card-text class="headline">
          {{ errorMessage }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogError = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
// window.onbeforeunload = function ()
//  {
//      if(confirm("Save Template")) {
// 			return null;
// 		} {
// 			return "";
// 		}
//  };
import { storage } from "@/plugins/firebase";
import { mapGetters, mapActions } from "vuex";
import axios from "@/plugins/axios";
var mammoth = require("mammoth");
import EditorComponent from "@/components/EditorComponent";
import CreateJobModal from "@/components/user/CreateJobModal";
import CreateExpressionModal from "@/components/user/CreateExpressionModal";

export default {
  components: {
    EditorComponent,
    CreateJobModal,
    CreateExpressionModal,
  },
  // beforeRouteLeave: function(to, from, next) {
  // 	if(confirm("Save Template")) {

  // 	} {
  // 		next();
  // 	}
  // },
  data() {
    return {
      isLoadingSaveTemplate: false,
      isLoadingCreateTemplate: false,
      dialog: false,
      dialogExpression: false,
      isEditorFocus: false,
      isExpressionFocus: false,
      expression: "",
      numberDataTypes: ["integer", "decimal"],
      dialogError: false,
      errorMessage: "",
      selectedDatasource: null,
      headersFromServer: []
    };
  },
  computed: {
    ...mapGetters({
      template: "template/template",
      datasource: "datasource/datasource",
      datasources: "datasource/datasources",
      headers: "datasource/headers",
      content: "editor/content",
      arithmetics: "arithmetic/arithmetics",
      rows: "datasource/rows",
    }),
    arithmeticList() {
      let result = "";
      for (let index = 0; index < this.arithmetics.length; index++) {
        result += this.arithmetics[index].operator + ", ";
      }
      if (result.length > 0) {
        result = result.substring(0, result.length - 2);
      }
      return result;
    },
    templateName: {
      get() {
        return this.template.name;
      },
      set(val) {
        this.template.name = val;
        this.updateTemplate(this.template);
      },
    },
  },
  mounted() {
    this.getAll();
    // this.getDatasources();
    // if(this.headers && this.headers.length > 0) {
    //   this.datasources.push()
    // }
  },
  methods: {
    ...mapActions({
      createTemplate: "template/createTemplate",
      updateTemplate: "template/updateTemplate",
      updateJob: "job/updateJob",
      setContent: "editor/setContent",
      getAll: "arithmetic/getAll",
      getDatasources: "datasource/getDatasources",
    }),
    onEditorContentChange(value) {
      this.setContent(value);
    },
    onEditorFocus(value) {
      this.isEditorFocus = true;
      this.isExpressionFocus = false;
    },
    onExpressionFocus() {
      this.isExpressionFocus = true;
      this.isEditorFocus = false;
    },
    onChangeArithmetic(val) {
      this.expression = val.operator + "(";
      for (let index = 0; index < val.minParam - 1; index++) {
        this.expression += ", ";
      }
      this.expression += ")";
    },
    insert(value) {
      if (this.isEditorFocus) {
        this.$refs.editor.onInsert(value);
      } else if (this.isExpressionFocus) {
        //Thêm insert at cursor
        let a = document.getElementById("expressionInput");
        let startPos = a.selectionStart;
        let endPos = a.selectionEnd;
        let text = "«" + value + "»";
        this.expression =
          this.expression.substring(0, startPos) +
          text +
          this.expression.substring(endPos, this.expression.length);
        //this.expression += "«" + value + "»";
        this.$refs.expressionInput.$el.focus();
      }
    },
    insertCustomField() {
      this.$refs.editor.onInsert(this.expression);
    },
    insertExpression(expressionTest) {
      this.$refs.editor.onInsert(expressionTest);
      this.dialogExpression = false;
    },
    importFile() {
      this.$refs.fileInputDoc.click();
    },
    importFileDoc(e) {
      let self = this;
      let files = e.target.files || [];
      if (!files.length) {
        e.target.value = null;
        return;
      }
      let file = files[0];
      let fileName = e.target.value;
      let lastIndexOfExtension = fileName.lastIndexOf(".");
      let isValid = false;
      if (lastIndexOfExtension > 0) {
        let extension = fileName.substr(lastIndexOfExtension);
        if (extension == ".docx") {
          isValid = true;
        }
      }
      //Reset file input value
      e.target.value = null;

      if (!isValid) {
        this.$toast.error("File is not supported", "Error", {
          position: "topRight",
        });
      } else {
        console.time();
        let reader = new FileReader();
        reader.onloadend = function(event) {
          let arrayBuffer = reader.result;
          // debugger

          mammoth
            .convertToHtml({ arrayBuffer: arrayBuffer })
            .then(function(resultObject) {
              //console.log(resultObject.value);
              self.$store.dispatch("editor/setContent", resultObject.value);
            });

          //   mammoth.extractRawText({arrayBuffer: arrayBuffer}).then(function (resultObject) {
          //     result2.innerHTML = resultObject.value
          //     console.log(resultObject.value)
          //   })

          //   mammoth.convertToMarkdown({arrayBuffer: arrayBuffer}).then(function (resultObject) {
          //     result3.innerHTML = resultObject.value
          //     console.log(resultObject.value)
          //   })
        };
        reader.readAsArrayBuffer(file);
      }
    },
    async createTemplateRequest() {
      if (this.content === "" || this.content === "<p></p>") {
        this.dialogError = true;
        this.errorMessage = "Template is empty";
        return;
      }
      this.isLoadingCreateTemplate = true;
      let sentData = {
        name: this.templateName,
        template: this.content,
      };
      try {
        const result = await this.createTemplate(sentData);
        if (result.status === 200) {
          this.$toast.success("Successfully inserted template!", "OK", {
            position: "topRight",
          });
        }
      } catch (err) {
        this.$toast.error("Inserted template failed!", "Error", {
          position: "topRight",
        });
        console.error(err.response);
      }
      this.isLoadingCreateTemplate = false;
    },
    saveTemplateRequest() {
      this.isLoadingSaveTemplate = true;
      let sentData = {
        id: this.template.id,
        name: this.templateName,
        template: this.content,
      };
      console.log(sentData);
      if (this.content !== "" && this.content !== "<p></p>") {
        axios
          .put("api/templates", sentData)
          .then((result) => {
            if (result.status === 200) {
              this.$toast.success("Successfully save template!", "OK", {
                position: "topRight",
              });
            }
          })
          .catch((err) => {
            this.$toast.error("Save template failed!", "Error", {
              position: "topRight",
            });
            console.error(err.response);
          });
      }
      this.isLoadingSaveTemplate = false;
    },
    preview() {
      if (this.content === "" || this.content === "<p></p>") {
        this.dialogError = true;
        this.errorMessage = "Template is empty";
        return;
      }
      if (this.rows.length === 0) {
        this.dialogError = true;
        this.errorMessage = "Data is empty";
        return;
      }
      let firstRow = this.rows[0];
      delete firstRow.action;
      let sentData = {
        template: this.content,
        data: JSON.stringify(firstRow),
      };
      axios
        .post("api/documents/preview", sentData)
        .then((result) => {
          if (result.status === 200) {
            let newTab = window.open("about:blank", "_blank");
            newTab.document.write(result.data);
            newTab.document.close();
          } else {
            this.dialogError = true;
            this.errorMessage = "Preview Template Fail!";
          }
        })
        .catch((err) => {
          this.dialogError = true;
          this.errorMessage = "Preview Template Fail!";
        });
    },
    getHeadersByDatasource() {
			axios({
				methods: "GET",
				url: "/api/datasources/" + this.selectedDatasource + "/headers"
			})
				.then(result => {
					if (result.status === 200) {
						this.headersFromServer = result.data;
					}
				})
				.catch(err => {
					let errorMessage = "Get Header Error!";
					if (err.response) {
						errorMessage = err.response.data;
					}
					this.$toast.error(errorMessage, "Error", {
						position: "topRight"
					});
					console.log(err.response);
				});
		},
  },
};
</script>
<style lang="scss">
.editor-container {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  height: 100%;
  max-height: 100vh;
  flex-direction: column;
  flex-grow: 1;
}
.editor-boudary {
  height: 100%;
  max-height: calc(100vh - 75px);
}
.header-title {
  .header-key,
  .header-value {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.2rem;
  }
}
.ps {
  height: 100%;
  width: 100%;
}
</style>
