<template>
	<div class="pa-8">
		<div class="mb-4">
			<v-btn
				@click="addNew"
				outlined
				color="white"
				class="deep-purple--text text--accent-2 title"
			>Add New</v-btn>
		</div>
		<div class="d-flex" style="height: 100%; width: 100%">
			<div style="position: relative; width: 100%">
				<div class="pa-8 fill-height">
					<v-row>
						<div class="d-flex justify-start" style="width: 100%">
							<v-row v-if="jobs.length > 0">
								<v-col xs="6" md="4" lg="3" v-for="(job, index) in jobs" :key="index">
									<JobDetail :job="job" @editJob="editJob($event)" />
								</v-col>
							</v-row>
						</div>
					</v-row>
				</div>
				<!-- <v-btn color="purple" class="headline mt-4 white--text" @click="dialog = true">Create Job</v-btn> -->
				<v-dialog v-model="dialog" max-width="680" v-if="dialog">
					<CreateJobModal
						@getAllJob="getData()"
						@closeDialog="dialog = false"
						:editJob="selectedJob"
						:isEdit="isEdit"
						@closeEditDialog="closeEditDialog"
					></CreateJobModal>
				</v-dialog>
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import JobDetail from "@/components/user/JobDetail.vue";
import CreateJobModal from "@/components/user/CreateJobModal";
export default {
	components: {
		JobDetail,
		CreateJobModal
	},
	data: () => ({
		dialog: false,
		selectedJob: {},
		isEdit: false
	}),
	mounted() {
		this.getData();
	},
	computed: {
		...mapGetters({
			jobs: "job/jobs"
		})
	},
	methods: {
		...mapActions({
			getJobs: "job/getJobs"
		}),
		addNew() {
			this.dialog = true;
			this.isEdit = false;
			this.selectedJob = {};
		},
		editJob(job) {
			this.isEdit = true;
			this.selectedJob = job;
			this.dialog = true;
		},
		closeEditDialog() {
			this.isEdit = false;
			this.selectedJob = {};
			this.dialog = false;
		},
		async getData() {
			try {
				const result = await this.getJobs();
				if (result.status === 200) {
					//Done Loading
				}
			} catch (err) {
				console.error(err.response);
			}
		}
	}
};
</script>

<style>
</style>/