<template>
  <div class="pa-8">
		<div class="d-flex justify-start">
			<v-row>
				<v-col xs="6" md="4" lg="3" v-for="(datasource, index) in datasources" :key="index">
					<v-card max-width="344">
						<!-- <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px"></v-img> -->

						<v-card-title>
							<p>From: 1</p>
							<p>To: 100</p>
						</v-card-title>

						<v-card-actions>
							<v-btn text color="purple" @click="edit(datasource)">Download</v-btn>

							<div class="flex-grow-1"></div>
						</v-card-actions>
					</v-card>
				</v-col>
			</v-row>
		</div>
	</div>
</template>

<script>
export default {
	props: ["pdfs"],
	data() {
		return {

		}
	}
}
</script>

<style>

</style>