<template>
  <div class="profile-container">
    <v-container>
      <v-row>
        <v-col class="col-md-4">
          <div class="information-container">
            <div class="information-header d-flex align-center">
              <h1>About</h1>
			  <v-spacer/>
              <v-btn class="ma-2" color="primary" @click="editProfile">
                Edit
              </v-btn>
			  <v-btn class="ma-2" color="primary" @click="dialog = true">
                Change Password
              </v-btn>
            </div>
            <v-card class="information-item-container headline">
              <v-form ref="form" v-model="valid" lazy-validation>
                <div class="information-item">
                  <div class="information-title">
                    <span>Email:</span>
                  </div>
                  <div class="information-value">
                    <span>{{ account.email }}</span>
                  </div>
                </div>
                <div class="information-item">
                  <div class="information-title">
                    <span>Name:</span>
                  </div>
                  <div v-if="isEditting" class="information-value">
                    <v-text-field
                      v-model="edittingInformation.name"
                      :counter="255"
                      :rules="nameRules"
                      label="Name"
                      required
                    ></v-text-field>
                  </div>
                  <div v-else class="information-value">
                    <span>{{ originalInformation.name }}</span>
                  </div>
                </div>
                <div class="information-item">
                  <div class="information-title">
                    <span>Phone:</span>
                  </div>
                  <div v-if="isEditting" class="information-value">
                    <v-text-field
                      v-model="edittingInformation.phone"
                      :counter="10"
                      :rules="phoneRules"
                      label="Phone"
                    ></v-text-field>
                  </div>
                  <div v-else class="information-value">
                    <span>{{ originalInformation.phone }}</span>
                  </div>
                </div>
                <div v-if="isEditting" class="information-item">
                  <div class="information-title">
                    <span></span>
                  </div>
                  <div class="information-value">
                    <v-btn
                      :disabled="!valid"
                      color="success"
                      class="mr-4"
                      @click="save"
                      >Save</v-btn
                    >
                    <v-btn color="error" class="mr-4" @click="reset"
                      >Reset</v-btn
                    >
                    <v-btn color="warning" class="mr-4" @click="cancel"
                      >Cancel</v-btn
                    >
                  </div>
                </div>
              </v-form>
            </v-card>

            <v-dialog v-model="dialog" persistent max-width="600px">
              <v-card>
                <v-card-title>
                  <span class="headline">Change User Password</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field
                          label="Old Password*"
                          type="password"
                          v-model="oldPassword"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12">
                        <v-text-field
                          label="New Password*"
                          required
                          v-model="newPassword"
                          color="deep-purple accent-2"
                          class="input-group--focused"
                          @click:append="show1 = !show1"
                          :append-icon="show1 ? 'visibility' : 'visibility_off'"
                          :rules="newPasswordRules"
                          :type="show1 ? 'text' : 'password'"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field
                          label="Confirm Password"
                          required
                          v-model="confirmPassword"
                          color="deep-purple accent-2"
                          class="input-group--focused"
                          @click:append="show2 = !show2"
                          :append-icon="show2 ? 'visibility' : 'visibility_off'"
                          :rules="confirmPasswordRules"
                          :type="show2 ? 'text' : 'password'"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="dialog = false"
                    >Close</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="changePassword()"
                    >Save</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </v-col>
        <v-col class="col-md-8">
          <div class="information-container pt-3">
            <div class="information-header d-flex align-center">
              <h1>Account</h1>
              <v-row class="mr-4">
                <v-col cols="4" offset="8">
                  <v-text-field
                    outlined=""
                    label="Amount of money"
                    v-model="depositAmount"
                  />
                </v-col>
              </v-row>

			  <!-- <v-btn @click="dialogDeposit = true">Deposit</v-btn> -->
              <!-- <PayPal amount="10.00" currency="USD" :client="paypal" env="sandbox" @payment-completed="abc($event)"></PayPal> -->
              <div ref="paypalContainer"></div>
              <!-- <v-btn class="ma-2" color="primary" @click="dialog = true">Deposit</v-btn> -->
            </div>
            <v-card class="information-item-container headline">
              <div class="information-item">
                <div class="information-title">
                  <span>Balance:</span>
                </div>
                <div class="information-value">
                  <span>{{ account.balance.toFixed(2) }} $</span>
                </div>
              </div>
              <div class="information-item">
                <div class="information-title">
                  <span>Transaction:</span>
                </div>
              </div>
              <v-data-table
                :headers="headers"
                :items="sortTransaction"
                :items-per-page="5"
                class="elevation-1"
              >
                <template v-slot:item.createdDay="{ item }">
                  <p>{{ substrDate(item.createdDay) }}</p>
                </template>
                <template v-slot:item.type="{ item }">
                  <p v-if="item.type === 0" class="green--text" dark>Deposit</p>
                  <p v-if="item.type === 1" class="red--text" dark>Paid</p>
                </template>
              </v-data-table>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="dialogDeposit" max-width="290">
			<v-card>
				<v-card-title class="headline">Deposit</v-card-title>

				<v-card-text>
					<p>Input amount of money that you want to deposit</p>
					<v-text-field type="number" label="Amount" v-model="depositAmount" />
					<div ref="paypalContainer"></div>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn color="green darken-1" text @click="dialogDeposit = false">Cancel</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import axios from "@/plugins/axios";
import PayPal from "vue-paypal-checkout";
export default {
  components: {
    PayPal,
  },
  data() {
    return {
      valid: true,
      nameRules: [
        (v) => !!v || "Name is required",
        (v) =>
          (v && v.length <= 255) || "Name must be less than 255 characters",
      ],
      phoneRules: [(v) => !v || /[0-9]{10}/.test(v) || "Phone is not valid"],
      isEditting: false,
      originalInformation: {
        name: "",
        phone: "",
      },
      defaultInformation: {
        name: "",
        phone: "",
      },
      edittingInformation: {
        name: "",
        phone: "",
      },
      email: "",
      show1: false,
      show2: false,
      oldPassword: "",
      newPassword: "",
      newPasswordRules: [
        (v) => !!v || "Please insert Password",
        (v) => v.length >= 8 || "Password at least 8 characters",
      ],
      confirmPassword: "",
      confirmPasswordRules: [
        (v) => !!v || "Please insert Confirm Password",
        (v) => (v && v.length >= 8) || "Password at least 8 characters",
        (v) => (v && v == this.newPassword) || "Confirm Password is not match",
      ],
      headers: [
        { text: "Time", value: "createdDay" },
        { text: "Amount($)", value: "amount" },
        { text: "Type", value: "type" },
        { text: "Description", value: "description" },
      ],
      transactions: [],
	  dialog: false,
	  dialogDeposit: false,
      depositAmount: 1,
      loaded: false,
      paypal: {
        sandbox:
          "AaCzL6H0FHl-lamvKvbxVi6sZEgtUh9lYYigk-YdqefR4PDYD4HIZ7MtYyQcwI2pCM19m8-ieCDtPfR6",
        production:
          "ELTRDOOzCjGX0hRSlGuewJJyRXdiJ3x-uk2KeJUz5cKUOdnnhPlknZaLsgpVjJ2aPX_yOxpE4OkMrAsE",
      },
    };
  },
  mounted() {
    //this.balance();
    // let localAccount = JSON.parse(localStorage.getItem("account"));
    // if (localAccount == null) {
    // 	let newAccount = {
    // 		name: null
    // 	};
    // 	localStorage.setItem("account", JSON.stringify(newAccount));
    // }
    // localAccount = JSON.parse(localStorage.getItem("account"));
    // //Account
    // this.$store.state.accountModule.account = localAccount;
    // this.email = this.account.email;
    this.originalInformation.name = this.account.fullname;
    this.originalInformation.phone = this.account.phone;
    // this.account = localAccount;
    const script = document.createElement("script");
    script.src =
      "https://www.paypal.com/sdk/js?client-id=AQ0E7q_m1yGs539l2E9T63EIcnBZQXFrNP3E3Ocjv13kn9UvplWm0CYc22kp9OCGFjbdzcfrQDZ1Pvm7";
    script.addEventListener("load", this.setLoaded);
    document.body.appendChild(script);
    this.getPaymentHistory();
    this.balance();
  },
  computed: {
    ...mapGetters({
      account: "account/account",
    }),
    sortTransaction() {
      // this.transactions.forEach(function(part, index, theArray) {
      // 	if(theArray[index].type === 0) {
      // 		theArray[index].type = "Deposit"
      // 	} else if(theArray[index].type === 1) {
      // 		theArray[index].type = "Paid"
      // 	}
      // });
      return this.transactions.sort(function(a, b) {
        return new Date(b.time) - new Date(a.time);
      });
    },
    // account() {
    // 	return this.$store.getters["account/getAccount"];
    // }
  },
  methods: {
    ...mapActions({
      updateAccount: "account/updateAccount",
      getProfile: "account/getProfile",
    }),
    async balance() {
      const result = await this.getProfile();
      if (result.status === 200) {
        this.account.balance = result.data.balance;
        this.updateAccount(this.account);
      }
    },
    substrDate(date) {
      if (date) {
        return date.substr(0, 10);
      }
    },
    setLoaded() {
      this.loaded = true;
      let self = this;
      window.paypal
        .Buttons({
          createOrder: function(data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
              purchase_units: [
                {
                  description: "Deposit",

                  amount: {
                    currency_code: "USD",
                    value: self.depositAmount,
                  },
                },
              ],
            });
          },
          onApprove: function(data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function(details) {
              // This function shows a transaction success message to your buyer.
              self.deposit(data.orderID);
              // console.log(data);
              // console.log(actions);
              // console.log(details);
              // console.log(
              // 	"Transaction completed by " +
              // 		details.payer.name.given_name
              // );
            });
          },
        })
        .render(this.$refs.paypalContainer);
    },
    save() {
      if (this.$refs.form.validate()) {
        if (this.isEditting) {
          let account = {
            fullName: this.edittingInformation.name,
            phone: this.edittingInformation.phone,
          };
          let self = this;
          this.$axios({
            method: "PUT",
            url: "api/accounts/",
            data: account,
            headers: {
              Authorization: "Bearer " + localStorage.getItem("token"),
            },
          })
            .then((result) => {
              if (result.status == 200) {
                self.originalInformation.name = account.fullName;
                self.originalInformation.phone = account.phone;
              } else {
                console.log(result);
              }
            })
            .catch((err) => {
              console.log(err);
            });
        }
        this.cancel();
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    editProfile() {
      this.isEditting = true;
      this.edittingInformation = Object.assign({}, this.originalInformation);
    },
    cancel() {
      this.edittingInformation = Object.assign({}, this.defaultInformation);
      this.isEditting = false;
    },
    deposit() {
      let sentData = {
        amount: this.depositAmount,
      };
      let self = this;
      axios({
        url: "/api/payments/deposit",
        data: sentData,
        method: "POST",
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
        },
      })
        .then((result) => {
          if (result.status === 200) {
            self.getPaymentHistory();
            let currentBalance = parseFloat(this.account.balance);
            let currentDepositAmount = parseFloat(self.depositAmount);
            currentBalance += currentDepositAmount;
            self.account.balance = currentBalance;
            //Account
            self.updateAccount(self.account);
            self.$toast.success("Deposit Success!", "OK", {
              position: "topRight",
            });
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getPaymentHistory() {
      let self = this;
      axios({
        url: "/api/payments/history",
        method: "GET",
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
        },
      })
        .then((result) => {
          console.log(result);
          self.transactions = result.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    changePassword() {
      let sentData = {
        oldPassword: this.oldPassword,
        newPassword: this.newPassword,
      };
      let self = this;
      axios({
        url: "/api/accounts/password",
        data: sentData,
        method: "PUT",
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
        },
      })
        .then((result) => {
          if (result.status === 200) {
            self.$toast.success("Change Password Success!", "OK", {
              position: "topRight",
            });
          } else {
            self.$toast.error("Change Password Fail!", "Error", {
              position: "topRight",
            });
          }
        })
        .catch((err) => {
          if (err.response) {
            self.$toast.error(err.response.data, "Error", {
              position: "topRight",
            });
          }
          console.log(err);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.profile-container {
  width: 100%;
  height: 2000px;
  .information-container {
    padding: 0 2rem;
    .information-header {
      display: flex;
      h1 {
        margin-left: 2rem;
        margin-bottom: 1rem;
      }
    }
    .information-item-container {
      padding: 2rem;
      .information-item {
        display: flex;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        .information-title {
          font-weight: 600;
          width: 20%;
          display: flex;
          align-items: center;
        }
        .information-value {
          width: 80%;
        }
      }
    }
  }
}
</style>
