<template>
	<v-row>
		<v-col cols="8">
			<div class="d-flex justify-start">
				<v-row>
					<v-col xs="6" md="4" lg="3" v-for="(smtp, index) in smtps" :key="index">
						<v-card max-width="344">
							<v-card-title>
								<div>{{smtp.name}}</div>
							</v-card-title>

							<v-card-actions>
								<v-btn text color="purple" @click="edit(smtp)">Edit</v-btn>

								<v-btn text color="red" @click="showDeleteConfirm(smtp)">Delete</v-btn>

								<div class="flex-grow-1"></div>
							</v-card-actions>
						</v-card>
					</v-col>
				</v-row>
			</div>
		</v-col>
		<v-col cols="4">
			<div class="d-flex flex-column" style="height: 100%">
				<v-card class="pa-8" style="height: 100%">
					<p class="display-1" v-if="!isEditting">Create SMTP Profile</p>
					<p class="display-1" v-if="isEditting">SMTP Profile</p>
					<p
						class="headline font-weight-light"
						v-if="!isEditting"
					>Fill the below form to create a new SMTP profile.</p>
					<p class="headline font-weight-light" v-if="isEditting"></p>
					<v-form ref="formRegister" v-model="valid">
						<v-container style="padding: 0">
							<v-row>
								<v-col cols="12">
									<v-text-field
										v-model="name"
										label="Profile Name"
										placeholder="Profile Name"
										required
										outlined
										:rules="nameRules"
										color="deep-purple accent-2"
									></v-text-field>
								</v-col>
								<v-col cols="8">
									<v-text-field
										v-model="host"
										label="Host"
										placeholder="Host"
										required
										outlined
										color="deep-purple accent-2"
									></v-text-field>
								</v-col>
								<v-col cols="4">
									<v-text-field
										v-model="port"
										label="Port"
										placeholder="Port"
										required
										outlined
										type="number"
										color="deep-purple accent-2"
									></v-text-field>
								</v-col>
								<v-col cols="12">
									<v-text-field
										label="Email"
										placeholder="Email"
										required
										outlined
										v-model="email"
										color="deep-purple accent-2"
										class="input-group--focused"
										:rules="emailRules"
									></v-text-field>
								</v-col>
								<v-col cols="12">
									<v-text-field
										label="Password"
										placeholder="Password"
										required
										outlined
										v-model="password"
										color="deep-purple accent-2"
										class="input-group--focused"
										@click:append="show2 = !show2"
										:append-icon="show2 ? 'visibility' : 'visibility_off'"
										:rules="passwordRules"
										:type="show2 ? 'text' : 'password'"
									></v-text-field>
								</v-col>
								<v-col cols="12">
									<v-text-field
										label="Test Email"
										placeholder="Test Email"
										outlined
										v-model="testEmail"
										color="deep-purple accent-2"
										class="input-group--focused"
										:error-messages="testEmailRule"
									>
										<template v-slot:append-outer>
											<v-btn
												:disabled="!isTestEmailValid"
												@click="sendTestEmailRequest"
												color="primary"
											>Send Test</v-btn>
										</template>
									</v-text-field>
								</v-col>
								<v-col cols="12">
									<p class="title red--text">{{responseMessage}}</p>
								</v-col>
								<v-col v-if="!isEditting" cols="12" class="d-flex justify-space-between">
									<v-btn
										:disabled="!valid"
										class="px-8 title white--text font-weight-light"
										color="deep-purple accent-2"
										@click="register()"
									>Create</v-btn>
								</v-col>
								<v-col v-if="isEditting" cols="12" class="d-flex justify-space-between">
									<v-btn
										:disabled="!valid"
										class="px-8 title white--text font-weight-light"
										color="deep-purple accent-2"
										@click="updateRequest()"
									>Save</v-btn>
									<v-btn
										text
										class="px-8 title white--text font-weight-light"
										color="deep-purple accent-2"
										@click="resetData()"
									>Cancel</v-btn>
								</v-col>
							</v-row>
						</v-container>
					</v-form>
				</v-card>
			</div>
		</v-col>
		<v-dialog v-model="dialog" max-width="290">
			<v-card>
				<v-card-title class="headline">Delete</v-card-title>

				<v-card-text class="headline">Do you want to delete {{deletedName}} ?</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn color="primary" @click="deleteRequest()">Delete</v-btn>

					<v-btn color="#90A4AE" text @click="dialog = false">Cancel</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
	data() {
		return {
			id: null,
			port: null,
			host: null,
			hostItems: [
				"smtp.gmail.com",
				"smtp.live.com",
				"smtp.mail.yahoo.com"
			],
			valid: false,
			show2: false,
			name: "",
			nameRules: [v => !!v || "Please insert Name"],
			email: "",
			testEmail: "",
			emailRules: [
				v => !!v || "Please insert Email",
				v =>
					/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
						v
					) || "Invalid Email"
			],
			password: "",
			passwordRules: [v => !!v || "Please insert Password"],
			responseMessage: "",
			isEditting: false,
			dialog: false,
			deletedName: ""
		};
	},
	mounted() {
		this.getData();
	},
	computed: {
		...mapGetters({
			smtps: "smtp/smtps",
			smtp: "smtp/smtp"
		}),
		isTestEmailValid() {
			return (
				/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
					this.testEmail
				) &&
				/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
					this.email
				) &&
				this.host &&
				this.port &&
				this.password
			);
		},

		testEmailRule() {
			if (this.testEmail) {
				if (
					/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
						this.testEmail
					)
				) {
					return "";
				} else {
					return "Invalid Email";
				}
			} else {
				return "";
			}
		},
		suggestHostAndPort() {
			if (this.email) {
				if (this.email.indexOf("@gmail.com")) {
					this.host = "smtp.gmail.com";
					this.port = "587";
				} else if (this.email.indexOf("@yahoo.com")) {
					this.host = "smtp.mail.yahoo.com";
					this.port = "465";
				} else if (this.email.indexOf("@outlook.com")) {
					this.host = "smtp.live.com";
					this.port = "587";
				}
			}
		}
	},
	methods: {
		...mapActions({
			sendTestEmail: "smtp/sendTestEmail",
			create: "smtp/create",
			getAll: "smtp/getAll",
			update: "smtp/update",
			delete: "smtp/delete"
		}),
		resetData() {
			this.id = null;
			this.name = "";
			this.host = "";
			this.port = "";
			this.email = "";
			this.testEmail = "";
			this.password = "";
			this.isEditting = false;
			this.deletedName = "";
			this.$refs.formRegister.resetValidation();
		},
		async getData() {
			try {
				const result = await this.getAll();
				if (result.status !== 200) {
					//close Loading
				}
			} catch (err) {
				console.error(err);
				if (err.response) {
					this.$toast.error("Get SMTP Failed!", "Error", {
						position: "topRight"
					});
				}
			}
		},
		async register() {
			if (this.$refs.formRegister.validate()) {
				let smtp = {
					name: this.name,
					email: this.email,
					host: this.host,
					port: this.port,
					password: this.password
				};
				try {
					const result = await this.create(smtp);
					if (result.status === 200) {
						this.$toast.success(
							"Successfully created SMTP!",
							"OK",
							{
								position: "topRight"
							}
						);
						this.responseMessage = "";
						this.resetData();
						this.$refs.formRegister.resetValidation();
					}
				} catch (err) {
					console.error(err);
					if (err.response) {
						this.responseMessage = err.response.data;
					}
				}
			}
		},

		showPort(hostName) {
			if (hostName == "smtp.gmail.com") {
				this.port = "587";
				console.log(this.port);
			} else if (hostName == "smtp.live.com") {
				this.port = "995";
			} else {
				this.port = "465";
			}
		},

		async sendTestEmailRequest() {
			try {
				let smtpModel = {
					name: this.name,
					host: this.host,
					port: this.port,
					email: this.email,
					password: this.password,
					toEmail: this.testEmail
				};
				const result = await this.sendTestEmail(smtpModel);
				if (result.status === 200) {
					this.responseMessage = "";
					this.$toast.success("Successfully send test email!", "OK", {
						position: "topRight"
					});
				}
			} catch (err) {
				if (err.response) {
					this.responseMessage = err.response.data;
				}
			}
		},

		edit(smtp) {
			this.isEditting = true;
			this.id = smtp.id;
			this.name = smtp.name;
			this.host = smtp.host;
			this.port = smtp.port;
			this.email = smtp.email;
			this.password = smtp.password;
		},

		async updateRequest() {
			try {
				let smtpModel = {
					id: this.id,
					name: this.name,
					host: this.host,
					port: this.port,
					email: this.email,
					password: this.password,
					toEmail: this.testEmail
				};
				const result = await this.update(smtpModel);
				if (result.status === 200) {
					this.responseMessage = "";
					this.$toast.success("Successfully update SMTP!", "OK", {
						position: "topRight"
					});
					this.resetData();
					this.$refs.formRegister.resetValidation();
				}
			} catch (err) {
				if (err.response) {
					this.responseMessage = err.response.data;
				}
			}
		},

		showDeleteConfirm(smtp) {
			this.deletedName = smtp.name;
			this.dialog = true;
			this.id = smtp.id;
		},

		async deleteRequest() {
			try {
				const result = await this.delete(this.id);
				if (result.status === 200) {
					this.$toast.success("Successfully delete SMTP!", "OK", {
						position: "topRight"
					});
					this.resetData();
					this.dialog = false;
				}
			} catch (err) {
				console.error(err);
				this.$toast.success("Delete SMTP Failed!", "OK", {
						position: "topRight"
					});
			}
		}

	}
};
</script>