<template>
	<div class="pa-8">
		<div class="mb-4">
			<v-btn
				@click="addNew"
				outlined
				color="white"
				class="deep-purple--text text--accent-2 title"
			>Add New</v-btn>
		</div>
		<div class="d-flex justify-start">
			<v-row>
				<v-col xs="6" md="4" lg="3" v-for="(template, index) in templates" :key="index">
					<v-card max-width="344">
						<!-- <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px"></v-img> -->

						<v-card-title>
							<div>{{template.name}}</div>
						</v-card-title>

						<v-card-actions>
							<v-btn text color="purple" @click="edit(template)">Edit</v-btn>

							<v-btn text color="red" @click="showDeleteConfirm(template)">Delete</v-btn>

							<div class="flex-grow-1"></div>

							<v-btn icon @click="show = !show">
								<v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
							</v-btn>
						</v-card-actions>

						<v-expand-transition>
							<div v-show="show">
								<v-card-text>I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.</v-card-text>
							</div>
						</v-expand-transition>
					</v-card>
				</v-col>
			</v-row>
		</div>
	</div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
export default {
	data: () => ({
		show: false
	}),
	mounted() {
		this.getData();
	},
	computed: {
		...mapGetters({
			templates: "template/templates"
		})
	},
	methods: {
		...mapActions({
			getTemplates: "template/getTemplates",
			getTemplate: "template/getTemplate",
			deleteTemplate: "template/deleteTemplate"
		}),
		addNew() {
			this.$store.state.editor.content = "<p></p>";
			this.$store.state.editor.documents = [];
			this.$store.state.editor.insertedHeaders = [];
			this.$store.state.template.template = {
				name: "Template " + new Date().toISOString().substr(0, 10)
			}
			this.$router.push("/editor");
		},
		showDeleteConfirm(template) {
			let self = this;
			this.$toast.question("Are you want to delete template: " + template.name, "Confirm", {
				timeout: false,
				close: false,
				overlay: true,
				id: "question",
				position: "topCenter",
				buttons: [
					[
						"<button><b>Yes</b></button>",
						function(instance, toast) {
							instance.hide(
								{ transitionOut: "fadeOut" },
								toast,
								"button"
							);
							self.deleteTemplateRequest(template.id);
						},
						true
					],
					[
						"<button>No</button>",
						function(instance, toast) {
							instance.hide(
								{ transitionOut: "fadeOut" },
								toast,
								"button"
							);
						}
					]
				]
			});
		},
		async deleteTemplateRequest(id) {
			try {
				const result = await this.deleteTemplate(id);
				if (result.status === 200) {
					this.$toast.success("Successfully deleted template!", "OK", {
						position: "topRight"
					});
				}
			} catch (err) {
				this.$toast.error("Delete template failed!", "Error", {
					position: "topRight"
				});
				console.log(err.response);
			}
		},
		async getData() {
			try {
				let result = await this.getTemplates();
				if (result.status === 200) {
					//Close Loading
				}
			} catch (err) {
				this.$toast.error('Get Templates failed!', 'Error', {
							position: "topRight"
						});
				console.error(err.response);
			}
		},
		async edit(template) {
			try {
				const result = await this.getTemplate(template.id);
				if (result.status === 200) {
					this.$store.dispatch("editor/setContent", result.data.templateContent);
					this.$router.push("/editor");
				} else {
					alert("Get Template Fail");
				}
			} catch (err) {
				this.$toast.error('Get Template failed!', 'Error', {
							position: "topRight"
						});
				console.error(err.response);
			}
		}
	}
};
</script>

<style>
</style>