<template>
    <div class="user-container">
        <div class="left">
            <Navigation></Navigation>
        </div>
        <div class="right">
<v-container style="min-height: 100%" class="px-6 d-flex flex-column">
    <HeaderComponent></HeaderComponent>
            <router-view></router-view>
</v-container>
        </div>
    </div>
</template>
<style lang="scss" scoped>
.user-container {
    height: 100vh;
    display: flex;
    .left {
        width: fit-content;
    }
    .right {
        flex-grow: 1;
        background: #f8f8f8;
        overflow-y: auto;
    }
}
</style>

<script>
import Navigation from "@/components/user/Navigation";
import HeaderComponent from "@/components/HeaderComponent";
export default {
    components: {
        Navigation,
        HeaderComponent
    }
};
</script>

