<template>
	<v-app>
		<router-view></router-view>
	</v-app>
</template>
<style>
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5% !important;
	overflow-y: auto !important;
}
</style>
<script>
export default {
	name: "App",
	data: () => ({
		//
	}),
	created() {
		// Notification.requestPermission()
		// 	.then(permission => {
		// 		if (permission === "granted") {
		// 			console.log("Notification permission granted.");
		// 		} else {
		// 			console.log("Unable to get permission to notify.");
		// 			console.log(permission);
		// 		}
		// 	})
		// 	.catch(err => {
		// 		console.log(err);
		// 		// this.$notification.new(
		// 		// 	"Vui lòng cấp quyền truy cập thông báo để nhận được thông tin mới nhất nhanh chóng"
		// 		// );
		// 	});

		// this.$messaging.onMessage(payload => {
		// 	console.log("On Messege", payload);
		// 	const notificationTitle = "E-Broker thông báo";
		// 	const notificationOptions = {
		// 		body: payload.notification.body,
		// 		//icon: "/static/images/logo.png"
		// 	};
		// 	new Notification(notificationTitle, notificationOptions);
		// 	//this.getNotification(this.loggedUser.access_token);
		// });

		// this.$messaging
		// 	.getToken()
		// 	.then(currentToken => {
		// 		console.log("ADAsd");
		// 		if (currentToken) {
		// 			console.log(currentToken);
		// 			// sendTokenToServer(currentToken);
		// 			// updateUIForPushEnabled(currentToken);
		// 		} else {
		// 			// Show permission request.
		// 			console.log(
		// 				"No Instance ID token available. Request permission to generate one."
		// 			);
		// 			// Show permission UI.
		// 			// updateUIForPushPermissionRequired();
		// 			// setTokenSentToServer(false);
		// 		}
		// 	})
		// 	.catch(err => {
		// 		console.log("An error occurred while retrieving token. ", err);
		// 		//   showToken('Error retrieving Instance ID token. ', err);
		// 		//   setTokenSentToServer(false);
		// 	});
		// this.$messaging.onTokenRefresh(() => {
		// 	this.$messaging
		// 		.getToken()
		// 		.then(refreshedToken => {
		// 			console.log("Token refreshed.");
		// 			console.log(refreshedToken);
		// 			// if (this.loggedUser) {
		// 			// 	// this.registerFirebaseToken({
		// 			// 	// 	username: this.loggedUser.username,
		// 			// 	// 	webToken: refreshedToken
		// 			// 	// });
		// 			// }
		// 		})
		// 		.catch(err => {
		// 			console.log("Unable to retrieve refreshed token ", err);
		// 		});
		// });
	}
};
</script>
